<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2020 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<md-button ng-click="onDeleteIntegration({event: $event})"
           ng-if="'integration' | hasGenericPermission:'delete'"
           ng-show="!isEdit" class="md-raised md-primary">{{ 'integration.delete' | translate }}</md-button>

<div layout="row">
    <md-button ngclipboard data-clipboard-action="copy"
               ngclipboard-success="onIntegrationIdCopied(e)"
               data-clipboard-text="{{integration.id.id}}" ng-show="!isEdit"
               class="md-raised">
        <md-icon md-svg-icon="mdi:clipboard-arrow-left"></md-icon>
        <span translate>integration.copyId</span>
    </md-button>
</div>

<md-content class="md-padding tb-integration-form" layout="column">
    <fieldset ng-disabled="$root.loading || !isEdit">
        <md-input-container class="md-block">
            <label translate>integration.name</label>
            <input required name="name" ng-model="integration.name">
            <div ng-messages="theForm.name.$error">
                <div translate ng-message="required">integration.name-required</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label translate>integration.type</label>
            <md-select name="type" aria-label="{{ 'integration.type' | translate }}" ng-disabled="$root.loading || !isEdit"
                       ng-model="integration.type" ng-change="integrationTypeChanged()" required>
                <md-option ng-repeat="type in types.integrationType" ng-value="type.value">
                    {{type.name | translate}}
                </md-option>
            </md-select>
            <div ng-messages="theForm.type.$error">
                <div translate ng-message="required">integration.type-required</div>
            </div>
        </md-input-container>
        <div layout="row" layout-gt-sm="row">
            <md-input-container class="md-block" flex="50">
                <md-checkbox ng-disabled="$root.loading || !isEdit" aria-label="{{ 'integration.enabled' | translate }}"
                             ng-model="integration.enabled">{{ 'integration.enabled' | translate }}
                </md-checkbox>
            </md-input-container>
            <md-input-container>
                <md-checkbox ng-disabled="$root.loading || !isEdit" aria-label="{{ 'integration.debug-mode' | translate }}"
                             ng-model="integration.debugMode">{{ 'integration.debug-mode' | translate }}
                </md-checkbox>
            </md-input-container>
        </div>
        <tb-converter-autocomplete the-form="theForm"
                                ng-disabled="$root.loading || !isEdit"
                                tb-required="true"
                                converter-type="types.converterType.UPLINK.value"
                                ng-model="integration.defaultConverterId"
                                label-text="'integration.uplink-converter'"
                                required-text="'integration.uplink-converter-required'"
                                use-full-entity-id="true">
        </tb-converter-autocomplete>
        <tb-converter-autocomplete the-form="theForm"
                                   ng-disabled="$root.loading || !isEdit"
                                   tb-required="false"
                                   converter-type="types.converterType.DOWNLINK.value"
                                   ng-model="integration.downlinkConverterId"
                                   label-text="'integration.downlink-converter'"
                                   use-full-entity-id="true">
        </tb-converter-autocomplete>
        <md-switch ng-disabled="$root.loading || !isEdit || types.integrationType[integration.type].remote" aria-label="{{ 'integration.execute-remotely' | translate }}"
                   ng-model="integration.remote">{{ 'integration.execute-remotely' | translate }}
        </md-switch>
    </fieldset>
    <md-card ng-show="integration.remote">
        <md-card-content>
            <md-card-title-text>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label translate>integration.integration-key</label>
                        <input ng-model="integration.routingKey" disabled>
                    </md-input-container>
                    <md-button class="md-icon-button" style="margin-top: 14px;"
                               ngclipboard
                               data-clipboard-text="{{ integration.routingKey }}"
                               ngclipboard-success="onIntegrationInfoCopied('key')">
                        <md-icon md-svg-icon="mdi:clipboard-arrow-left"></md-icon>
                        <md-tooltip md-direction="top">
                            {{ 'integration.copy-integration-key' | translate }}
                        </md-tooltip>
                    </md-button>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label translate>integration.integration-secret</label>
                        <input ng-model="integration.secret" disabled>
                    </md-input-container>
                    <md-button class="md-icon-button" style="margin-top: 14px;"
                               ngclipboard
                               data-clipboard-text="{{ integration.secret }}"
                               ngclipboard-success="onIntegrationInfoCopied('secret')">
                        <md-icon md-svg-icon="mdi:clipboard-arrow-left"></md-icon>
                        <md-tooltip md-direction="top">
                            {{ 'integration.copy-integration-secret' | translate }}
                        </md-tooltip>
                    </md-button>
                </div>
            </md-card-title-text>
        </md-card-content>
    </md-card>
    <tb-integration-http
            ng-if="types.integrationType[integration.type].http"
            is-edit="isEdit"
            ng-model="integration.configuration"
            integration-type="integration.type"
            routing-key="integration.routingKey"
    >
    </tb-integration-http>
    <tb-integration-mqtt
            ng-if="integration.type == types.integrationType.MQTT.value"
            is-edit="isEdit"
            ng-model="integration.configuration"
    >
    </tb-integration-mqtt>
    <tb-integration-opc-ua
            ng-if="integration.type == types.integrationType.OPC_UA.value"
            is-edit="isEdit"
            ng-model="integration.configuration"
    >
    </tb-integration-opc-ua>
    <tb-integration-aws-kinesis
            ng-if="integration.type == types.integrationType.AWS_KINESIS.value"
            is-edit="isEdit"
            ng-model="integration.configuration"
    >
    </tb-integration-aws-kinesis>
    <tb-integration-aws-iot
            ng-if="integration.type == types.integrationType.AWS_IOT.value"
            is-edit="isEdit"
            ng-model="integration.configuration"
    >
    </tb-integration-aws-iot>
    <tb-integration-aws-sqs
            ng-if="integration.type == types.integrationType.AWS_SQS.value"
            is-edit="isEdit"
            ng-model="integration.configuration"
    >
    </tb-integration-aws-sqs>
    <tb-integration-ibm-watson-iot
            ng-if="integration.type == types.integrationType.IBM_WATSON_IOT.value"
            is-edit="isEdit"
            ng-model="integration.configuration"
    >
    </tb-integration-ibm-watson-iot>
    <tb-integration-ttn
            ng-if="integration.type == types.integrationType.TTN.value"
            is-edit="isEdit"
            ng-model="integration.configuration"
    >
    </tb-integration-ttn>
    <tb-integration-azure-event-hub
            ng-if="integration.type == types.integrationType.AZURE_EVENT_HUB.value"
            is-edit="isEdit"
            ng-model="integration.configuration"
    >
    </tb-integration-azure-event-hub>
    <tb-integration-tcp
            ng-if="integration.type == types.integrationType.TCP.value"
            is-edit="isEdit"
            ng-model="integration.configuration"
    >
    </tb-integration-tcp>
    <tb-integration-udp
            ng-if="integration.type == types.integrationType.UDP.value"
            is-edit="isEdit"
            ng-model="integration.configuration"
    >
    </tb-integration-udp>
    <tb-integration-kafka
            ng-if="integration.type == types.integrationType.KAFKA.value"
            is-edit="isEdit"
            ng-model="integration.configuration"
    >
    </tb-integration-kafka>
    <tb-integration-custom
            ng-if="integration.type == types.integrationType.CUSTOM.value"
            is-edit="isEdit"
            ng-model="integration.configuration"
    >
    </tb-integration-custom>
    <fieldset ng-disabled="$root.loading || !isEdit">
        <md-input-container class="md-block">
            <label translate>integration.description</label>
            <textarea ng-model="integration.additionalInfo.description" rows="2"></textarea>
        </md-input-container>
        <md-expansion-panel-group class="tb-integration-panel-group" ng-class="{'disabled': $root.loading || !isEdit}" md-component-id="metadataPanelGroup">
            <md-expansion-panel md-component-id="{{metadataPanelId}}">
                <md-expansion-panel-collapsed>
                    <div class="tb-panel-title">{{ 'integration.metadata' | translate }}</div>
                    <span flex></span>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-collapsed>
                <md-expansion-panel-expanded>
                    <md-expansion-panel-header ng-click="$mdExpansionPanel(metadataPanelId).collapse()">
                        <div class="tb-panel-title">{{ 'integration.metadata' | translate }}</div>
                        <span flex></span>
                        <md-expansion-panel-icon></md-expansion-panel-icon>
                    </md-expansion-panel-header>
                    <md-expansion-panel-content>
                        <tb-key-val-map title-text="integration.metadata" ng-disabled="$root.loading || !isEdit"
                                   key-val-map="integration.configuration.metadata"></tb-key-val-map>
                    </md-expansion-panel-content>
                </md-expansion-panel-expanded>
            </md-expansion-panel>
        </md-expansion-panel-group>
    </fieldset>
</md-content>
