<!--

    Thingsboard OÜ ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2017 Thingsboard OÜ. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of Thingsboard OÜ and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Thingsboard OÜ
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<md-button ng-click="onDeleteIntegration({event: $event})" ng-show="!isEdit" class="md-raised md-primary">{{ 'integration.delete' | translate }}</md-button>

<div layout="row">
    <md-button ngclipboard data-clipboard-action="copy"
               ngclipboard-success="onIntegrationIdCopied(e)"
               data-clipboard-text="{{integration.id.id}}" ng-show="!isEdit"
               class="md-raised">
        <md-icon md-svg-icon="mdi:clipboard-arrow-left"></md-icon>
        <span translate>integration.copyId</span>
    </md-button>
</div>

<md-content class="md-padding" layout="column">
    <fieldset ng-disabled="loading || !isEdit">
        <md-input-container class="md-block">
            <label translate>integration.name</label>
            <input required name="name" ng-model="integration.name">
            <div ng-messages="theForm.name.$error">
                <div translate ng-message="required">integration.name-required</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label translate>integration.type</label>
            <md-select name="type" aria-label="{{ 'integration.type' | translate }}" ng-disabled="loading || !isEdit"
                       ng-model="integration.type" ng-change="integrationTypeChanged()" required>
                <md-option ng-repeat="type in types.integrationType" ng-value="type.value">
                    {{type.name | translate}}
                </md-option>
            </md-select>
            <div ng-messages="theForm.type.$error">
                <div translate ng-message="required">integration.type-required</div>
            </div>
        </md-input-container>
        <tb-entity-autocomplete the-form="theForm"
                                ng-disabled="loading || !isEdit"
                                tb-required="true"
                                entity-type="types.entityType.converter"
                                ng-model="integration.defaultConverterId"
                                label-text="'integration.default-converter'"
                                required-text="'integration.default-converter-required'"
                                use-full-entity-id="true">
        </tb-entity-autocomplete>
    </fieldset>
    <section layout="column" ng-if="types.integrationType[integration.type].http">
        <fieldset ng-disabled="loading || !isEdit">
            <md-input-container class="md-block">
                <label translate>integration.base-url</label>
                <input required name="baseUrl" ng-model="integration.configuration.baseUrl" ng-change="integrationBaseUrlChanged()">
                <div ng-messages="theForm.baseUrl.$error">
                    <div translate ng-message="required">integration.base-url-required</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label translate>integration.security-key</label>
                <input name="securityKey" ng-model="integration.configuration.securityKey">
            </md-input-container>
        </fieldset>
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label translate>integration.http-endpoint</label>
                <input ng-model="httpEndpoint" disabled>
            </md-input-container>
            <md-button class="md-icon-button" style="margin-top: 14px;"
                       ngclipboard
                       data-clipboard-text="{{ httpEndpoint }}"
                       ngclipboard-success="onHttpEndpointCopied(e)">
                <md-icon md-svg-icon="mdi:clipboard-arrow-left"></md-icon>
                <md-tooltip md-direction="top">
                    {{ 'integration.copy-http-endpoint-url' | translate }}
                </md-tooltip>
            </md-button>
        </div>
    </section>
    <fieldset ng-disabled="loading || !isEdit">
        <md-input-container class="md-block">
            <label translate>integration.description</label>
            <textarea ng-model="integration.additionalInfo.description" rows="2"></textarea>
        </md-input-container>
    </fieldset>
</md-content>
