<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2023 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<form class="tb-converter-test-dialog"
      [formGroup]="converterTestFormGroup" (ngSubmit)="save()">
  <mat-toolbar fxLayout="row" color="primary">
    <h2>{{ (isDecoder ? 'converter.test-decoder-fuction' : 'converter.test-encoder-fuction') | translate }} ({{ (scriptLang === scriptLanguage.JS ? 'rulenode.script-lang-java-script' : 'rulenode.script-lang-tbel') | translate }})</h2>
    <span fxFlex></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-content fxFlex style="position: relative;">
    <div class="tb-absolute-fill">
      <div #topPanel class="tb-split tb-split-vertical">
        <div #topLeftPanel class="tb-split tb-content">
          <div class="tb-resize-container">
            <div class="tb-editor-area-title-panel">
              <label>{{ (isDecoder ? 'converter.payload' : 'converter.message') | translate }}</label>
            </div>
            <div formGroupName="payload" fxLayout="column" style="height: 100%;">
              <div fxLayout="row">
                <mat-form-field *ngIf="isDecoder" class="mat-block" style="margin-bottom: 0px; min-width: 200px;">
                  <mat-label translate>converter.payload-content-type</mat-label>
                  <mat-select matInput formControlName="contentType">
                    <mat-option *ngFor="let type of contentTypes" [value]="type">
                      {{contentTypesInfoMap.get(type).name | translate}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="!isDecoder" class="mat-block" style="margin-bottom: 0px; min-width: 300px;">
                  <mat-label translate>converter.message-type</mat-label>
                  <input matInput formControlName="msgType" required>
                  <mat-error *ngIf="converterTestFormGroup.get('payload').get('msgType').hasError('required')">
                    {{ 'converter.message-type-required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <tb-json-content
                #payloadContent
                fxFlex
                formControlName="stringContent"
                label="{{(isDecoder ? 'converter.payload-content' : 'converter.message') | translate}}"
                [contentType]="converterTestFormGroup.get('payload').get('contentType').value"
                [validateContent]="converterTestFormGroup.get('payload').get('contentType').value === contentType.JSON"
                [fillHeight]="true">
              </tb-json-content>
            </div>
          </div>
        </div>
        <div #topRightPanel class="tb-split tb-content">
          <div class="tb-resize-container" fxLayout="row">
            <div class="tb-editor-area-title-panel">
              <label translate>converter.metadata</label>
            </div>
            <div fxFlex tb-toast toastTarget="metadataPanel">
              <tb-key-val-map
                subscriptSizing="dynamic"
                formControlName="metadata"
                titleText="converter.metadata">
              </tb-key-val-map>
            </div>
            <div fxFlex *ngIf="!isDecoder" tb-toast toastTarget="integrationMetadataPanel">
              <tb-key-val-map
                subscriptSizing="dynamic"
                formControlName="integrationMetadata"
                titleText="converter.integration-metadata">
              </tb-key-val-map>
            </div>
          </div>
        </div>
      </div>
      <div #bottomPanel class="tb-split tb-split-vertical">
        <div #bottomLeftPanel class="tb-split tb-content">
          <div class="tb-resize-container">
            <div class="tb-editor-area-title-panel tb-js-function" [ngClass]="{'tb-js-function-help': wl.isEnableHelpLinks()}">
              <label>{{ (isDecoder ? 'converter.decoder' : 'converter.encoder') | translate }}</label>
            </div>
            <tb-js-func
              formControlName="funcBody"
              functionName="{{isDecoder ? 'Decoder' : 'Encoder'}}"
              [functionArgs]="isDecoder ? ['payload', 'metadata'] : ['msg', 'metadata', 'msgType', 'integrationMetadata']"
              [validationArgs]="isDecoder ? [converterTestFormGroup.get('payload').get('payload').value,
                                             converterTestFormGroup.get('metadata').value]
                                          : [converterTestFormGroup.get('payload').get('msg').value,
                                             converterTestFormGroup.get('metadata').value,
                                             converterTestFormGroup.get('payload').get('msgType').value,
                                             converterTestFormGroup.get('integrationMetadata').value]"
              [disableUndefinedCheck]="scriptLang === scriptLanguage.TBEL"
              resultType="object"
              helpId="{{scriptLang === scriptLanguage.TBEL ? (isDecoder ? 'converter/tbel/decoder_fn' : 'converter/tbel/encoder_fn') : (isDecoder ? 'converter/decoder_fn' : 'converter/encoder_fn')}}"
              [fillHeight]="true">
            </tb-js-func>
          </div>
        </div>
        <div #bottomRightPanel class="tb-split tb-content">
          <div class="tb-resize-container">
            <div class="tb-editor-area-title-panel">
              <label translate>converter.output</label>
            </div>
            <tb-json-content
              fxFlex
              formControlName="output"
              label="{{ 'converter.output' | translate }}"
              [contentType]="contentType.JSON"
              validateContent="false"
              readonly="true"
              [fillHeight]="true">
            </tb-json-content>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions fxLayout="row">
    <button mat-button mat-raised-button color="primary"
            type="button"
            (click)="test()"
            [disabled]="(isLoading$ | async) || converterTestFormGroup.invalid">
      {{ 'converter.test' | translate }}
    </button>
    <span fxFlex></span>
    <button mat-button color="primary"
            type="button"
            cdkFocusInitial
            [disabled]="(isLoading$ | async)"
            (click)="cancel()">
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || converterTestFormGroup.get('funcBody').invalid || !converterTestFormGroup.get('funcBody').dirty">
      {{ 'action.save' | translate }}
    </button>
  </div>
</form>
