<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2023 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<ng-container *ngIf="panelMode; else componentMode">
  <ng-container *ngTemplateOutlet="alarmFilterPanel"></ng-container>
</ng-container>
<ng-template #componentMode>
  <ng-container *ngIf="buttonMode; else alarmFilter">
    <button color="primary"
            matTooltip="{{buttonDisplayValue}}"
            matTooltipPosition="above"
            mat-stroked-button
            (click)="toggleAlarmFilterPanel($event)">
      <mat-icon>filter_list</mat-icon>{{buttonDisplayValue}}
    </button>
  </ng-container>
</ng-template>
<ng-template #alarmFilterPanel>
  <form fxLayout="column" class="mat-content mat-padding" (ngSubmit)="update()">
    <ng-container *ngTemplateOutlet="alarmFilter"></ng-container>
    <div fxLayout="row" class="tb-panel-actions" fxLayoutAlign="end center">
      <button type="button"
              mat-button
              (click)="cancel()">
        {{ 'action.cancel' | translate }}
      </button>
      <button type="submit"
              mat-raised-button
              color="primary"
              [disabled]="alarmFilterConfigForm.invalid || !alarmFilterConfigForm.dirty">
        {{ 'action.update' | translate }}
      </button>
    </div>
  </form>
</ng-template>
<ng-template #alarmFilter>
  <div fxLayout="column" fxLayoutAlign="center" [formGroup]="alarmFilterConfigForm">
    <div fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start start"
         fxLayoutGap.gt-xs="8px">
      <mat-form-field fxFlex class="mat-block" floatLabel="always">
        <mat-label translate>alarm.alarm-status-list</mat-label>
        <mat-select formControlName="statusList" multiple
                    placeholder="{{ !alarmFilterConfigForm.get('statusList').value?.length ? ('alarm.any-status' | translate) : '' }}">
          <mat-option *ngFor="let searchStatus of alarmSearchStatuses" [value]="searchStatus">
            {{ alarmSearchStatusTranslationMap.get(searchStatus) | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex class="mat-block" floatLabel="always">
        <mat-label translate>alarm.alarm-severity-list</mat-label>
        <mat-select formControlName="severityList" multiple
                    placeholder="{{ !alarmFilterConfigForm.get('severityList').value?.length ? ('alarm.any-severity' | translate) : '' }}">
          <mat-option *ngFor="let alarmSeverity of alarmSeverities" [value]="alarmSeverity">
            {{ alarmSeverityTranslationMap.get(alarmSeverityEnum[alarmSeverity]) | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutAlign="center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start start"
         fxLayoutGap.gt-xs="8px">
      <mat-form-field fxFlex class="mat-block" floatLabel="always">
        <mat-label translate>alarm.alarm-type-list</mat-label>
        <mat-chip-grid #alarmTypeChipList formControlName="typeList">
          <mat-chip-row *ngFor="let type of alarmTypeList()"
                        [removable]="true" (removed)="removeAlarmType(type)">
            {{type}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip-row>
          <input placeholder="{{ !alarmFilterConfigForm.get('typeList').value?.length ? ('alarm.any-type' | translate) : '' }}"
                 [matChipInputFor]="alarmTypeChipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 matChipInputAddOnBlur
                 (matChipInputTokenEnd)="addAlarmType($event)">
        </mat-chip-grid>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutGap="16px">
      <mat-slide-toggle *ngIf="propagatedFilter" formControlName="searchPropagatedAlarms">
        {{ 'alarm.search-propagated-alarms' | translate }}
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="assignedToCurrentUser">
        {{ (userMode ? 'alarm.assigned-to-me' : 'alarm.assigned-to-current-user') | translate }}
      </mat-slide-toggle>
      <tb-alarm-assignee-select
        *ngIf="!alarmFilterConfigForm.get('assignedToCurrentUser').value" formControlName="assigneeId">
      </tb-alarm-assignee-select>
    </div>
  </div>
</ng-template>
