<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2018 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->

<md-content flex layout="column" class="tb-customers-hierarchy">
    <section class="tb-customers-hierarchy-container" flex layout="column">
        <div class="tb-customers-hierarchy-layout" flex layout="row">
            <section layout="row" layout-wrap
                     class="tb-header-buttons tb-customers-hierarchy-buttons md-fab tb-nav-tree-open">
                <md-button ng-show="!vm.isNavTreeOpen"
                           class="tb-btn-header tb-btn-open-nav-tree md-primary md-fab md-fab-top-left"
                           aria-label="{{ 'customers-hierarchy.open-nav-tree' | translate }}"
                           ng-click="vm.isNavTreeOpen = true">
                    <md-tooltip md-direction="{{vm.isFullscreen ? 'bottom' : 'top'}}">
                        {{ 'customers-hierarchy.open-nav-tree' | translate }}
                    </md-tooltip>
                    <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>
            </section>
            <md-sidenav class="tb-customers-nav-tree md-sidenav-left md-whiteframe-4dp"
                        md-disable-backdrop
                        md-is-locked-open="vm.isNavTreeOpenReadonly"
                        md-is-open="vm.isNavTreeOpenReadonly"
                        md-component-id="customers-nav-tree-sidenav" layout="column">
                <section layout="row" layout-wrap
                         class="tb-header-buttons tb-customers-hierarchy-buttons md-fab tb-customers-nav-tree-toolbar">
                    <md-button class="tb-btn-header tb-btn-close-nav-tree md-primary md-fab md-fab-top-right"
                               aria-label="Close" ng-click="vm.isNavTreeOpen = false">
                        <md-icon aria-label="Close" class="material-icons">chevron_left</md-icon>
                        <md-tooltip md-direction="{{vm.isFullscreen ? 'bottom' : 'top'}}">
                            {{ 'action.close' | translate }}
                        </md-tooltip>
                    </md-button>
                </section>
                <!--md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button tb-small" aria-label="Close" ng-click="vm.isNavTreeOpen = false">
                            <md-icon aria-label="Close" class="material-icons">chevron_left</md-icon>
                            <md-tooltip md-direction="{{vm.isFullscreen ? 'bottom' : 'top'}}">
                                {{ 'action.close' | translate }}
                            </md-tooltip>
                        </md-button>
                    </div>
                </md-toolbar-->
                <div flex class="tb-customers-nav-tree-panel">
                    <tb-nav-tree
                            load-nodes="vm.loadNodes"
                            on-node-selected="vm.onNodeSelected(node)"
                            edit-callbacks="vm.nodeEditCallbacks"
                    ></tb-nav-tree>
                </div>
            </md-sidenav>
            <div flex style="position: relative;">
                <md-content class="tb-absolute-fill tb-customers-hierarchy-content" layout="column">
                    <tb-customer-hierarchy-view-directive
                            flex
                            layout="column"
                            ng-show="vm.viewMode === 'groups' && !vm.viewLoading"
                            mode="groups"
                            state-params="vm.groupsStateParams"
                            locals="vm.groupsLocals">
                    </tb-customer-hierarchy-view-directive>
                    <tb-customer-hierarchy-view-directive
                            flex
                            layout="column"
                            ng-show="vm.viewMode === 'group' && !vm.viewLoading"
                            mode="group"
                            state-params="vm.groupStateParams"
                            locals="vm.groupLocals">
                    </tb-customer-hierarchy-view-directive>
                    <div ng-if="vm.viewLoading" flex layout="column" layout-align="center center" style="height: 100%;">
                        <md-progress-circular ng-disabled="!vm.viewLoading" md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="120"></md-progress-circular>
                    </div>
                </md-content>
            </div>
        </div>
    </section>
</md-content>
