<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2021 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<section [formGroup]="resourceFormGroup">
  <div fxLayout="row" fxFill formArrayName="resources"
       *ngFor="let resourceLwM2M of resourceFormArray.controls; let i = index; trackBy: trackByParams">
    <div class="vertical-padding" fxLayout="column" fxFill [formGroupName]="i">
      <div fxLayout="row" fxFill fxLayoutAlign="start center" [fxShow]="!i">
        <div fxFlex="30">
            <mat-label translate>device-profile.lwm2m.resource-label</mat-label>
        </div>
        <div fxFlex="10" style="text-align: center">
            <mat-label translate>device-profile.lwm2m.attribute-label</mat-label>
        </div>
        <div fxFlex="10" style="text-align: center">
            <mat-label translate>device-profile.lwm2m.telemetry-label</mat-label>
        </div>
        <div fxFlex="10" style="text-align: center">
          <mat-label translate>device-profile.lwm2m.observe-label</mat-label>
        </div>
        <div fxFlex>
            <mat-label translate>device-profile.lwm2m.key-name-label</mat-label>
        </div>
      </div>
      <div fxLayout="row" fxFill fxLayoutAlign="start center">
        <div class="resource-name-lw" fxFlex="30"
             matTooltip="{{'device-profile.lwm2m.resource-tip' | translate}}" matTooltipPosition="above">
          <<b>{{resourceLwM2M.get('id').value}}</b>> <b><i>{{resourceLwM2M.get('name').value}}</i></b>
        </div>
        <div fxFlex="10" fxLayoutAlign="center center">
          <mat-checkbox formControlName="attribute" color="warn"
                        (change)="updateObserve(i)"
                        matTooltip="{{'device-profile.lwm2m.is-attr-tip' | translate}}"
                        matTooltipPosition="above">
          </mat-checkbox>
        </div>
        <div fxFlex="10" fxLayoutAlign="center center">
          <mat-checkbox formControlName="telemetry" color="primary"
                        (change)="updateObserve(i)"
                        matTooltip="{{'device-profile.lwm2m.is-telemetry-tip' | translate}}"
                        matTooltipPosition="above">
          </mat-checkbox>
        </div>
        <div fxFlex="10" fxLayoutAlign="center center">
          <mat-checkbox formControlName="observe" color="primary"
                        [disabled]="disableObserve(i)"
                        matTooltip="{{(disableObserve(i) ? 'device-profile.lwm2m.not-observe-tip' : 'device-profile.lwm2m.is-observe-tip') | translate}}"
                        matTooltipPosition="above">
          </mat-checkbox>
        </div>
        <mat-form-field fxFlex="33">
          <mat-label  *ngIf="resourceLwM2M.get('keyName').hasError('required')">
            {{ 'device-profile.lwm2m.key-name-label' | translate }}</mat-label>
          <input  class="resource-name-lw" matInput type="text" formControlName="keyName" required
                 matTooltip="{{'device-profile.lwm2m.key-name-tip' | translate}}"
                 (input)="updateValueKeyName($event, i)"
                 matTooltipPosition="above">
          <mat-error *ngIf="resourceLwM2M.get('keyName').hasError('required')">
            {{ 'device-profile.lwm2m.key-name' | translate }}
            <strong>{{ 'device-profile.lwm2m.required' | translate }}</strong>
          </mat-error>
        </mat-form-field>
        <span fxFlex></span>
        <div class="resource-name-lw-end">
          <tb-profile-lwm2m-attributes
            formControlName="attributeLwm2m"
            [isAttributeTelemetry]="disableObserve(i)"
            isResource="true"
            [modelName]="getNameResourceLwm2m(resourceLwM2M.value)"
            [disabled]="this.disabled"
            (updateAttributeLwm2m)="updateAttributeLwm2m($event, i)">
          </tb-profile-lwm2m-attributes>
        </div>
      </div>
    </div>
  </div>
</section>
