<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2020 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<section [formGroup]="form" fxLayout="column">
    <fieldset >
        <mat-form-field class="mat-block">
            <mat-label translate>integration.base-url</mat-label>
            <input matInput formControlName="baseUrl" (change)="integrationBaseUrlChanged()">
            <div *ngIf="form.get('baseUrl')?.dirty">
                <mat-error translate *ngIf="form.get('baseUrl')?.errors?.required">integration.base-url-required
                </mat-error>
            </div>
        </mat-form-field>
        <div fxLayout="column">
            <mat-checkbox 
                aria-label="'integration.replace-no-content-to-ok | translate"
                formControlName="replaceNoContentToOk"> {{ 'integration.replace-no-content-to-ok' |
                translate }}
            </mat-checkbox>
        </div>
        <section *ngIf="integrationType === integrationTypes.HTTP ||
                                                integrationType === integrationTypes.SIGFOX">
            <mat-checkbox 
                aria-label="'integration.enable-security | translate" formControlName="enableSecurity"
                (change)="httpEnableSecurityChanged()">{{ 'integration.enable-security' | translate }}
            </mat-checkbox>
            <mat-accordion *ngIf="form.get('enableSecurity')?.value" class="tb-integration-panel-group header-filters"
                >
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div class="tb-panel-title">{{ 'integration.headers-filter' | translate }}</div>
                        <span fxFlex></span>

                    </mat-expansion-panel-header>
                    <tb-key-val-map noDataText="integration.no-headers-filter"
                        key-placeholder-text="integration.header" 
                        key-val-map="headersFilter"></tb-key-val-map>
                </mat-expansion-panel>
            </mat-accordion>
        </section>
        <section *ngIf="integrationType === integrationTypes.THINGPARK || integrationType === integrationTypes.TPE">
            <mat-form-field class="mat-block">
                <mat-label translate>integration.downlink-url</mat-label>
                <input matInput formControlName="downlinkUrl">
            </mat-form-field>
            <div fxLayout="row">
                <mat-checkbox 
                    aria-label="'integration.enable-security | translate" formControlName="enableSecurity"
                    (change)="thingparkEnableSecurityChanged()">{{ 'integration.enable-security' |
                        translate }}
                </mat-checkbox>
                <mat-form-field fxFlex class="mat-block" *ngIf="form.get('enableSecurity')?.value">
                    <mat-checkbox 
                        aria-label="'integration.enable-security-new | translate"
                        formControlName="enableSecurityNew">{{ 'integration.enable-security-new' |
                        translate}}
                    </mat-checkbox>
                </mat-form-field>
            </div>
            <section *ngIf="form.get('enableSecurity')?.value" fxLayout="column" fxLayout="row">
                <mat-form-field fxFlex *ngIf="!form.get('enableSecurityNew')?.value" class="mat-block">
                    <mat-label translate>integration.as-id</mat-label>
                    <input matInput required formControlName="asId">
                    <div *ngIf="form.get('asId')?.dirty">
                        <mat-error translate *ngIf="form.get('asId')?.errors?.required">integration.as-id-required
                        </mat-error>
                    </div>
                </mat-form-field>
                <mat-form-field fxFlex *ngIf="form.get('enableSecurityNew')?.value" class="mat-block">
                    <mat-label translate>integration.as-id</mat-label>
                    <input matInput required formControlName="asIdNew">
                </mat-form-field>
                <mat-form-field fxFlex class="mat-block">
                    <mat-label translate>integration.as-key</mat-label>
                    <input matInput required formControlName="asKey">
                    <div *ngIf="form.get('asKey')?.dirty">
                        <mat-error translate *ngIf="form.get('asKey')?.errors?.required">integration.as-key-required
                        </mat-error>
                    </div>
                </mat-form-field>
            </section>
            <section *ngIf="form.get('enableSecurityNew')?.value" fxLayout="column" fxLayout="row">
                <mat-form-field fxFlex class="mat-block">
                    <mat-label translate>integration.client-id-new</mat-label>
                    <input matInput required formControlName="clientIdNew">
                    <div *ngIf="form.get('clientIdNew')?.dirty">
                        <mat-error translate *ngIf="form.get('clientIdNew')?.errors?.required">
                            integration.client-id-new-required</mat-error>
                    </div>
                </mat-form-field>
                <mat-form-field fxFlex class="mat-block">
                    <mat-label translate>integration.client-secret</mat-label>
                    <input matInput required formControlName="clientSecret">
                    <div *ngIf="form.get('clientSecret')?.dirty">
                        <mat-error translate *ngIf="form.get('clientSecret')?.errors?.required">
                            integration.client-secret-required</mat-error>
                    </div>
                </mat-form-field>
            </section>
            <mat-form-field class="mat-block" *ngIf="form.get('enableSecurity')?.value">
                <mat-label translate>integration.max-time-diff-in-seconds</mat-label>
                <input matInput type="number" min="0" step="1" required formControlName="maxTimeDiffInSeconds">
                <div *ngIf="form.get('maxTimeDiffInSeconds')?.dirty">
                    <mat-error translate *ngIf="form.get('maxTimeDiffInSeconds')?.errors?.required">
                        integration.max-time-diff-in-seconds-required</mat-error>
                </div>
            </mat-form-field>
        </section>
    </fieldset>
    <div fxLayout="row">
        <mat-form-field class="mat-block" fxFlex>
            <mat-label translate>integration.http-endpoint</mat-label>
            <input matInput formControlName="httpEndpoint" disabled="true">
        </mat-form-field>
        <button mat-button mat-icon-button type="button" ngxClipboard (cbOnSuccess)="onHttpEndpointCopied()"
        [cbContent]="form.get('httpEndpoint')?.value"
        [matTooltip]="'integration.copy-http-endpoint-url' | translate">
        <mat-icon svgIcon="mdi:clipboard-arrow-left"></mat-icon>
      </button> 
    </div>
</section>