<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2018 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<tb-grid grid-configuration="vm.entityGroupGridConfig">
    <details-buttons tb-help="'entityGroups'" help-container-id="help-container">
        <div id="help-container"></div>
    </details-buttons>
    <md-tabs id="tabs" md-border-bottom flex class="tb-absolute-fill">
        <md-tab label="{{ 'entity-group.details' | translate }}">
            <tb-entity-group entity-group="vm.grid.operatingItem()"
                       is-edit="vm.grid.detailsConfig.isDetailsEditMode"
                       the-form="vm.grid.detailsForm"
                       on-delete-entity-group="vm.grid.deleteItem(event, vm.grid.detailsConfig.currentItem)"></tb-entity-group>
        </md-tab>
        <md-tab md-on-select="vm.grid.triggerResize()" label="{{ 'entity-group.columns' | translate }}">
            <tb-entity-group-columns
                    columns="vm.grid.operatingItem().configuration.columns"
                    entity-type="vm.grid.operatingItem().type"
                    is-edit="vm.grid.detailsConfig.isDetailsEditMode"
                    is-read-only="vm.grid.isDetailsReadOnly(vm.grid.operatingItem())"
                    the-form="vm.grid.detailsForm">
            </tb-entity-group-columns>
        </md-tab>
        <md-tab md-on-select="vm.grid.triggerResize()" label="{{ 'entity-group.settings' | translate }}">
            <tb-entity-group-settings
                    settings="vm.grid.operatingItem().configuration.settings"
                    entity-type="vm.grid.operatingItem().type"
                    is-edit="vm.grid.detailsConfig.isDetailsEditMode"
                    the-form="vm.grid.detailsForm">
            </tb-entity-group-settings>
        </md-tab>
        <md-tab md-on-select="vm.grid.triggerResize()" label="{{ 'entity-group.actions' | translate }}">
            <div class="md-padding">
                <tb-manage-widget-actions
                        ng-disabled="!vm.grid.detailsConfig.isDetailsEditMode"
                        action-types="vm.types.entityGroupActionTypes"
                        action-sources="vm.actionSources"
                        custom-function-args="['$event', '$injector', 'entityId', 'entityName']"
                        widget-actions="vm.grid.operatingItem().configuration.actions">
                </tb-manage-widget-actions>
            </div>
        </md-tab>
        <md-tab md-on-select="vm.grid.triggerResize()" label="{{ 'entity-group.roles' | translate }}" ng-if="vm.groupType === vm.types.entityType.user">
            <tb-group-permissions
                    entity-id="vm.grid.operatingItem().id.id"
                    group-type="{{vm.groupType}}">
            </tb-group-permissions>
        </md-tab>
        <md-tab ng-if="!vm.grid.detailsConfig.isDetailsEditMode  && (vm.grid.operatingItem() | hasEntityGroupPermission:'readAttributes')" md-on-select="vm.grid.triggerResize()" label="{{ 'attribute.attributes' | translate }}">
            <tb-attribute-table flex
                                readonly="!(vm.grid.operatingItem() | hasEntityGroupPermission:'writeAttributes')"
                                entity-id="vm.grid.operatingItem().id.id"
                                entity-type="{{vm.types.entityType.entityGroup}}"
                                entity-name="vm.grid.operatingItem().name"
                                default-attribute-scope="{{vm.types.attributesScope.server.value}}">
            </tb-attribute-table>
        </md-tab>
        <md-tab ng-if="!vm.grid.detailsConfig.isDetailsEditMode && (vm.grid.operatingItem() | hasEntityGroupPermission:'readTelemetry')" md-on-select="vm.grid.triggerResize()" label="{{ 'attribute.latest-telemetry' | translate }}">
            <tb-attribute-table flex
                                readonly="!(vm.grid.operatingItem() | hasEntityGroupPermission:'writeTelemetry')"
                                entity-id="vm.grid.operatingItem().id.id"
                                entity-type="{{vm.types.entityType.entityGroup}}"
                                entity-name="vm.grid.operatingItem().name"
                                default-attribute-scope="{{vm.types.latestTelemetry.value}}"
                                disable-attribute-scope-selection="true">
            </tb-attribute-table>
        </md-tab>
        <md-tab ng-if="!vm.grid.detailsConfig.isDetailsEditMode && vm.grid.isTenantAdmin() && ('auditLog' | hasGenericPermission:'read')" md-on-select="vm.grid.triggerResize()" label="{{ 'audit-log.audit-logs' | translate }}">
            <tb-audit-log-table flex entity-type="vm.types.entityType.entityGroup"
                                entity-id="vm.grid.operatingItem().id.id"
                                audit-log-mode="{{vm.types.auditLogMode.entity}}">
            </tb-audit-log-table>
        </md-tab>
    </md-tabs>
</tb-grid>
