<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2019 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<md-dialog class="tb-entity-group-column-dialog" aria-label="{{(vm.readOnly ? 'entity-group.column-details' : 'entity-group.edit-column') | translate}}"
           style="min-width: 600px;">
    <form name="theForm" ng-submit="vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ (vm.readOnly ? 'entity-group.column-details' : 'entity-group.edit-column') | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <ng-md-icon icon="close" aria-label="{{ 'action.close' | translate }}"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear class="md-warn" md-mode="indeterminate" ng-disabled="!$root.loading" ng-show="$root.loading"></md-progress-linear>
        <span style="min-height: 5px;" flex="" ng-show="!$root.loading"></span>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content class="md-padding" layout="column">
                    <fieldset ng-disabled="$root.loading || vm.readOnly" layout="column">
                        <md-input-container class="md-block">
                            <label translate>entity-group.column-type</label>
                            <md-select ng-disabled="$root.loading || vm.readOnly" required name="columnType"
                                       ng-model="vm.column.type" aria-label="{{ 'entity-group.column-type' | translate }}">
                                <md-option ng-repeat="type in vm.columnTypes" ng-value="type.value">
                                    {{type.name | translate}}
                                </md-option>
                            </md-select>
                            <div ng-messages="theForm.columnType.$error">
                                <div translate ng-message="required">entity-group.column-type-required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" ng-if="vm.column.type == vm.columnTypes.entityField.value">
                            <label translate>entity-group.column-value</label>
                            <md-select flex ng-disabled="$root.loading || vm.readOnly" required name="columnKey"
                                       ng-model="vm.column.key" aria-label="{{ 'entity-group.column-value' | translate }}">
                                <md-option ng-repeat="field in vm.entityField" ng-value="field.value">
                                    {{field.name | translate}}
                                </md-option>
                            </md-select>
                            <div ng-messages="theForm.columnKey.$error">
                                <div translate ng-message="required">entity-group.column-value-required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" ng-if="vm.column.type != vm.columnTypes.entityField.value">
                            <label translate>entity-group.column-value</label>
                            <input required name="columnKeyName"
                                   placeholder="{{ 'entity-group.column-value' | translate }}"
                                   ng-disabled="$root.loading || vm.readOnly"
                                   ng-model="vm.column.key"
                                   aria-label="{{ 'entity-group.column-value' | translate }}">
                            <div ng-messages="theForm.columnKeyName.$error">
                                <div translate ng-message="required">entity-group.column-value-required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>entity-group.column-title</label>
                            <input name="columnTitle"
                                   placeholder="{{ 'entity-group.column-title' | translate }}"
                                   ng-disabled="$root.loading || vm.readOnly"
                                   ng-model="vm.column.title"
                                   aria-label="{{ 'entity-group.column-title' | translate }}">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>entity-group.default-sort-order</label>
                            <md-select ng-disabled="$root.loading || vm.readOnly" required name="columnSortOrder"
                                       ng-change="vm.onDefaultSortOrderChanged({event: $event})"
                                       ng-model="vm.column.sortOrder" aria-label="{{ 'entity-group.default-sort-order' | translate }}">
                                <md-option ng-repeat="type in vm.sortOrder" ng-value="type.value">
                                    {{type.name | translate}}
                                </md-option>
                            </md-select>
                            <div ng-messages="theForm.columnSortOrder.$error">
                                <div translate ng-message="required">entity-group.default-sort-order-required</div>
                            </div>
                        </md-input-container>
                        <md-checkbox ng-disabled="$root.loading || vm.readOnly"
                                     aria-label="{{ 'entity-group.hide-in-mobile-view' | translate }}"
                                     ng-model="vm.column.mobileHide">
                            {{ 'entity-group.hide-in-mobile-view' | translate }}
                        </md-checkbox>
                        <md-checkbox ng-disabled="$root.loading || vm.readOnly"
                                     aria-label="{{ 'entity-group.use-cell-style-function' | translate }}"
                                     ng-model="vm.column.useCellStyleFunction">
                            {{ 'entity-group.use-cell-style-function' | translate }}
                        </md-checkbox>
                        <tb-js-func ng-model="vm.column.cellStyleFunction"
                                    ng-disabled="$root.loading || vm.readOnly || !vm.column.useCellStyleFunction"
                                    function-args="{{ ['value', 'entity'] }}"
                                    validation-args="{{ [] }}">
                        </tb-js-func>
                        <md-checkbox ng-disabled="$root.loading || vm.readOnly"
                                     aria-label="{{ 'entity-group.use-cell-content-function' | translate }}"
                                     ng-model="vm.column.useCellContentFunction">
                            {{ 'entity-group.use-cell-content-function' | translate }}
                        </md-checkbox>
                        <tb-js-func ng-model="vm.column.cellContentFunction"
                                    ng-disabled="$root.loading || vm.readOnly || !vm.column.useCellContentFunction"
                                    function-args="{{ ['value', 'entity', '$filter'] }}"
                                    validation-args="{{ [] }}">
                        </tb-js-func>
                    </fieldset>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-if="!vm.readOnly" ng-disabled="$root.loading || theForm.$invalid || !theForm.$dirty" type="submit"
                       class="md-raised md-primary">
                {{ 'action.save' | translate }}
            </md-button>
            <md-button ng-disabled="$root.loading" ng-click="vm.cancel()" style="margin-right:20px;">
                {{ (vm.readOnly ? 'action.close' : 'action.cancel') | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
