<!--

    Thingsboard OÜ ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2017 Thingsboard OÜ. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of Thingsboard OÜ and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Thingsboard OÜ
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<div flex layout="column" class="tb-entity-group-columns md-padding">
    <div class="md-whiteframe-z1" flex layout="column">
        <div flex layout="row" layout-align="start center" class="tb-header">
            <span ng-if="vm.isEdit && !vm.isReadOnly" style="min-width: 40px; margin: 0px;">&nbsp</span>
            <span style="padding-left: 10px; min-width: 20px;">&nbsp</span>
            <div flex layout="row" layout-align="start center"
                 style="padding: 0 0 0 10px; margin: 5px;">
                <span flex-xs ng-style="{minWidth: vm.isGtXs ? '130px' : 'initial', maxWidth: vm.isGtXs ? '130px' : '90px'}" translate>entity-group.column-type</span>
                <span flex-xs style="padding-left: 5px;" ng-style="{minWidth: vm.isGtXs ? '130px' : 'initial', maxWidth: vm.isGtXs ? '130px' : '90px'}"
                      translate>entity-group.column-value</span>
                <span style="padding-left: 5px;" translate hide-xs flex>entity-group.column-title</span>
                <span hide-xs style="padding-left: 5px; min-width: 120px; max-width: 120px;" translate>entity-group.default-sort-order</span>
                <span hide-xs style="padding-left: 5px; min-width: 40px; max-width: 40px;" translate>entity-group.hide-in-mobile-view</span>
                <span style="padding-left: 5px; min-width: 80px;">&nbsp</span>
            </div>
        </div>
        <md-divider></md-divider>
        <div class="tb-columns" ng-class="{'tb-readonly': !vm.isEdit || vm.isReadOnly}"
             style="max-height: 500px; overflow: auto; padding-bottom: 15px;">
            <ul dnd-list="vm.columns" dnd-disable-if="!vm.isEdit || vm.isReadOnly">
                <li ng-repeat="column in vm.columns"
                    dnd-draggable="column"
                    dnd-moved="vm.columns.splice($index, 1)"
                    dnd-disable-if="!vm.isEdit || vm.isReadOnly"
                    dnd-effect-allowed="move">
                    <div flex layout="row" layout-align="start center">
                        <md-button ng-if="vm.isEdit && !vm.isReadOnly" dnd-handle class="md-icon-button md-primary handle"
                                   style="min-width: 40px; margin: 0px;"
                                   aria-label="{{ 'action.drag' | translate }}">
                            <md-tooltip md-direction="top">
                                {{ 'action.drag' | translate }}
                            </md-tooltip>
                            <md-icon aria-label="{{ 'action.drag' | translate }}"
                                     class="material-icons">
                                drag_handle
                            </md-icon>
                        </md-button>
                        <dnd-nodrag flex layout="row" layout-align="start center">
                            <span style="padding-left: 10px; min-width: 20px;">{{$index + 1}}.</span>
                            <tb-entity-group-column
                                          flex
                                          column="column"
                                          entity-type="vm.entityType"
                                          read-only="!vm.isEdit || vm.isReadOnly"
                                          on-default-sort-order-changed="vm.defaultSortOrderChanged(event, column)"
                                          on-remove-column="vm.removeColumn(event, column)"
                                          on-update-column="vm.updateColumn(column, updatedColumn)">
                            </tb-entity-group-column>
                        </dnd-nodrag>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div ng-if="vm.isEdit && !vm.isReadOnly" flex layout="row" layout-align="start center">
        <md-button ng-disabled="$root.loading" class="md-primary md-raised"
                   ng-click="vm.addColumn($event)" aria-label="{{ 'action.add' | translate }}">
            <md-tooltip md-direction="top">
                {{ 'entity-group.add-column' | translate }}
            </md-tooltip>
            <md-icon class="material-icons">add</md-icon>
            <span translate>action.add</span>
        </md-button>
    </div>
</div>
