<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2018 ThingsBoard, Inc.. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<div class="tb-entity-group-column" flex layout="row" layout-align="start center"
     style="padding: 0 0 0 10px; margin: 5px;">
    <md-select flex-xs ng-style="{minWidth: vm.isGtXs ? '130px' : 'initial', maxWidth: vm.isGtXs ? '130px' : '90px'}"
               ng-disabled="vm.readOnly" required name="columnType"
               ng-model="vm.column.type" aria-label="{{ 'entity-group.column-type' | translate }}">
        <md-option ng-repeat="type in vm.columnTypes" ng-value="type.value">
            {{type.name | translate}}
        </md-option>
    </md-select>
    <div flex-xs style="padding-left: 5px;" ng-style="{minWidth: vm.isGtXs ? '130px' : 'initial', maxWidth: vm.isGtXs ? '130px' : '90px'}" layout="column">
        <md-select flex ng-disabled="vm.readOnly" ng-if="vm.column.type == vm.columnTypes.entityField.value" required name="columnKey"
                   ng-model="vm.column.key" aria-label="{{ 'entity-group.column-value' | translate }}">
            <md-option ng-repeat="field in vm.entityField" ng-value="field.value">
                {{field.name | translate}}
            </md-option>
        </md-select>
        <md-input-container flex md-no-float ng-if="vm.column.type != vm.columnTypes.entityField.value">
            <input required name="columnKeyName"
                   placeholder="{{ 'entity-group.column-value' | translate }}"
                   ng-disabled="vm.readOnly"
                   ng-model="vm.column.key"
                   aria-label="{{ 'entity-group.column-value' | translate }}">
        </md-input-container>
    </div>
    <div hide-xs flex style="padding-left: 5px;" layout="column">
        <md-input-container flex md-no-float>
            <input name="columnTitle"
                   placeholder="{{ 'entity-group.column-title' | translate }}"
                   ng-disabled="vm.readOnly"
                   ng-model="vm.column.title"
                   aria-label="{{ 'entity-group.column-title' | translate }}">
        </md-input-container>
    </div>
    <md-select hide-xs
               style="padding-left: 5px; min-width: 120px; max-width: 120px;"
               ng-disabled="vm.readOnly" required name="columnSortOrder" ng-change="vm.onDefaultSortOrderChanged({event: $event})"
               ng-model="vm.column.sortOrder" aria-label="{{ 'entity-group.default-sort-order' | translate }}">
        <md-option ng-repeat="type in vm.sortOrder" ng-value="type.value">
            {{type.name | translate}}
        </md-option>
    </md-select>
    <div hide-xs style="padding-left: 5px; min-width: 40px; max-width: 40px;" layout="column" layout-align="start center">
        <md-checkbox ng-disabled="vm.readOnly"
                     aria-label="{{ 'entity-group.hide-in-mobile-view' | translate }}"
                     ng-model="vm.column.mobileHide">
        </md-checkbox>
    </div>
    <span ng-if="vm.readOnly" style="padding-left: 5px; min-width: 40px; min-height: 40px;">&nbsp</span>
    <md-button ng-disabled="$root.loading" class="md-icon-button md-primary"
               style="min-width: 40px;"
               ng-click="vm.openColumn($event)"
               aria-label="{{ (vm.readOnly ? 'action.view' : 'action.edit') | translate }}">
        <md-tooltip ng-if="vm.readOnly" md-direction="top">
            {{ 'action.view' | translate }}
        </md-tooltip>
        <md-tooltip ng-if="!vm.readOnly" md-direction="top">
            {{ 'action.edit' | translate }}
        </md-tooltip>
        <md-icon ng-if="vm.readOnly" aria-label="{{ 'action.view' | translate }}"
                 class="material-icons">
            more_vert
        </md-icon>
        <md-icon ng-if="!vm.readOnly" aria-label="{{ 'action.edit' | translate }}"
                 class="material-icons">
            edit
        </md-icon>
    </md-button>
    <md-button ng-if="!vm.readOnly" ng-disabled="$root.loading" class="md-icon-button md-primary"
               style="min-width: 40px;"
               ng-click="vm.onRemoveColumn({event: $event})"
               aria-label="{{ 'action.remove' | translate }}">
        <md-tooltip md-direction="top">
            {{ 'action.remove' | translate }}
        </md-tooltip>
        <md-icon aria-label="{{ 'action.delete' | translate }}"
                 class="material-icons">
            close
        </md-icon>
    </md-button>
</div>
