<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2018 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<div class="tb-absolute-fill tb-entity-group-table tb-data-table md-padding" layout="column">
    <div ng-show="vm.showData" flex class="md-whiteframe-z1 toolbarsContainer tb-entity-group-table-content" layout="column">
        <md-toolbar class="md-table-toolbar md-default" ng-show="!vm.selectedEntities.length
                                                                 && vm.query.search === null">
            <div class="md-toolbar-tools">
                <span class="group-table-title">{{ vm.tableTitle }}</span>
                <span hide-xs hide-sm class="group-table-entities-title">{{ vm.entitiesTitle }}</span>
                <span flex></span>
                <md-button class="fetch-more" ng-disabled="$root.loading" ng-show="vm.hasNext" class="md-primary" ng-click="vm.fetchMore($event)">
                    {{ 'entity-group.fetch-more' | translate }}
                </md-button>
                <md-button ng-disabled="$root.loading" ng-show="vm.entityGroupConfig.addEnabled()" class="md-icon-button" ng-click="vm.addEntity($event)">
                    <md-icon>add</md-icon>
                    <md-tooltip md-direction="top">
                        {{ vm.translations.add | translate }}
                    </md-tooltip>
                </md-button>
                <md-button ng-disabled="$root.loading" ng-show="vm.settings.enableSearch" class="md-icon-button" ng-click="vm.enterFilterMode($event)">
                    <md-icon>search</md-icon>
                    <md-tooltip md-direction="top">
                        {{ vm.translations.search | translate }}
                    </md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar md-default" ng-show="!vm.selectedEntities.length &&
                                                                 vm.query.search != null">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="{{ vm.translations.search | translate }}">
                    <md-icon aria-label="{{ vm.translations.search | translate }}" class="material-icons">search</md-icon>
                    <md-tooltip md-direction="top">
                        {{ vm.translations.search | translate }}
                    </md-tooltip>
                </md-button>
                <md-input-container flex>
                    <label>&nbsp;</label>
                    <input ng-model="vm.query.search" class="searchInput" name="querySearchInput" placeholder="{{ vm.translations.search | translate }}"/>
                </md-input-container>
                <md-button class="md-icon-button" aria-label="Close" ng-click="vm.exitFilterMode()">
                    <md-icon aria-label="Close" class="material-icons">close</md-icon>
                    <md-tooltip md-direction="top">
                        {{ 'action.close' | translate }}
                    </md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedEntities.length">
            <div class="md-toolbar-tools">
                <span translate="{{ vm.translations.selectedEntities }}"
                      translate-values="{count: vm.selectedEntities.length}"
                      translate-interpolation="messageformat"></span>
                <span flex></span>
                <md-button ng-show="actionDescriptor.isEnabled()" class="md-icon-button" ng-repeat="actionDescriptor in vm.groupActionDescriptors"
                           ng-click="actionDescriptor.onAction($event, vm.selectedEntities)">
                    <md-icon>{{actionDescriptor.icon}}</md-icon>
                    <md-tooltip md-direction="top">
                        {{ actionDescriptor.name }}
                    </md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <md-table-container flex>
            <table md-table md-row-select="vm.settings.enableSelection" multiple="" ng-model="vm.selectedEntities">
                <thead md-head md-order="vm.query.order" md-on-reorder="vm.onReorder">
                <tr md-row>
                    <th md-column ng-if="!column.mobileHide || vm.isGtMd" md-order-by="{{ column.key }}" ng-repeat="column in vm.columns"><span>{{ vm.getColumnTitle(column) }}</span></th>
                    <th md-column ng-if="vm.actionCellDescriptors.length"><span>&nbsp</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr ng-show="vm.entities.length" md-row md-select="entity"
                    md-select-id="id.id" md-auto-select="false" ng-repeat="entity in vm.entities"
                    ng-click="vm.onRowClick($event, entity)" ng-class="{'tb-current': vm.isCurrent(entity)}">
                    <td md-cell ng-if="!column.mobileHide || vm.isGtMd" flex ng-repeat="column in vm.columns"
                        ng-style="vm.cellStyle(entity, column)"
                        ng-bind-html="vm.cellContent(entity, column)">
                    </td>
                    <td md-cell ng-if="vm.actionCellDescriptors.length" class="tb-action-cell"
                        ng-style="{minWidth: vm.actionCellDescriptors.length*36+'px',
                                   maxWidth: vm.actionCellDescriptors.length*36+'px',
                                   width: vm.actionCellDescriptors.length*36+'px'}">
                        <md-button ng-show="actionDescriptor.isEnabled(entity)" class="md-icon-button" ng-repeat="actionDescriptor in vm.actionCellDescriptors"
                                   aria-label="{{ actionDescriptor.name }}"
                                   ng-click="actionDescriptor.onAction($event, entity)">
                            <md-icon aria-label="{{ actionDescriptor.name }}" class="material-icons">{{actionDescriptor.icon}}</md-icon>
                            <md-tooltip md-direction="top">
                                {{ actionDescriptor.name }}
                            </md-tooltip>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-divider></md-divider>
            <span ng-show="!vm.entities.length"
                  layout-align="center center"
                  class="no-data-found" translate>{{ vm.translations.noEntities }}</span>
        </md-table-container>
        <md-table-pagination ng-if="vm.displayPagination" md-boundary-links md-limit="vm.query.limit" md-limit-options="vm.limitOptions"
                             md-page="vm.query.page" md-total="{{vm.entitiesCount}}"
                             md-on-paginate="vm.onPaginate" md-page-select="vm.isGtMd">
        </md-table-pagination>
    </div>
    <span ng-show="!vm.showData"
          layout-align="center center"
          style="text-transform: uppercase; display: flex;"
          class="tb-absolute-fill" translate>entity.no-data</span>
</div>
<tb-entity-details-sidenav
        entity-group-config="vm.entityGroupConfig"
        entity-type="vm.entityGroup.type"
        entity-id="vm.currentEntity.id.id"
        is-open="vm.isDetailsOpen"
        on-entity-updated="vm.onEntityUpdated(entity.id.id)">
</tb-entity-details-sidenav>
