// SPDX-FileCopyrightText: Copyright The Thingsboard Authors
// SPDX-License-Identifier: Apache-2.0
@import "../../../../../scss/constants";

:host {
  mat-card.edge-status-card {
    margin: 8px;
    @media #{$mat-gt-sm} {
      width: 60%;
    }
    .mat-headline {
      margin-left: 16px;
    }
  }
}
