<!--

    Thingsboard OÜ ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2018 Thingsboard OÜ. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of Thingsboard OÜ and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Thingsboard OÜ
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<md-content class="md-padding tb-link" layout="column">
    <fieldset ng-disabled="$root.loading || !isEdit || isReadOnly">
        <label translate class="tb-title no-padding" ng-class="{'tb-required': required}">rulenode.link-labels</label>
        <md-chips id="link_label_chips"
                  ng-required="true"
                  readonly="$root.loading || !isEdit || isReadOnly"
                  ng-model="labels" md-autocomplete-snap
                  md-transform-chip="transformLinkLabelChip($chip)"
                  md-require-match="!allowCustom">
            <md-autocomplete
                    id="link_label"
                    md-no-cache="true"
                    md-selected-item="selectedLabel"
                    md-search-text="labelSearchText"
                    md-items="item in labelsSearch(labelSearchText)"
                    md-item-text="item.name"
                    md-min-length="0"
                    placeholder="{{'rulenode.link-label' | translate }}"
                    md-menu-class="tb-link-label-autocomplete">
                <span md-highlight-text="labelSearchText" md-highlight-flags="^i">{{item}}</span>
                <md-not-found>
                    <div class="tb-not-found">
                        <div class="tb-no-entries" ng-if="!labelSearchText || !labelSearchText.length">
                            <span translate>rulenode.no-link-labels-found</span>
                        </div>
                        <div ng-if="labelSearchText && labelSearchText.length">
                            <span translate translate-values='{ label: "{{labelSearchText | truncate:true:6:&apos;...&apos;}}" }'>rulenode.no-link-label-matching</span>
                            <span ng-if="allowCustom">
                                <a translate ng-click="createLinkLabel($event, '#link_label_chips')">rulenode.create-new-link-label</a>
                            </span>
                        </div>
                    </div>
                </md-not-found>
            </md-autocomplete>
            <md-chip-template>
                <span>{{$chip.name}}</span>
            </md-chip-template>
        </md-chips>
        <div class="tb-error-messages" ng-messages="ngModelCtrl.$error" role="alert">
            <div translate ng-message="linkLabels" class="tb-error-message">rulenode.link-labels-required</div>
        </div>
        <!--md-input-container class="md-block">
            <label translate>rulenode.link-label</label>
            <md-select ng-model="selectedLabel" ng-change="selectedLabelChanged()">
                <md-option ng-repeat="label in labels" ng-value="label">
                    {{label.name}}
                </md-option>
            </md-select>
            <div ng-messages="theForm.linkLabel.$error">
                <div translate ng-message="required">rulenode.link-label-required</div>
            </div>
        </md-input-container>
        <md-input-container ng-if="selectedLabel.custom" class="md-block">
            <label translate>rulenode.link-label</label>
            <input required name="customLinkLabel" ng-model="link.label">
            <div ng-messages="theForm.customLinkLabel.$error">
                <div translate ng-message="required">rulenode.custom-link-label-required</div>
            </div>
        </md-input-container-->
    </fieldset>
</md-content>
