<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2025 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<div class="tb-signup-content mat-app-background tb-dark flex flex-1 items-center justify-center" [class.dark-foreground]="wl.loginDarkForeground$ | async"
     [style.background-color]="wl.loginPageBackgroundColor$ | async">
  <mat-card appearance="raised" style="max-height: 100%; overflow-y: auto;">
    <mat-card-content>
      <form class="tb-signup-form" [formGroup]="signup" (ngSubmit)="signUp()">
        <fieldset [disabled]="isLoading$ | async">
          <div class="flex flex-1 flex-col">
            <div class="flex flex-col items-center justify-start" style="padding: 15px 0;">
              <img [src]="wl.loginLogo$ | async | image: {loginLogo: true} | async" [style.height.px]="wl.loginLogoHeight$ | async" aria-label="logo"/>
              <span class="tb-signup-message" [innerHTML]="signupParams.title"></span>
            </div>
            <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
            </mat-progress-bar>
            <span style="height: 4px;" *ngIf="(isLoading$ | async) === false"></span>
            <div tb-toast class="layout-padding flex flex-col">
              <div class="flex flex-col" formGroupName="fields">
                <div class="flex flex-col gap-2 gt-sm:flex-row">
                  <mat-form-field class="mat-block tb-appearance-transparent flex-1">
                    <mat-label translate>signup.firstname</mat-label>
                    <input matInput autofocus formControlName="FIRST_NAME" required/>
                  </mat-form-field>
                  <mat-form-field class="mat-block tb-appearance-transparent flex-1">
                    <mat-label translate>signup.lastname</mat-label>
                    <input matInput formControlName="LAST_NAME" required/>
                  </mat-form-field>
                </div>
                <mat-form-field class="mat-block tb-appearance-transparent">
                  <mat-label translate>signup.email</mat-label>
                  <input matInput type="email" formControlName="EMAIL" email required/>
                  <mat-icon matPrefix>email</mat-icon>
                  <mat-error *ngIf="signup.get('fields.EMAIL').invalid">
                    {{ 'user.invalid-email-format' | translate }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="mat-block tb-appearance-transparent">
                  <mat-label translate>signup.create-password</mat-label>
                  <input matInput type="password" formControlName="PASSWORD" required/>
                  <tb-toggle-password matSuffix></tb-toggle-password>
                  <mat-icon matPrefix>lock</mat-icon>
                </mat-form-field>
                <mat-form-field class="mat-block tb-appearance-transparent">
                  <mat-label translate>signup.repeat-password</mat-label>
                  <input matInput type="password" [(ngModel)]="passwordCheck"
                         [ngModelOptions]="{standalone: true}" required/>
                  <tb-toggle-password matSuffix></tb-toggle-password>
                  <mat-icon matPrefix>lock</mat-icon>
                </mat-form-field>
              </div>
              <div class="tb-recaptcha flex flex-col">
                <ngx-recaptcha2 *ngIf="signupParams?.captcha?.version === 'v2'" #recaptcha formControlName="recaptchaResponse" [useGlobalDomain]="true" [siteKey]="signupParams?.captcha?.siteKey"></ngx-recaptcha2>
              </div>
              <mat-checkbox class="tb-accept-privacy-policy"
                            *ngIf="signupParams.showPrivacyPolicy"
                            [(ngModel)]="acceptPrivacyPolicy"
                            [ngModelOptions]="{standalone: true}">
                <div>
                  {{ 'signup.accept' | translate}} <span class="privacy-policy" (click)="openPrivacyPolicy($event)" translate>signup.privacy-policy</span>
                </div>
              </mat-checkbox>
              <mat-checkbox class="tb-accept-terms-of-use"
                            *ngIf="signupParams.showTermsOfUse"
                            [(ngModel)]="acceptTermsOfUse"
                            [ngModelOptions]="{standalone: true}">
                <div>
                  {{ 'signup.accept' | translate}} <span class="terms-of-use" (click)="openTermsOfUse($event)" translate>signup.terms-of-use</span>
                </div>
              </mat-checkbox>
              <div class="flex flex-col gap-3" style="padding-top: 15px;">
                <button [disabled]="isLoading$ | async" mat-raised-button color="accent" type="submit">
                  {{ 'signup.signup' | translate }}
                </button>
                <div class="has-account-section flex flex-row">
                  <span class="has-account-message" translate>signup.have-account</span>
                  <a routerLink="/login">{{ 'signup.signin' | translate }}</a>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </mat-card-content>
  </mat-card>
</div>
