<!--

    Thingsboard OÜ ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2018 Thingsboard OÜ. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of Thingsboard OÜ and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Thingsboard OÜ
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<md-dialog class="tb-converter-test-dialog"
           aria-label="{{ (vm.isDecoder ? 'converter.test-decoder-fuction' : 'converter.test-encoder-fuction') | translate }}" style="width: 800px;">
    <form flex name="theForm" ng-submit="vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ (vm.isDecoder ? 'converter.test-decoder-fuction' : 'converter.test-encoder-fuction') | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <ng-md-icon icon="close" aria-label="{{ 'dialog.close' | translate }}"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content flex style="position: relative;">
            <div class="tb-absolute-fill">
                <div id="top_panel" class="tb-split tb-split-vertical">
                    <div id="top_left_panel" class="tb-split tb-content">
                        <div class="tb-resize-container">
                            <div class="tb-editor-area-title-panel">
                                <label translate>converter.payload</label>
                            </div>
                            <ng-form name="payloadForm">
                                <div layout="column" style="height: 100%;">
                                    <div layout="row" ng-if="vm.isDecoder">
                                        <md-input-container class="md-block" style="margin-bottom: 0px; min-width: 200px;">
                                            <label translate>converter.payload-content-type</label>
                                            <md-select name="payloadContentType" aria-label="{{ 'converter.payload-content-type' | translate }}"
                                                       ng-model="vm.inputParams.payloadContentType">
                                                <md-option ng-repeat="contentType in vm.types.contentType" ng-value="contentType.value">
                                                    {{contentType.name | translate}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <tb-json-content flex
                                                     ng-model="vm.inputParams.stringContent"
                                                     label="{{ 'converter.payload-content' | translate }}"
                                                     content-type="vm.inputParams.payloadContentType"
                                                     validate-content="vm.inputParams.payloadContentType == vm.types.contentType.JSON.value"
                                                     validation-trigger-arg="validatePayload"
                                                     fill-height="true">
                                    </tb-json-content>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                    <div id="top_right_panel" class="tb-split tb-content">
                        <div class="tb-resize-container" id="metadata-panel">
                            <div class="tb-editor-area-title-panel">
                                <label translate>converter.metadata</label>
                            </div>
                            <ng-form name="metadataForm">
                                <tb-key-val-map title-text="converter.metadata" ng-disabled="$root.loading"
                                                key-val-map="vm.inputParams.metadata"></tb-key-val-map>
                            </ng-form>
                        </div>
                    </div>
                </div>
                <div id="bottom_panel" class="tb-split tb-split-vertical">
                    <div id="bottom_left_panel" class="tb-split tb-content">
                        <div class="tb-resize-container">
                            <div class="tb-editor-area-title-panel">
                                <label>{{ (vm.isDecoder ? 'converter.decoder' : 'converter.encoder') | translate }}</label>
                            </div>
                            <ng-form name="funcBodyForm">
                                <tb-js-func id="funcBodyInput" ng-model="vm.funcBody"
                                            function-name="{{vm.isDecoder ? 'Decoder' : 'Encoder'}}"
                                            function-args="{{ ['payload', 'metadata'] }}"
                                            validation-args="{{ [[vm.inputParams.payload, vm.inputParams.metadata]] }}"
                                            validation-trigger-arg="validateFuncBody"
                                            result-type="object"
                                            fill-height="true">
                                </tb-js-func>
                            </ng-form>
                        </div>
                    </div>
                    <div id="bottom_right_panel" class="tb-split tb-content">
                        <div class="tb-resize-container">
                            <div class="tb-editor-area-title-panel">
                                <label translate>converter.output</label>
                            </div>
                            <tb-json-content ng-model="vm.output"
                                             label="{{ 'converter.output' | translate }}"
                                             content-type="vm.types.contentType.JSON.value"
                                             validate-content="false"
                                             ng-readonly="true"
                                             fill-height="true">
                            </tb-json-content>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-disabled="$root.loading" ng-click="vm.test()" class="md-raised md-primary">
                {{ 'converter.test' | translate }}
            </md-button>
            <span flex></span>
            <md-button ng-disabled="$root.loading || theForm.funcBodyForm.$invalid || !theForm.funcBodyForm.$dirty" type="submit" class="md-raised md-primary">
                {{ 'action.save' | translate }}
            </md-button>
            <md-button ng-disabled="$root.loading" ng-click="vm.cancel()" style="margin-right:20px;">{{ 'action.cancel' | translate }}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

