<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2022 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<section [formGroup]="form" fxLayout="column">
    <fieldset>
        <mat-form-field class="mat-block">
            <mat-label translate>integration.opc-ua-application-name</mat-label>
            <input matInput formControlName="applicationName">
        </mat-form-field>
        <mat-form-field class="mat-block">
            <mat-label translate>integration.opc-ua-application-uri</mat-label>
            <input matInput formControlName="applicationUri">
        </mat-form-field>
        <div fxFlex fxLayout="column" fxLayout="row" fxLayoutGap="8px">
            <mat-form-field fxFlex="50" class="mat-block">
                <mat-label translate>integration.host</mat-label>
                <input matInput required formControlName="host">
                <mat-error translate *ngIf="form.get('host').hasError('required')">integration.host-required
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50" class="mat-block">
                <mat-label translate>integration.port</mat-label>
                <input matInput type="number" step="1" min="1" max="65535" required formControlName="port">
                <mat-error translate *ngIf="form.get('port').hasError('required')">integration.port-required
                </mat-error>
                <mat-error translate *ngIf="form.get('port').hasError('min')">integration.port-range</mat-error>
                <mat-error translate *ngIf="form.get('port').hasError('max')">integration.port-range</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex fxLayout="column" fxLayout="row" fxLayoutGap="8px">
            <mat-form-field fxFlex="50" class="mat-block">
                <mat-label translate>integration.opc-ua-scan-period-in-seconds</mat-label>
                <input matInput type="number" required formControlName="scanPeriodInSeconds">
                <mat-error translate *ngIf="form.get('scanPeriodInSeconds').hasError('required')">
                    integration.opc-ua-scan-period-in-seconds-required
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50" class="mat-block">
                <mat-label translate>integration.opc-ua-timeout</mat-label>
                <input matInput type="number" required formControlName="timeoutInMillis">
                <mat-error translate *ngIf="form.get('timeoutInMillis').hasError('required')">
                    integration.opc-ua-timeout-required</mat-error>
            </mat-form-field>
        </div>
        <div form fxFlex fxLayout="column" formGroupName="identity" fxLayout="row" fxLayoutGap="8px">
            <mat-form-field fxFlex="50" class="mat-block tb-container-for-select">
                <mat-label translate>integration.opc-ua-security</mat-label>
                <mat-select required [formControl]="form.get('security')">
                    <mat-option [value]="security.key" *ngFor="let security of opcSecurityTypes | keyvalue">
                        <span>{{security.value}}</span></mat-option>
                </mat-select>
                <mat-error translate *ngIf="form.get('security').hasError('required')">
                    integration.opc-ua-security-required</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50" class="mat-block tb-container-for-select">
                <mat-label translate>integration.opc-ua-identity</mat-label>
                <mat-select required formControlName="type">
                    <mat-option [value]="identity.key" *ngFor="let identity of identityType | keyvalue">
                        <span>{{identity.value | translate}}</span></mat-option>
                </mat-select>
                <mat-error translate *ngIf="form.get('identity').get('type').hasError('required')">
                    integration.opc-ua-identity-required
                </mat-error>
            </mat-form-field>
        </div>
        <div formGroupName="identity" fxLayout="row" fxLayoutGap="8px" *ngIf="showIdentityForm">
            <mat-form-field fxFlex="50" class="mat-block">
                <mat-label translate>integration.username</mat-label>
                <input matInput required formControlName="username" autocomplete="new-username">
                <mat-error translate *ngIf="form.get('identity').get('username').hasError('required')">
                    integration.username-required
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="50" class="mat-block">
                <mat-label translate>integration.password</mat-label>
                <input matInput required formControlName="password" autocomplete="new-password" type="password">
                <tb-toggle-password matSuffix></tb-toggle-password>
                <mat-error translate *ngIf="form.get('identity').get('password').hasError('required')">
                    integration.password-required
                </mat-error>
            </mat-form-field>
        </div>
        <mat-accordion class="tb-integration-panel-group">
            <mat-expansion-panel #securityExpansionPanel *ngIf="form.get('security').value !== 'None'">
                <mat-expansion-panel-header>
                    <mat-panel-title translate>integration.opc-ua-keystore</mat-panel-title>
                    <mat-panel-description>
                        <mat-error *ngIf="!securityExpansionPanel.expanded && form.get('keystore').invalid" translate>
                            integration.add-opc-ua-keystore-prompt </mat-error>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div formGroupName="keystore">
                    <mat-form-field class="mat-block">
                        <mat-label translate>integration.opc-ua-keystore-type</mat-label>
                        <mat-select required formControlName="type">
                            <mat-option [value]="keystore.key" *ngFor="let keystore of extensionKeystoreType|keyvalue">
                                <span>{{keystore.value}}</span></mat-option>
                        </mat-select>
                        <mat-error translate
                            *ngIf="form.get('keystore').get('type').hasError('required')">
                            integration.opc-ua-keystore-type-required </mat-error>
                    </mat-form-field>
                    <tb-file-input [existingFileName]="form.get('keystore').get('location').value"
                        formControlName="fileContent" dropLabel="{{ 'integration.drop-file-or' | translate }}"
                        label="{{ 'integration.opc-ua-keystore-location' | translate }}"
                        (fileNameChanged)="form.get('keystore').get('location').patchValue($event)"
                        inputId="location">
                    </tb-file-input>
                    <div fxFlex fxLayout="row" fxLayoutGap="8px">
                        <mat-form-field fxFlex="50" class="mat-block">
                            <mat-label translate>integration.opc-ua-keystore-password</mat-label>
                            <input matInput required formControlName="password" autocomplete="new-password">
                            <mat-error translate *ngIf="form.get('keystore').get('password').hasError('required')">
                                integration.opc-ua-keystore-password-required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mat-block">
                            <mat-label translate>integration.opc-ua-keystore-alias</mat-label>
                            <input matInput required formControlName="alias">
                            <mat-error translate *ngIf="form.get('keystore').get('alias').hasError('required')">
                                integration.opc-ua-keystore-alias-required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <mat-form-field class="mat-block">
                        <mat-label translate>integration.opc-ua-keystore-key-password</mat-label>
                        <input matInput required formControlName="keyPassword">
                        <mat-error translate *ngIf="form.get('keystore').get('keyPassword').hasError('required')">
                            integration.opc-ua-keystore-key-password-required
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel #mappingExpansionPanel>
                <mat-expansion-panel-header>
                    <mat-panel-title translate>integration.opc-ua-mapping</mat-panel-title>
                    <mat-panel-description>
                        <mat-error *ngIf="!mappingExpansionPanel.expanded && !form.get('mapping')['length']" translate>
                            integration.add-opc-ua-mapping-prompt
                        </mat-error>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="form.get('mapping')['length'] > 0">
                    <ol class="list-group">
                        <li class="list-group-item"
                            *ngFor="let map of form.get('mapping')['controls'];let mapIndex = index">
                            <button mat-icon-button class="mat-icon-button" *ngIf="form.enabled"
                                (click)="$any(form.get('mapping')).removeAt(mapIndex)"
                                [matTooltip]="'action.remove' | translate" matTooltipPosition="above">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-card>
                                <mat-card-content [formGroup]="map">
                                    <div fxFlex fxLayout="row" fxLayoutGap="8px">
                                        <mat-form-field fxFlex="50" class="mat-block"
                                            *ngIf="map.get('mappingType').value === opcUaMappingType.ID">
                                            <mat-label translate>integration.opc-ua-namespace</mat-label>
                                            <input matInput
                                                placeholder="{{ 'integration.opc-ua-namespace' | translate }}"
                                                type="number" min="0" formControlName="namespace">
                                        </mat-form-field>
                                        <mat-form-field fxFlex class="mat-block">
                                            <mat-label translate>integration.opc-ua-mapping-type</mat-label>
                                            <mat-select
                                                placeholder="{{ 'integration.opc-ua-mapping-type' | translate }}"
                                                formControlName="mappingType">
                                                <mat-option *ngFor="let mapping of opcUaMappingType | keyvalue"
                                                    [value]="mapping.key">
                                                    {{mapping.value}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error translate *ngIf="map.get('mappingType').hasError('required')">
                                                integration.opc-ua-mapping-type-required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex fxLayout="row" fxLayoutGap="8px">
                                        <mat-form-field fxFlex class="mat-block">
                                            <mat-label translate>integration.opc-ua-device-node-pattern</mat-label>
                                            <input matInput
                                                placeholder="{{ 'integration.opc-ua-device-node-pattern' | translate }}"
                                                required formControlName="deviceNodePattern">
                                            <mat-error translate
                                                *ngIf="map.get('deviceNodePattern').hasError('required')">
                                                integration.opc-ua-device-node-pattern-required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <tb-opc-ua-subscription-tags [subscriptionTagsForm]="map.get('subscriptionTags')">
                                    </tb-opc-ua-subscription-tags>
                                </mat-card-content>
                            </mat-card>
                        </li>
                    </ol>
                </div>
                <span *ngIf="!form.get('mapping')['length']" fxLayoutAlign="center center" class="no-data-found"
                    translate>integration.add-opc-ua-mapping-prompt</span>
                <div style="padding-top: 16px;">
                    <button mat-raised-button color="primary" *ngIf="form.enabled" (click)="addMap()"
                        [matTooltip]="'integration.opc-ua-add-map' | translate" matTooltipPosition="above">
                        <mat-icon class="material-icons">add</mat-icon>
                        <span translate>integration.opc-ua-add-map</span>
                    </button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </fieldset>
</section>
