/**
 * ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2023 ThingsBoard, Inc. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of ThingsBoard, Inc. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to ThingsBoard, Inc.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */

.tb-datakeys-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  input.tb-dragging {
    display: none;
  }

  .mat-mdc-chip.mat-mdc-standard-chip.tb-datakey-chip {
    overflow: hidden;
    line-height: 20px;
    height: 32px;

    &.mdc-evolution-chip--with-trailing-action {
      .mdc-evolution-chip__action--primary {
        padding-left: 4px;
        padding-right: 12px;
      }
    }

    .mat-mdc-chip-action {
      overflow: hidden;
      .mat-mdc-chip-action-label {
        overflow: hidden;
      }
    }
    .tb-attribute-chip {
      max-width: 100%;
      color: rgb(66, 66, 66);
      .tb-chip-drag-handle {
        padding: 3px;
        height: 24px;
        cursor: move;
        mat-icon {
          pointer-events: none;
        }
      }
      .tb-chip-labels {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 0;
        background: rgba(0, 0, 0, 0.04);
        border-radius: 100px;
        padding: 2px 10px;
        .tb-chip-label {
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          .mat-icon.tb-datakey-icon {
            margin-right: 4px;
            margin-left: 4px;
          }
          .tb-agg-func {
            font-style: italic;
            color: #0c959c;
          }
        }
        .tb-chip-separator {
          white-space: pre;
        }
      }
      .mat-mdc-chip-remove.mat-mdc-icon-button {
        color: inherit;
        opacity: inherit;
      }
    }

    &.tb-datakey-chip-dnd-placeholder {
      min-width: 120px;
      border: 2px dashed rgba(0, 0, 0, 0.2);
    }
    &.tb-chip-dragging {
      display: none;
    }
    .tb-dragging-chip-image-fill {
      background-color: rgba(0,0,0,0.3);
      border-radius: var(--mdc-chip-container-shape-radius, 16px 16px 16px 16px);
      display: none;
      pointer-events: none;
    }
    .tb-dragging-chip-image {
      background-color: var(--mdc-chip-elevated-container-color, transparent);
      border-radius: var(--mdc-chip-container-shape-radius, 16px 16px 16px 16px);
      overflow: hidden;
      height: 32px;
      line-height: 20px;
      .tb-dragging-chip-image-fill {
        display: block;
      }
    }
  }
}

.mat-icon.tb-datakey-icon {
  vertical-align: middle;
  & > svg {
    vertical-align: initial;
  }
  &.new-key {
    margin-left: 8px;
    margin-right: 8px;
  }
}
