<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2023 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<mat-tab-group selectedIndex="{{hasCustomFunction ? 3 : 2}}" dynamicHeight="true" style="width: 100%; height: 100%;">
  <mat-tab label="{{ 'widget.resources' | translate }}" style="width: 100%; height: 100%;">
    <div class="tb-custom-action-editor-container" style="background-color: #fff;">
      <div class="mat-padding">
        <div fxFlex fxLayout="row" style="max-height: 40px;"
             fxLayoutAlign="start center"
             *ngFor="let resource of action.customResources; let i = index" >
          <mat-form-field fxFlex class="mat-block resource-field" floatLabel="never"
                          style="margin: 10px 0 0; max-height: 40px;">
            <input required matInput [(ngModel)]="resource.url"
                   (ngModelChange)="notifyActionUpdated()"
                   placeholder="{{ 'widget.resource-url' | translate }}"/>
          </mat-form-field>
          <button mat-icon-button color="primary"
                  [disabled]="isLoading$ | async"
                  type="button"
                  (click)="removeResource(i)"
                  matTooltip="{{'widget.remove-resource' | translate}}"
                  matTooltipPosition="above">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div style="margin-top: 6px;">
          <button mat-button mat-raised-button color="primary"
                  [disabled]="isLoading$ | async"
                  type="button"
                  (click)="addResource()"
                  matTooltip="{{'widget.add-resource' | translate}}"
                  matTooltipPosition="above">
            <span translate>action.add</span>
          </button>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'widget.css' | translate }}" style="width: 100%; height: 100%;">
    <div class="tb-custom-action-editor-container" tb-fullscreen [fullscreen]="cssFullscreen">
      <div class="tb-editor-area-title-panel">
        <button mat-button
                type="button"
                (click)="beautifyCss()">
          {{ 'widget.tidy' | translate }}
        </button>
        <button mat-button
                type="button"
                mat-icon-button class="tb-mat-32"
                (click)="cssFullscreen = !cssFullscreen"
                matTooltip="{{(cssFullscreen ? 'fullscreen.exit' : 'fullscreen.expand') | translate}}"
                matTooltipPosition="above">
          <mat-icon>{{ cssFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
        </button>
      </div>
      <div #cssInput class="css-panel"></div>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'widget.html' | translate }}" style="width: 100%; height: 100%;">
    <div class="tb-custom-action-editor-container" tb-fullscreen [fullscreen]="htmlFullscreen">
      <div class="tb-editor-area-title-panel">
        <button mat-button
                type="button" (click)="beautifyHtml()">
          {{ 'widget.tidy' | translate }}
        </button>
        <button mat-button
                type="button"
                mat-icon-button class="tb-mat-32"
                (click)="htmlFullscreen = !htmlFullscreen"
                matTooltip="{{(htmlFullscreen ? 'fullscreen.exit' : 'fullscreen.expand') | translate}}"
                matTooltipPosition="above">
          <mat-icon>{{ htmlFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
        </button>
      </div>
      <div #htmlInput class="html-panel"></div>
    </div>
  </mat-tab>
  <mat-tab *ngIf="hasCustomFunction" label="{{ 'widget.js' | translate }}" style="width: 100%; height: 100%;">
    <tb-js-func
      [(ngModel)]="action.customFunction"
      (ngModelChange)="notifyActionUpdated()"
      [functionArgs]="['$event', 'widgetContext', 'entityId', 'entityName', 'htmlTemplate', 'additionalParams', 'entityLabel']"
      [disableUndefinedCheck]="true"
      [validationArgs]="[]"
      [editorCompleter]="customPrettyActionEditorCompleter"
      helpId="widget/action/custom_pretty_action_fn">
    </tb-js-func>
  </mat-tab>
</mat-tab-group>
