<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2025 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<form [formGroup]="aggLatestMappingFormGroup" (ngSubmit)="save()" style="width: 700px;">
  <mat-toolbar class="flex flex-row" color="primary">
    <h2>{{ (isAdd ? 'rule-node-config.add-mapping' : 'rule-node-config.edit-mapping') | translate }}</h2>
    <span class="flex-1"></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async">
      <tb-checkbox
        [trueValue]="latestTelemetry.LATEST_TELEMETRY"
        [falseValue]="attributeScope.SERVER_SCOPE"
        formControlName="sourceScope" style="display: block; margin-bottom: 16px;">
        {{ 'rule-node-config.latest-telemetry' | translate }}
      </tb-checkbox>
      <div class="xs:flex-col flex flex-row gap-2">
        <mat-form-field class="mat-block flex-1">
          <mat-label>{{(aggLatestMappingFormGroup.get('sourceScope').value ===
                   latestTelemetry.LATEST_TELEMETRY ? 'rule-node-config.source-telemetry'
                            : 'rule-node-config.source-attribute') | translate}}</mat-label>
          <input matInput formControlName="source">
        </mat-form-field>
        <mat-form-field class="mat-block xs:flex-1 gt-xs:max-w-50"
                        *ngIf="aggLatestMappingFormGroup.get('sourceScope').value !== latestTelemetry.LATEST_TELEMETRY">
          <mat-label translate>rule-node-config.attribute-scope</mat-label>
          <mat-select formControlName="sourceScope">
            <mat-option *ngFor="let scope of attributeScopes" [value]="scope">
              {{ telemetryTypeTranslationMap.get(scope) | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mat-block flex-1">
          <mat-label translate>rule-node-config.default-value</mat-label>
          <input required type="number" matInput formControlName="defaultValue">
          <mat-error *ngIf="aggLatestMappingFormGroup.get('defaultValue').hasError('required')">
            {{ 'rule-node-config.default-value-required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="xs:flex-col flex flex-row gap-2">
        <mat-form-field class="mat-block xs:flex-1 gt-xs:max-w-50">
          <mat-label translate>rule-node-config.math-function</mat-label>
          <mat-select formControlName="aggFunction" required>
            <mat-option *ngFor="let mathFunction of mathFunctions" [value]="mathFunction">
              {{ mathFunctionsTranslationMap.get(mathFunction) | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mat-block flex-1">
          <mat-label translate>rule-node-config.target-telemetry</mat-label>
          <input required matInput formControlName="target">
          <mat-error *ngIf="aggLatestMappingFormGroup.get('target').hasError('required')">
            {{ 'rule-node-config.target-telemetry-required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <mat-checkbox
        [(ngModel)]="filterEntities"
        [ngModelOptions]="{ standalone: true}"
        (ngModelChange)="filterEntitiesChange()" style="display: block; margin-bottom: 16px;">
        {{ 'rule-node-config.filter-entities' | translate }}
      </mat-checkbox>
      <mat-expansion-panel *ngIf="filterEntities"
        [expanded]="true" formGroupName="filter">
        <mat-expansion-panel-header>
          <mat-panel-title translate>rule-node-config.entity-filter</mat-panel-title>
        </mat-expansion-panel-header>
        <section class="flex flex-col">
          <label translate class="tb-title no-padding" style="padding-bottom: 10px;">rule-node-config.fetch-entity-attributes</label>
          <mat-form-field class="mat-block">
            <mat-label translate>rule-node-config.client-attributes</mat-label>
            <mat-chip-grid #clientAttributesChipList>
              <mat-chip-row
                *ngFor="let key of aggLatestMappingFormGroup.get('filter').get('clientAttributeNames').value;"
                (removed)="removeKey(key, 'clientAttributeNames')">
                {{key}}
                <mat-icon matChipRemove>close</mat-icon>
              </mat-chip-row>
              <input matInput type="text" placeholder="{{'rule-node-config.client-attributes' | translate}}"
                     [matChipInputFor]="clientAttributesChipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addKey($event, 'clientAttributeNames')"
                     [matChipInputAddOnBlur]="true">
            </mat-chip-grid>
          </mat-form-field>
          <mat-form-field class="mat-block">
            <mat-label translate>rule-node-config.shared-attributes</mat-label>
            <mat-chip-grid #sharedAttributesChipList>
              <mat-chip-row
                *ngFor="let key of aggLatestMappingFormGroup.get('filter').get('sharedAttributeNames').value;"
                (removed)="removeKey(key, 'sharedAttributeNames')">
                {{key}}
                <mat-icon matChipRemove>close</mat-icon>
              </mat-chip-row>
              <input matInput type="text" placeholder="{{'rule-node-config.shared-attributes' | translate}}"
                     [matChipInputFor]="sharedAttributesChipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addKey($event, 'sharedAttributeNames')"
                     [matChipInputAddOnBlur]="true">
            </mat-chip-grid>
          </mat-form-field>
          <mat-form-field class="mat-block">
            <mat-label translate>rule-node-config.server-attributes</mat-label>
            <mat-chip-grid #serverAttributesChipList>
              <mat-chip-row
                *ngFor="let key of aggLatestMappingFormGroup.get('filter').get('serverAttributeNames').value;"
                (removed)="removeKey(key, 'serverAttributeNames')">
                {{key}}
                <mat-icon matChipRemove>close</mat-icon>
              </mat-chip-row>
              <input matInput type="text" placeholder="{{'rule-node-config.server-attributes' | translate}}"
                     [matChipInputFor]="serverAttributesChipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addKey($event, 'serverAttributeNames')"
                     [matChipInputAddOnBlur]="true">
            </mat-chip-grid>
          </mat-form-field>
          <mat-form-field class="mat-block">
            <mat-label translate>rule-node-config.latest-timeseries</mat-label>
            <mat-chip-grid #latestTimeseriesChipList>
              <mat-chip-row
                *ngFor="let key of aggLatestMappingFormGroup.get('filter').get('latestTsKeyNames').value;"
                (removed)="removeKey(key, 'latestTsKeyNames')">
                {{key}}
                <mat-icon matChipRemove>close</mat-icon>
              </mat-chip-row>
              <input matInput type="text" placeholder="{{'rule-node-config.latest-timeseries' | translate}}"
                     [matChipInputFor]="latestTimeseriesChipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addKey($event, 'latestTsKeyNames')"
                     [matChipInputAddOnBlur]="true">
            </mat-chip-grid>
          </mat-form-field>
          <tb-script-lang formControlName="scriptLang" *ngIf="tbelEnabled && !tbelFilterFunctionOnly"></tb-script-lang>
          <tb-js-func *ngIf="aggLatestMappingFormGroup.get('filter').get('scriptLang').value === scriptLanguage.JS"
            formControlName="filterFunction"
            functionName="Filter"
            [functionArgs]="['attributes']"
            helpId="rulenode/agg_latest_entity_filter_fn"
            noValidate>
          </tb-js-func>
          <tb-js-func *ngIf="aggLatestMappingFormGroup.get('filter').get('scriptLang').value === scriptLanguage.TBEL"
            formControlName="tbelFilterFunction"
            functionName="Filter"
            [functionArgs]="['attributes']"
            [disableUndefinedCheck]="true"
            [scriptLanguage]="scriptLanguage.TBEL"
            helpId="rulenode/tbel/agg_latest_entity_filter_fn"
            noValidate>
          </tb-js-func>
        </section>
      </mat-expansion-panel>
    </fieldset>
  </div>
  <div mat-dialog-actions class="flex flex-row items-center justify-end">
    <span class="flex-1"></span>
    <button mat-button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || aggLatestMappingFormGroup.invalid || !aggLatestMappingFormGroup.dirty">
      {{ (isAdd ? 'action.add' : 'action.save') | translate }}
    </button>
    <button mat-button color="primary"
            style="margin-right: 20px;"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
  </div>
</form>
