/**
 * ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2023 ThingsBoard, Inc. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of ThingsBoard, Inc. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to ThingsBoard, Inc.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
:host {
  display: flex;
  width: 100%;
  height: 100%;

  .tb-invisible {
    display: none !important;
  }

  mat-sidenav-container {
    flex: 1;
  }
  mat-sidenav.tb-site-sidenav {
    width: 250px;
    @media (max-width:456px) {
      width: calc(100% - 56px);
    }
    .tb-nav-header {
      z-index: 2;
      flex-shrink: 0;
      white-space: nowrap;
      .tb-nav-header-toolbar {
        min-height: 64px;
        height: inherit;
        padding: 0;
        z-index: 2;
        flex-shrink: 0;
        white-space: nowrap;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        & > div {
          height: 64px;
          .tb-logo-title {
            width: auto;
            max-width: 100%;
            height: 36px;
            max-height: 100%;
            margin: auto;
          }
        }
      }
    }
    .tb-side-menu-toolbar {
      overflow-y: auto;
      height: inherit;
      padding: 0;
      align-items: initial;
      section.version {
        margin: 0 8px 5px 0;
        font-size: .6em;
        text-align: right;
        font-weight: normal;
      }
    }
  }
  .tb-primary-toolbar {
    z-index: 2;
    h1 {
      font-size: 24px !important;
      font-weight: 400 !important;
    }
  }
  .tb-main-content {
    overflow: auto;
    position: relative;
  }
}
