/**
 * ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2023 ThingsBoard, Inc. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of ThingsBoard, Inc. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to ThingsBoard, Inc.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
:host {
  width: 100%;
  height: 100%;

  .tb-customers-hierarchy {
    width: 100%;
    height: 100%;

    section.tb-header-buttons.tb-customers-hierarchy-buttons {
      position: absolute;
      top: 0;
      z-index: 3;
      pointer-events: none;

      .mat-mdc-icon-button {
        width: 36px;
        height: 36px;
        line-height: 36px;
        opacity: .5;
      }

      &.tb-nav-tree-open {
        left: 0;
        .mat-mdc-icon-button.tb-btn-open-nav-tree {
          top: 0;
          left: 0;
          margin: 4px 0 0 4px;
        }
      }

      &.tb-customers-nav-tree-toolbar {
        .mat-mdc-icon-button {
          margin: 4px 8px 0 0;
        }
      }
    }

    .tb-customers-nav-tree {
      z-index: 1;
      width: 360px;
      min-width: 360px;

      .tb-customers-nav-tree-panel {
        overflow-x: auto;
        overflow-y: auto;
      }
    }

    .tb-customers-hierarchy-content {
      z-index: 0;
      overflow: auto;
    }
  }
}

@media (max-width: 768px) {
  :host {
    .tb-customers-hierarchy {
      .tb-customers-nav-tree {
        width: 100vw;
        min-width: 100vw;
      }
    }
  }
}

:host ::ng-deep {

  .tb-customers-hierarchy {

    section.tb-header-buttons.tb-customers-hierarchy-buttons {
      .mat-mdc-fab {
        /*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.
 */
        .mat-button-wrapper {
          padding: 0;
        }
      }
    }

    .tb-nav-tree-container {
      &.jstree-proton {
        .jstree-anchor {
          div.node-icon {
            display: inline-block;
            width: 22px;
            height: 22px;
            margin-right: 2px;
            margin-bottom: 2px;
            background-color: transparent;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center center;
            background-size: 18px 18px;
          }

          mat-icon.node-icon {
            width: 22px;
            min-width: 22px;
            height: 22px;
            min-height: 22px;
            margin-right: 2px;
            margin-bottom: 2px;
            color: inherit;
            vertical-align: middle;

            &.material-icons {
              font-size: 18px;
              line-height: 22px;
              text-align: center;
            }
          }

          &.jstree-hovered:not(.jstree-clicked),
          &.jstree-disabled {
            div.node-icon {
              opacity: .5;
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      .tb-nav-tree-container {
        &.jstree-proton-responsive {
          .jstree-anchor {
            div.node-icon {
              width: 40px;
              height: 40px;
              margin: 0;
              background-size: 24px 24px;
            }

            mat-icon.node-icon {
              width: 40px;
              min-width: 40px;
              height: 40px;
              min-height: 40px;
              margin: 0;

              &.material-icons {
                font-size: 24px;
                line-height: 40px;
              }
            }
          }
        }
      }
    }
  }
}
