<div [formGroup]="form">
    <div class="tb-container">
        <tb-file-input [existingFileName]="form?.get('caCertFileName')?.value" formControlName="caCert"
             dropLabel="{{ 'integration.drop-file' | translate }}" mat-label="integration.ca-cert" (fileNameChanged)="form?.get('caCertFileName').patchValue($event)"
            inputId="ca-cert">
        </tb-file-input>
    </div>
    <div class="tb-container">
        <tb-file-input [existingFileName]="form?.get('certFileName')?.value" formControlName="cert"
             dropLabel="{{ 'integration.drop-file' | translate }}" mat-label="integration.cert" (fileNameChanged)="form?.get('certFileName').patchValue($event)"
            inputId="cert">
        </tb-file-input>
    </div>
    <div class="tb-container">
        <tb-file-input [existingFileName]="form?.get('privateKeyFileName')?.value" formControlName="privateKey"
             dropLabel="{{ 'integration.drop-file' | translate }}" mat-label="integration.private-key" (fileNameChanged)="form?.get('privateKeyFileName').patchValue($event)"
            inputId="private-key">
        </tb-file-input>
    </div>
</div>