<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2020 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<section [formGroup]="form" fxLayout="column">
    <fieldset [diabled]="(isLoading$ | async) || isEdit">
        <div fxLayout="column" fxLayout="row">
            <mat-form-field fxFlex="60" class="mat-block">
                <mat-label translate>integration.host</mat-label>
                <input matInput required  formControlName="host">
                <div *ngIf="form.get('host')?.dirty">  
         <mat-error translate *ngIf="form.get('host')?.errors.required">integration.host-required</mat-error>
                </div>
            </mat-form-field>
            <mat-form-field fxFlex="40" class="mat-block">
                <mat-label translate>integration.port</mat-label>
                <input matInput type="number" step="1" min="1" max="65535" required
                        formControlName="port">
                <div *ngIf="form.get('port')?.dirty">  
         <mat-error translate *ngIf="form.get('port')?.errors.required">integration.port-required</mat-error>
                    <mat-error translate *ngIf="form.get('')?.min">integration.port-range</mat-error>
                    <mat-error translate *ngIf="form.get('')?.max">integration.port-range</mat-error>
                </div>
            </mat-form-field>
            <mat-form-field fxFlex="40" class="mat-block">
                <mat-label translate>integration.connect-timeout</mat-label>
                <input matInput type="number" step="1" min="1" max="200" required
                        formControlName="connectTimeoutSec">
                <div *ngIf="form.get('connectTimeoutSec')?.dirty">  
         <mat-error translate *ngIf="form.get('connectTimeoutSec')?.errors.required">integration.connect-timeout-required</mat-error>
                    <mat-error translate *ngIf="form.get('')?.min">integration.connect-timeout-range</mat-error>
                    <mat-error translate *ngIf="form.get('')?.max">integration.connect-timeout-range</mat-error>
                </div>
            </mat-form-field>
        </div>
        <mat-form-field class="mat-block">
            <mat-label translate>integration.client-id</mat-label>
            <input matInput  formControlName="clientId" ng-pattern="/^[a-zA-Z0-9]*$/" ng-maxlength="23">
            <div *ngIf="form.get('clientId')?.dirty">  
         <mat-error translate *ngIf="form.get('clientId')?.errors.pattern">integration.client-id-pattern</mat-error>
                <mat-error translate *ngIf="form.get('')?.maxlength">integration.client-id-range</mat-error>
            </div>
        </mat-form-field>
        <div fxLayout="column">
            <mat-checkbox [diabled]="(isLoading$ | async) || isEdit"
                         aria-mat-label="{{ 'integration.clean-session' | translate }}"
                         formControlName="cleanSession">
                {{ 'integration.clean-session' | translate }}
            </mat-checkbox>
            <mat-checkbox [diabled]="(isLoading$ | async) || isEdit"
                         aria-mat-label="{{ 'integration.enable-ssl' | translate }}"
                         formControlName="ssl">
                {{ 'integration.enable-ssl' | translate }}
            </mat-checkbox>
        </div>
        <mat-accordeon class="tb-integration-panel-group" [ngClass]="{'disabled': (isLoading$ | async) || isEdit}" mat-component-id="credentialsPanelGroup">
            <mat-expansion-panel mat-component-id="credentialsPanel">              
                
                    <mat-expansion-panel-header ng-click="$matExpansionPanel('credentialsPanel').collapse()">
                        <div class="tb-panel-title">{{ 'integration.credentials' | translate }}</div>
                        <div class="tb-panel-prompt">{{ mqttCredentialTypes[form?.get('credentialsType')?.value]?.name | translate }}</div>
                        <span fxFlex></span>
                        <mat-expansion-panel-icon></mat-expansion-panel-icon>
                    </mat-expansion-panel-header>
                    <mat-expansion-panel-content>
                        <div>
                            <mat-form-field class="mat-block">
                                <mat-label translate>integration.credentials-type</mat-label>
                                <mat-select required  formControlName="credentialsType"
                                           [diabled]="(isLoading$ | async) || isEdit" (change)="credentialsTypeChanged()">
                                    <mat-option *ngFor="let credentialsType in mqttCredentialTypes | keyvalue" [value]="credentialsType?.value">
                                        {{credentialsType?.value.name | translate}}
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="form.get('credentialsType')?.dirty">  
         <mat-error translate *ngIf="form.get('credentialsType')?.errors.required">integration.credentials-type-required</mat-error>
                                </div>
                            </mat-form-field>
                            {{form?.get('credentialsType')}}
                            <section *ngIf="form?.get('credentialsType')?.value == mqttCredentialTypes.basic.value">
                                <mat-form-field class="mat-block">
                                    <mat-label translate>integration.username</mat-label>
                                    <input matInput required formControlName="mqttUsername">
                                    <div *ngIf="form.get('mqttUsername')?.dirty">  
         <mat-error translate *ngIf="form.get('mqttUsername')?.errors.required">integration.username-required</mat-error>
                                    </div>
                                </mat-form-field>
                                <mat-form-field class="mat-block">
                                    <mat-label translate>integration.password</mat-label>
                                    <input matInput type="password" required formControlName="mqttPassword">
                                    <div *ngIf="form.get('mqttPassword')?.dirty">  
         <mat-error translate *ngIf="form.get('mqttPassword')?.errors.required">integration.password-required</mat-error>
                                    </div>
                                </mat-form-field>
                            </section>
                            <section *ngIf="form?.get('credentialsType')?.value == mqttCredentialTypes['cert.PEM'].value"
                                     class="dropdown-section">
                                <div class="tb-container" [ngClass]="credentials.caCertFileName ? 'ng-valid' : 'ng-invalid'">
                                    <mat-label class="tb-mat-label" translate>integration.ca-cert</mat-label>
                                    <div flow-init="{singleFile:true}" flow-file-added="certFileAdded($file, 'caCert')" class="tb-file-select-container">
                                        <div class="tb-file-clear-container">
                                            <mat-button ng-click="clearCertFile('caCert')" class="tb-file-clear-btn mat-icon-button mat-primary" aria-mat-label="{{ 'action.remove' | translate }}">
                                                <mat-tooltip mat-direction="top">
                                                    {{ 'action.remove' | translate }}
                                                </mat-tooltip>
                                                <mat-icon aria-mat-label="{{ 'action.remove' | translate }}" class="material-icons">close</mat-icon>
                                            </mat-button>
                                        </div>
                                        <div class="alert tb-flow-drop" flow-drop>
                                            <mat-label for="caCertSelect" translate>integration.drop-file</mat-label>
                                            <input matInput class="file-input" flow-btn id="caCertSelect">
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-messages">
                                    <div *ngIf="!credentials.caCertFileName" class="tb-error-message" translate>integration.no-file</div>
                                    <div *ngIf="credentials.caCertFileName">{{credentials.caCertFileName}}</div>
                                </div>
                                <div class="tb-container" [ngClass]="credentials.certFileName ? 'ng-valid' : 'ng-invalid'">
                                    <mat-label class="tb-mat-label" translate>integration.cert</mat-label>
                                    <div flow-init="{singleFile:true}" flow-file-added="certFileAdded($file, 'Cert')" class="tb-file-select-container">
                                        <div class="tb-file-clear-container">
                                            <mat-button ng-click="clearCertFile('Cert')" class="tb-file-clear-btn mat-icon-button mat-primary" aria-mat-label="{{ 'action.remove' | translate }}">
                                                <mat-tooltip mat-direction="top">
                                                    {{ 'action.remove' | translate }}
                                                </mat-tooltip>
                                                <mat-icon aria-mat-label="{{ 'action.remove' | translate }}" class="material-icons">close</mat-icon>
                                            </mat-button>
                                        </div>
                                        <div class="alert tb-flow-drop" flow-drop>
                                            <mat-label for="CertSelect" translate>integration.drop-file</mat-label>
                                            <input matInput class="file-input" flow-btn id="CertSelect">
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-messages">
                                    <div *ngIf="!credentials.certFileName" class="tb-error-message" translate>integration.no-file</div>
                                    <div *ngIf="credentials.certFileName">{{credentials.certFileName}}</div>
                                </div>
                                <div class="tb-container" [ngClass]="credentials.privateKeyFileName ? 'ng-valid' : 'ng-invalid'">
                                    <mat-label class="tb-mat-label" translate>integration.private-key</mat-label>
                                    <div flow-init="{singleFile:true}" flow-file-added="certFileAdded($file, 'privateKey')" class="tb-file-select-container">
                                        <div class="tb-file-clear-container">
                                            <mat-button ng-click="clearCertFile('privateKey')" class="tb-file-clear-btn mat-icon-button mat-primary" aria-mat-label="{{ 'action.remove' | translate }}">
                                                <mat-tooltip mat-direction="top">
                                                    {{ 'action.remove' | translate }}
                                                </mat-tooltip>
                                                <mat-icon aria-mat-label="{{ 'action.remove' | translate }}" class="material-icons">close</mat-icon>
                                            </mat-button>
                                        </div>
                                        <div class="alert tb-flow-drop" flow-drop>
                                            <mat-label for="privateKeySelect" translate>integration.drop-file</mat-label>
                                            <input matInput class="file-input" flow-btn id="privateKeySelect">
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-messages">
                                    <div *ngIf="!credentials.privateKeyFileName" class="tb-error-message" translate>integration.no-file</div>
                                    <div *ngIf="credentials.privateKeyFileName">{{credentials.privateKeyFileName}}</div>
                                </div>
                                <mat-form-field class="mat-block">
                                    <mat-label translate>integration.private-key-password</mat-label>
                                    <input matInput type="password"  formControlName="privateKeyPassword">
                                </mat-form-field>
                            </section>
                        </div>
                    </mat-expansion-panel-content>
                
            </mat-expansion-panel>
        </mat-accordeon>
    </fieldset>
    <tb-mqtt-topic-filters
            formControlName="configuration.topicFilters"
            is-edit="isEdit"
            disable-mqtt-topics="false"
    ></tb-mqtt-topic-filters>
    <div style="height: 30px;"></div>
    <mat-form-field class="mat-block">
        <mat-label translate>integration.downlink-topic-pattern</mat-label>
        <input matInput required 
               [diabled]="(isLoading$ | async) || isEdit"
               formControlName="configuration.downlinkTopicPattern">
        <div *ngIf="form.get('downlinkTopicPattern')?.dirty">  
         <mat-error translate *ngIf="form.get('downlinkTopicPattern')?.errors.required">integration.downlink-topic-pattern-required</mat-error>
        </div>
    </mat-form-field>
</section>
