<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2022 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<div class="tb-details-buttons" fxLayout.xs="column">
  <button mat-raised-button color="primary"
          [disabled]="(isLoading$ | async)"
          (click)="onEntityAction($event, 'open')"
          [fxShow]="!isEdit && !isDetailsPage">
    {{'common.open-details-page' | translate }}
  </button>
  <button mat-raised-button color="primary" [disabled]="(isLoading$ | async)" (click)="onEntityAction($event, 'delete')"
    [fxShow]="!hideDelete() && !isEdit">
    {{'integration.delete' | translate }}
  </button>
  <div fxLayout="row" fxLayout.xs="column">
    <button mat-raised-button ngxClipboard (cbOnSuccess)="onIntegrationIdCopied()" [cbContent]="entity?.id?.id"
      [fxShow]="!isEdit">
      <mat-icon svgIcon="mdi:clipboard-arrow-left"></mat-icon>
      <span translate>integration.copyId</span>
    </button>
  </div>
</div>
<form [formGroup]="entityForm" class="mat-padding" tb-toast toastTarget="integrationRoot">
  <fieldset [disabled]="(isLoading$ | async)">
    <div translate class="tb-hint tb-hint-edge" *ngIf="isEdgeTemplate">integration.edge-placeholder-hint</div>
    <div class="row" fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="8px">
      <mat-form-field fxFlex class="mat-block">
        <mat-label translate>integration.name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="entityForm.get('name').hasError('required') || entityForm.get('name').hasError('pattern')">
          {{ 'integration.name-required' | translate }}
        </mat-error>
        <mat-error *ngIf="entityForm.get('name').hasError('maxlength')">
          {{ 'integration.name-max-length' | translate }}
        </mat-error>
      </mat-form-field>
      <tb-integration-type-select formControlName="type" required fxFlex>
      </tb-integration-type-select>
    </div>
    <div class="row" fxLayout="column" fxLayoutGap="8px">
      <mat-slide-toggle formControlName="enabled">
        {{ 'integration.enabled' | translate }}
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="debugMode">
        {{ 'integration.debug-mode' | translate }}
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="allowCreateDevicesOrAssets">
        {{ 'integration.allow-create-devices-or-assets' | translate }}
      </mat-slide-toggle>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="8px">
      <tb-converter-autocomplete fxFlex formControlName="defaultConverterId" required
                                 labelText="integration.uplink-converter" requiredText="integration.uplink-converter-required"
                                 [converterType]="converterType.UPLINK"
                                 [showDetailsPageLink]="true"
                                 [useFullEntityId]="true"
                                 [addNewConverter]="true"
                                 [isEdgeTemplate]="integrationScope === 'edges'">
      </tb-converter-autocomplete>
      <tb-converter-autocomplete fxFlex formControlName="downlinkConverterId"
                                 labelText="integration.downlink-converter"
                                 *ngIf="showDownlinkConvector"
                                 [converterType]="converterType.DOWNLINK"
                                 [showDetailsPageLink]="true"
                                 [useFullEntityId]="true"
                                 [addNewConverter]="true"
                                 [isEdgeTemplate]="integrationScope === 'edges'">
      </tb-converter-autocomplete>
    </div>
    <tb-integration-configuration
      formControlName="configuration"
      [routingKey]="entityForm.get('routingKey').value"
      [genericAdditionalInfoTemplate]="genericAdditionalInfo"
      [executeRemotelyTemplate]="executeRemotely"
      [integrationType]="entityForm.get('type').value"
      [isSetDownlink]="!!entityForm.get('downlinkConverterId').value"
      [isEdgeTemplate]="isEdgeTemplate"
    ></tb-integration-configuration>
  </fieldset>
</form>
<ng-template #genericAdditionalInfo>
  <section [formGroup]="entityForm">
    <div formGroupName="additionalInfo" fxLayout="column">
      <mat-form-field class="mat-block">
        <mat-label translate>integration.description</mat-label>
        <textarea matInput formControlName="description" cdkTextareaAutosize
                  cdkAutosizeMinRows="1" rows="1"></textarea>
      </mat-form-field>
    </div>
    <fieldset class="fields-group">
      <legend class="group-title" translate>integration.metadata</legend>
      <tb-key-val-map formControlName="metadata" isStrokedButton="true"></tb-key-val-map>
    </fieldset>
  </section>
  <div style="height: 30px;"></div>
</ng-template>
<ng-template #executeRemotely>
  <section [formGroup]="entityForm">
    <mat-expansion-panel class="remote-integration-setting" [expanded]="entityForm.get('remote').value">
      <mat-expansion-panel-header fxLayout="row">
        <mat-panel-title>
          <mat-slide-toggle formControlName="remote" (click)="$event.stopPropagation()">
            {{'integration.execute-remotely' | translate}}
          </mat-slide-toggle>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <section class="remote-integration-setting-content">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field class="mat-block" fxFlex>
              <mat-label translate>integration.integration-key</mat-label>
              <input matInput formControlName="routingKey">
            </mat-form-field>
            <button mat-button mat-icon-button ngxClipboard type="button" color="primary"
                    (cbOnSuccess)="onIntegrationInfoCopied('key')"
                    [cbContent]="entityForm?.get('routingKey').value"
                    matTooltip="{{'integration.copy-integration-key' | translate}}">
              <mat-icon class="tb-mat-20">content_copy</mat-icon>
            </button>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field class="mat-block" fxFlex>
              <mat-label translate>integration.integration-secret</mat-label>
              <input matInput formControlName="secret">
            </mat-form-field>
            <button mat-button mat-icon-button ngxClipboard type="button" color="primary"
                    (cbOnSuccess)="onIntegrationInfoCopied('secret')"
                    [cbContent]="entityForm?.get('secret').value"
                    matTooltip="{{'integration.copy-integration-secret' | translate}}">
              <mat-icon class="tb-mat-20">content_copy</mat-icon>
            </button>
          </div>
        </section>
      </ng-template>
    </mat-expansion-panel>
    <button *ngIf="isCheckConnectionAvailable && isEdit"
            style="margin-bottom: 8px"
            mat-stroked-button color="primary"
            (click)="onIntegrationCheck()">
      {{ 'integration.check-connection' | translate }}
    </button>
  </section>
</ng-template>
