<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2020 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<div class="tb-details-buttons">
  <button mat-raised-button color="primary"
          [disabled]="(isLoading$ | async)"
          (click)="onEntityAction($event, 'delete')"
          [fxShow]="!hideDelete() && !isEdit">
    {{'integration.delete' | translate }}
  </button>
  <div fxLayout="row">
    <button mat-raised-button
            ngxClipboard
            (cbOnSuccess)="onIntegrationIdCopied($event)"
            [cbContent]="entity?.id?.id"
            [fxShow]="!isEdit">
      <mat-icon svgIcon="mdi:clipboard-arrow-left"></mat-icon>
      <span translate>integration.copyId</span>
    </button>
  </div>
</div>
<div class="mat-padding" fxLayout="column">
  <form #entityNgForm="ngForm" [formGroup]="entityForm">
    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
      <mat-form-field class="mat-block">
        <mat-label translate>integration.name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="entityForm.get('name').hasError('required')">
          {{ 'integration.name-required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-block">
        <mat-label translate>integration.type</mat-label>
        <mat-select matInput formControlName="type" required>
          <mat-option *ngFor="let type of integrationTypes" [value]="type">
            {{integrationTypeInfos.get(type).name | translate}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entityForm.get('type').hasError('required')">
          {{ 'integration.type-required' | translate }}
        </mat-error>
      </mat-form-field>
      <div fxLayout="row">
        <mat-checkbox fxFlex="50" formControlName="enabled" style="padding-bottom: 16px;">
          {{ 'integration.enabled' | translate }}
        </mat-checkbox>
        <mat-checkbox fxFlex formControlName="debugMode" style="padding-bottom: 16px;">
          {{ 'integration.debug-mode' | translate }}
        </mat-checkbox>
      </div>
      <tb-converter-autocomplete
        formControlName="defaultConverterId"
        required
        [converterType]="converterType.UPLINK"
        labelText="integration.uplink-converter"
        requiredText="integration.uplink-converter-required"
        [useFullEntityId]="true">
      </tb-converter-autocomplete>
      <tb-converter-autocomplete
        formControlName="downlinkConverterId"
        [converterType]="converterType.DOWNLINK"
        labelText="integration.downlink-converter"
        [useFullEntityId]="true">
      </tb-converter-autocomplete>
      <mat-slide-toggle formControlName="remote" style="padding-bottom: 48px;">
        {{'integration.execute-remotely' | translate}}
      </mat-slide-toggle>
    </fieldset>
    <div [fxShow]="entityForm.get('remote').value" class="mat-elevation-z1 remote-config-panel">
      <div fxLayout="row">
        <mat-form-field class="mat-block" fxFlex>
          <mat-label translate>integration.integration-key</mat-label>
          <input matInput formControlName="routingKey">
        </mat-form-field>
        <button mat-button mat-icon-button
                type="button"
                ngxClipboard
                (cbOnSuccess)="onIntegrationInfoCopied('key')"
                [cbContent]="entityForm?.get('routingKey').value"
                matTooltip="{{'integration.copy-integration-key' | translate}}">
          <mat-icon svgIcon="mdi:clipboard-arrow-left"></mat-icon>
        </button>
      </div>
      <div fxLayout="row">
        <mat-form-field class="mat-block" fxFlex>
          <mat-label translate>integration.integration-secret</mat-label>
          <input matInput formControlName="secret">
        </mat-form-field>
        <button mat-button mat-icon-button
                type="button"
                ngxClipboard
                (cbOnSuccess)="onIntegrationInfoCopied('secret')"
                [cbContent]="entityForm?.get('secret').value"
                matTooltip="{{'integration.copy-integration-secret' | translate}}">
          <mat-icon svgIcon="mdi:clipboard-arrow-left"></mat-icon>
        </button>
      </div>
    </div>
    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
      <section *ngIf="integrationTypeInfos.get(entityForm?.get('type').value)?.http">TODO: HTTP configuration</section>
      <section *ngIf="entityForm?.get('type').value === integrationType.MQTT">TODO: MQTT configuration</section>
      <section *ngIf="entityForm?.get('type').value === integrationType.OPC_UA">TODO: OPC_UA configuration</section>
      <section *ngIf="entityForm?.get('type').value === integrationType.AWS_KINESIS">TODO: AWS_KINESIS configuration</section>
      <section *ngIf="entityForm?.get('type').value === integrationType.AWS_IOT">TODO: AWS_IOT configuration</section>
      <section *ngIf="entityForm?.get('type').value === integrationType.AWS_SQS">TODO: AWS_SQS configuration</section>
      <section *ngIf="entityForm?.get('type').value === integrationType.IBM_WATSON_IOT">TODO: IBM_WATSON_IOT configuration</section>
      <section *ngIf="entityForm?.get('type').value === integrationType.TTN">TODO: TTN configuration</section>
      <section *ngIf="entityForm?.get('type').value === integrationType.AZURE_EVENT_HUB">TODO: AZURE_EVENT_HUB configuration</section>
      <section *ngIf="entityForm?.get('type').value === integrationType.TCP">TODO: TCP configuration</section>
      <section *ngIf="entityForm?.get('type').value === integrationType.UDP">TODO: UDP configuration</section>
      <section *ngIf="entityForm?.get('type').value === integrationType.KAFKA">TODO: KAFKA configuration</section>
      <section *ngIf="entityForm?.get('type').value === integrationType.CUSTOM">TODO: CUSTOM configuration</section>
      <div formGroupName="additionalInfo" fxLayout="column">
        <mat-form-field class="mat-block">
          <mat-label translate>converter.description</mat-label>
          <textarea matInput formControlName="description" rows="2"></textarea>
        </mat-form-field>
      </div>
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="tb-panel-title" translate>integration.metadata</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <tb-key-val-map
          formControlName="metadata"
          titleText="integration.metadata"
        ></tb-key-val-map>
      </mat-expansion-panel>
    </fieldset>
  </form>
</div>
