<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2022 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<form [formGroup]="layoutsFormGroup" (ngSubmit)="save()">
  <mat-toolbar color="primary">
    <h2 translate>layout.manage</h2>
    <span fxFlex></span>
    <button mat-button mat-icon-button
      (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-content fxLayout="column" fxLayoutGap="20px" style="min-width: 300px; overflow: hidden;">
    <div fxLayout="row" fxLayoutAlign="start center">
        <mat-slide-toggle formControlName="right" color="accent">
          {{ 'layout.divider' | translate }}
        </mat-slide-toggle>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
      <mat-button-toggle-group aria-label="Select width value type"
                               formControlName="type"
                               [fxShow]="layoutsFormGroup.get('right').value">
        <mat-button-toggle fxFlex value="percentage">
          {{ 'layout.percentage-width' | translate }}
        </mat-button-toggle>
        <mat-button-toggle fxFlex value="fixed">
          {{ 'layout.fixed-width' | translate }}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div fxLayout="row" fxLayoutAlign="center center" class="tb-layout-preview">
        <div fxLayout="row"
             fxLayoutAlign="start center"
             class="tb-layout-preview-container"
             #tooltip="matTooltip"
             matTooltip=""
             matTooltipPosition="below">
          <div fxLayout="column" fxLayoutAlign="start center" fxFlex="{{ buttonFlexValue() }}" class="tb-layout-preview-container-main">
            <button mat-icon-button
                    type="button"
                    matTooltip="{{ 'dashboard.layout-settings' | translate }}"
                    matTooltipPosition="above"
                    (click)="openLayoutSettings('main')"
                    class="tb-layout-preview-element"
                    aria-label="Layout settings"
                    [ngClass]="layoutButtonTextAndClass('main', false)">
              <mat-icon>settings</mat-icon>
            </button>
            <button fxFlex
                    type="button"
                    mat-raised-button
                    color="primary"
                    class="tb-layout-button"
                    [matTooltip]="layoutButtonTextAndClass('main', true)"
                    matTooltipPosition="above"
                    matTooltipClass="tb-layout-button-tooltip"
                    (click)="setFixedLayout('main')"
                    [ngClass]="layoutButtonTextAndClass('main', false)"
                    [ngStyle]="layoutsFormGroup.get('right').value ?
                              {'border-radius': '5px 0 0 5px;'} :
                              {'border-radius': '5px 5px 5px 5px;'}">
              <span>{{ (layoutsFormGroup.value.right ? 'layout.left' : 'layout.main')  | translate }}</span>
            </button>
            <div fxFlex class="tb-layout-preview-element tb-layout-preview-input" [fxShow]="showPreviewInputs('main')">
              <input [fxShow]="layoutsFormGroup.get('type').value !== LayoutWidthType.FIXED"
                     formControlName="leftWidthPercentage"
                     type="number"
                     step="1"
                     min="10"
                     max="90"
                     required>
              <input [fxShow]="layoutsFormGroup.get('type').value === LayoutWidthType.FIXED"
                     *ngIf="layoutsFormGroup.get('fixedLayout').value === 'main'"
                     formControlName="fixedWidth"
                     type="number"
                     step="1"
                     min="150"
                     max="1700"
                     required>
            </div>
          </div>
          <div fxLayout="column" fxLayoutAlign="start center" fxFlex [fxShow]="layoutsFormGroup.get('right').value" matTooltip="">
            <button mat-icon-button
                    type="button"
                    matTooltip="{{ 'dashboard.layout-settings' | translate }}"
                    matTooltipPosition="above"
                    (click)="openLayoutSettings('right')"
                    class="tb-layout-preview-element"
                    aria-label="Layout settings"
                    [ngClass]="layoutButtonTextAndClass('right', false)">
              <mat-icon>settings</mat-icon>
            </button>
            <button fxFlex
                    type="button"
                    mat-raised-button
                    color="primary"
                    class="tb-layout-button"
                    [matTooltip]="layoutButtonTextAndClass('right', true)"
                    matTooltipPosition="above"
                    matTooltipClass="tb-layout-button-tooltip"
                    (click)="setFixedLayout('right')"
                    [ngClass]="layoutButtonTextAndClass('right', false)"
                    style="border-radius: 0 5px 5px 0;">
              <span>{{ 'layout.right' | translate }}</span>
            </button>
            <div fxFlex class="tb-layout-preview-element tb-layout-preview-input" [fxShow]="showPreviewInputs('right')">
              <input [fxShow]="layoutsFormGroup.get('type').value !== LayoutWidthType.FIXED"
                     formControlName="rightWidthPercentage"
                     type="number"
                     step="1"
                     min="10"
                     max="90"
                     required>
              <input [fxShow]="layoutsFormGroup.get('type').value === LayoutWidthType.FIXED"
                     *ngIf="layoutsFormGroup.get('fixedLayout').value === 'right'"
                     formControlName="fixedWidth"
                     type="number"
                     step="1"
                     min="150"
                     max="1700"
                     required>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" [fxShow]="layoutsFormGroup.get('right').value" style="width: 80%">
        <mat-slider [fxShow]="layoutsFormGroup.get('type').value === LayoutWidthType.PERCENTAGE"
                    min="10"
                    step="1"
                    max="90"
                    style="width: 100%;"
                    color="accent"
                    formControlName="sliderPercentage"
                    thumbLabel
                    [displayWith]="formatSliderTooltipLabel.bind(this)">
        </mat-slider>
        <mat-slider [fxShow]="layoutsFormGroup.get('type').value !== LayoutWidthType.PERCENTAGE"
                    min="150"
                    step="1"
                    max="1700"
                    style="width: 100%;"
                    color="accent"
                    formControlName="sliderFixed"
                    thumbLabel
                    [displayWith]="formatSliderTooltipLabel.bind(this)">
        </mat-slider>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="tb-hint tb-hint-group" style="width: 100%;">
          <label>{{layoutsFormGroup.get('type').value === LayoutWidthType.PERCENTAGE ? '10 %' : '150px'}}</label>
          <label>{{layoutsFormGroup.get('type').value === LayoutWidthType.PERCENTAGE ? '90 %' : '1700px'}}</label>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button
            color="primary"
            type="button"
            (click)="cancel()" cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="layoutsFormGroup.invalid || !layoutsFormGroup.dirty">
      {{ 'action.save' | translate }}
    </button>
  </div>
</form>
