<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2025 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<section [formGroup]="reportConfigFormGroup" class="tb-form-panel no-border no-padding flex flex-col">
  <div class="tb-form-panel stroked">
    <mat-expansion-panel class="tb-settings" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="tb-panel-title" translate>report.general-report-settings</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="no-gap flex flex-col">
        <mat-form-field class="mat-block flex-1">
          <mat-label translate>report.name-pattern</mat-label>
          <input matInput formControlName="namePattern" required>
          <div matIconSuffix tb-help-popup="date/date-format" [tb-help-popup-style]="{width: '800px'}"></div>
          <mat-error *ngIf="reportConfigFormGroup.get('namePattern').hasError('required')">
            {{ 'report.name-pattern-required' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-block flex-1">
          <mat-label translate>report.type</mat-label>
          <mat-select matInput formControlName="type" required>
            <mat-option *ngFor="let reportType of reportTypesList" [value]="reportType">
              {{ reportTypeNames.get(reportType) }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </div>
  <div class="tb-form-panel stroked report-target-dashboard">
    <mat-expansion-panel class="tb-settings" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="tb-panel-title" translate>report.target-dashboard</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="no-gap flex flex-col">
        <mat-form-field class="mat-block flex-1">
          <mat-label translate>report.base-url</mat-label>
          <input matInput formControlName="baseUrl" required>
          <mat-error *ngIf="reportConfigFormGroup.get('baseUrl').hasError('required')">
            {{ 'report.base-url-required' | translate }}
          </mat-error>
        </mat-form-field>
        <tb-entity-autocomplete
          class="flex-1"
          required
          [entityType]="entityType.DASHBOARD"
          formControlName="dashboardId">
        </tb-entity-autocomplete>
        <mat-form-field class="mat-block flex-1">
          <mat-label translate>report.dashboard-state-param</mat-label>
          <input matInput formControlName="state">
          <button type="button"
                  matSuffix
                  mat-icon-button
                  (click)="selectDashboardState()"
                  matTooltip="{{ 'scheduler.select-dashboard-state' | translate }}"
                  matTooltipPosition="above"
                  [disabled]="disabled || !reportConfigFormGroup.get('dashboardId').value">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </mat-form-field>
        <div class="flex flex-col">
          <tb-timezone-select
            userTimezoneByDefault
            required
            formControlName="timezone">
          </tb-timezone-select>
          <div class="tb-hint" translate
               *ngIf="!reportConfigFormGroup.get('timezone').hasError('required')">
            report.timezone-description
          </div>
        </div>
        <div class="tb-form-panel no-border no-padding flex flex-col">
          <div class="tb-form-row space-between column-xs">
            <mat-slide-toggle class="mat-slide" formControlName="useDashboardTimewindow">
              <label (click)="$event.stopPropagation();"
                     class="break-word"
                     tb-hint-tooltip-icon="{{ 'report.use-dashboard-timewindow-description' | translate }}">
                {{ 'report.use-dashboard-timewindow' | translate }}
              </label>
            </mat-slide-toggle>
            <tb-timewindow
              asButton
              aggregation
              class="margin-right"
              formControlName="timewindow">
            </tb-timewindow>
          </div>
          <div [class.!hidden]="!isTenantAdmin" class="tb-form-panel stroked"
               [class.no-padding-bottom]="!reportConfigFormGroup.get('useCurrentUserCredentials').value">
            <div class="flex w-full flex-1 flex-row items-center justify-between gap-0 xs:flex-col xs:items-start xs:gap-3">
              <div class="fixed-title-width" translate
                   tb-hint-tooltip-icon="{{ 'report.user-credentials-description' | translate }}">
                report.credentials
              </div>
              <tb-toggle-select formControlName="useCurrentUserCredentials" appearance="fill">
                <tb-toggle-option [value]="true">
                  {{ 'report.current-user' | translate }}
                </tb-toggle-option>
                <tb-toggle-option [value]="false">
                  {{ 'report.customer-user' | translate }}
                </tb-toggle-option>
              </tb-toggle-select>
            </div>
            <tb-entity-autocomplete
              [class.!hidden]="reportConfigFormGroup.get('useCurrentUserCredentials').value"
              required
              [entityType]="entityType.USER"
              labelText="report.customer-user-credentials"
              requiredText="report.customer-user-credentials-required"
              formControlName="userId">
            </tb-entity-autocomplete>
          </div>
          <div class="tb-form-row space-between test-generate-row">
            <div class="fixed-title-width">{{ 'report.preview-report' | translate }}</div>
            <button *ngIf="!disabled" mat-raised-button color="primary"
                    type="button"
                    [disabled]="(isLoading$ | async) || reportConfigFormGroup.invalid"
                    (click)="generateTestReport()"
                    class="margin-right">
              {{ 'report.generate-test-report' | translate }}
            </button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</section>
