<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2023 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<section [formGroup]="scheduleConfigFormGroup" fxLayout="column">
  <span style="height: 16px;"></span>
  <tb-timezone-select
    userTimezoneByDefault
    required
    formControlName="timezone">
  </tb-timezone-select>
  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" fxLayoutGap="16px">
    <mat-form-field>
      <mat-label translate>scheduler.start-time</mat-label>
      <mat-datetimepicker-toggle [for]="startDatePicker" matPrefix></mat-datetimepicker-toggle>
      <mat-datetimepicker #startDatePicker type="datetime" openOnFocus="true"></mat-datetimepicker>
      <input required matInput formControlName="startDate" [matDatetimepicker]="startDatePicker">
    </mat-form-field>
  </section>
  <mat-checkbox fxFlex formControlName="repeat" style="padding-bottom: 16px;">
    {{ 'scheduler.repeat' | translate }}
  </mat-checkbox>
  <section [fxShow]="scheduleConfigFormGroup.get('repeat').value" fxLayout="column">
    <mat-form-field class="mat-block">
      <mat-label translate>scheduler.repeats</mat-label>
      <mat-select matInput formControlName="repeatType" required>
        <mat-option *ngFor="let repeatType of schedulerRepeatTypes" [value]="repeatType">
          {{ schedulerRepeatTypeTranslations.get(repeatType) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="mat-block" [fxShow]="scheduleConfigFormGroup.get('repeatType').value === schedulerRepeatType.EVERY_N_DAYS" style="padding-bottom: 16px;">
      <mat-label translate>scheduler.repeat-every-n-days</mat-label>
      <input type="number" min="1" step="1" matInput formControlName="days" required>
      <mat-error *ngIf="scheduleConfigFormGroup.get('days').hasError('required')">
        {{ 'scheduler.repeat-days-required' | translate }}
      </mat-error>
      <mat-error *ngIf="scheduleConfigFormGroup.get('days').hasError('min')">
        {{ 'scheduler.invalid-repeat-days-value' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-block" [fxShow]="scheduleConfigFormGroup.get('repeatType').value === schedulerRepeatType.EVERY_N_WEEKS" style="padding-bottom: 16px;">
      <mat-label translate>scheduler.repeat-every-n-weeks</mat-label>
      <input type="number" min="1" step="1" matInput formControlName="weeks" required>
      <mat-error *ngIf="scheduleConfigFormGroup.get('weeks').hasError('required')">
        {{ 'scheduler.repeat-weeks-required' | translate }}
      </mat-error>
      <mat-error *ngIf="scheduleConfigFormGroup.get('days').hasError('min')">
        {{ 'scheduler.invalid-repeat-weeks-value' | translate }}
      </mat-error>
    </mat-form-field>
    <div [fxShow]="scheduleConfigFormGroup.get('repeatType').value === schedulerRepeatType.TIMER"
         formGroupName="timerRepeat"
         fxLayout="column">
      <label translate class="tb-small">scheduler.repeat-every</label>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
        <mat-form-field fxFlex="50" class="mat-block">
          <input type="number" min="0" stype="any" matInput formControlName="repeatInterval" required>
          <mat-error *ngIf="scheduleConfigFormGroup.get('timerRepeat.repeatInterval').hasError('required')">
            {{ 'scheduler.time-interval-required' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50" class="mat-block">
          <mat-select matInput formControlName="timeUnit" required>
            <mat-option *ngFor="let timeUnit of schedulerTimeUnits" [value]="timeUnit">
              {{ schedulerTimeUnitTranslations.get(timeUnit) | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="scheduleConfigFormGroup.get('timerRepeat.timeUnit').hasError('required')">
            {{ 'scheduler.time-unit-required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div [fxShow]="scheduleConfigFormGroup.get('repeatType').value === schedulerRepeatType.WEEKLY"
         formArrayName="weeklyRepeat"
         fxLayout="column">
      <label translate class="tb-small">scheduler.repeat-on</label>
      <span style="height: 16px;"></span>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="16px" style="padding-bottom: 16px;">
        <div fxLayout="row" fxLayoutGap="16px">
          <mat-checkbox [formControl]="weeklyRepeatControl(0)"
                        matTooltip="{{'scheduler.repeat-on-sunday' | translate}}"
                        matTooltipPosition="above">
            {{ 'scheduler.sunday-label' | translate }}
          </mat-checkbox>
          <mat-checkbox [formControl]="weeklyRepeatControl(1)"
                        matTooltip="{{'scheduler.repeat-on-monday' | translate}}"
                        matTooltipPosition="above">
            {{ 'scheduler.monday-label' | translate }}
          </mat-checkbox>
          <mat-checkbox [formControl]="weeklyRepeatControl(2)"
                        matTooltip="{{'scheduler.repeat-on-tuesday' | translate}}"
                        matTooltipPosition="above">
            {{ 'scheduler.tuesday-label' | translate }}
          </mat-checkbox>
          <mat-checkbox [formControl]="weeklyRepeatControl(3)"
                        matTooltip="{{'scheduler.repeat-on-wednesday' | translate}}"
                        matTooltipPosition="above">
            {{ 'scheduler.wednesday-label' | translate }}
          </mat-checkbox>
        </div>
        <div fxLayout="row" fxLayoutGap="16px">
          <mat-checkbox [formControl]="weeklyRepeatControl(4)"
                        matTooltip="{{'scheduler.repeat-on-thursday' | translate}}"
                        matTooltipPosition="above">
            {{ 'scheduler.thursday-label' | translate }}
          </mat-checkbox>
          <mat-checkbox [formControl]="weeklyRepeatControl(5)"
                        matTooltip="{{'scheduler.repeat-on-friday' | translate}}"
                        matTooltipPosition="above">
            {{ 'scheduler.friday-label' | translate }}
          </mat-checkbox>
          <mat-checkbox [formControl]="weeklyRepeatControl(6)"
                        matTooltip="{{'scheduler.repeat-on-saturday' | translate}}"
                        matTooltipPosition="above">
            {{ 'scheduler.saturday-label' | translate }}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <section fxLayout="row" fxLayoutAlign="start start">
      <mat-form-field>
        <mat-label translate>scheduler.ends-on</mat-label>
        <mat-datetimepicker-toggle [for]="endDatePicker" matPrefix></mat-datetimepicker-toggle>
        <mat-datetimepicker #endDatePicker type="date" openOnFocus="true"></mat-datetimepicker>
        <input required matInput formControlName="endsOnDate" [matDatetimepicker]="endDatePicker" [errorStateMatcher]="endsOnDateMatcher">
        <mat-error *ngIf="scheduleConfigFormGroup.hasError('endsOnDateValidator')">
          {{ 'scheduler.invalid-time' | translate }}
        </mat-error>
      </mat-form-field>
    </section>
  </section>
</section>
