<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2025 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<section [formGroup]="scheduleConfigFormGroup" class="flex flex-col">
  <tb-timezone-select
    userTimezoneByDefault
    required
    formControlName="timezone">
  </tb-timezone-select>
  <section class="flex flex-col gap-4 gt-sm:flex-row gt-sm:items-start gt-sm:justify-start">
    <mat-form-field class="mat-block tb-layout-fill">
      <mat-label translate>scheduler.start-time</mat-label>
      <mat-datetimepicker-toggle [for]="startDatePicker" matPrefix></mat-datetimepicker-toggle>
      <mat-datetimepicker #startDatePicker type="datetime" openOnFocus="true"></mat-datetimepicker>
      <input required matInput formControlName="startDate" [matDatetimepicker]="startDatePicker">
    </mat-form-field>
  </section>
  <section class="tb-form-panel stroked"
           [class.no-padding-bottom]="repeatConfigPanel.expanded">
    <mat-expansion-panel class="tb-settings" #repeatConfigPanel
                         [disabled]="!scheduleConfigFormGroup.get('repeat').value"
                         [expanded]="scheduleConfigFormGroup.get('repeat').value">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-slide-toggle formControlName="repeat" class="mat-slide flex-1" (click)="$event.stopPropagation()">
            {{ 'scheduler.repeat' | translate }}
          </mat-slide-toggle>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div [class.!hidden]="!scheduleConfigFormGroup.get('repeat').value"
             class="no-gap flex flex-col">
          <mat-form-field class="mat-block">
            <mat-label translate>scheduler.repeats</mat-label>
            <mat-select matInput formControlName="repeatType" required>
              <mat-option *ngFor="let repeatType of schedulerRepeatTypes" [value]="repeatType">
                {{ schedulerRepeatTypeTranslations.get(repeatType) | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mat-block" [class.!hidden]="scheduleConfigFormGroup.get('repeatType').value !== schedulerRepeatType.EVERY_N_DAYS">
            <mat-label translate>scheduler.repeat-every-n-days</mat-label>
            <input type="number" min="1" step="1" matInput formControlName="days" required>
            <mat-error *ngIf="scheduleConfigFormGroup.get('days').hasError('required')">
              {{ 'scheduler.repeat-days-required' | translate }}
            </mat-error>
            <mat-error *ngIf="scheduleConfigFormGroup.get('days').hasError('min')">
              {{ 'scheduler.invalid-repeat-days-value' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mat-block" [class.!hidden]="scheduleConfigFormGroup.get('repeatType').value !== schedulerRepeatType.EVERY_N_WEEKS">
            <mat-label translate>scheduler.repeat-every-n-weeks</mat-label>
            <input type="number" min="1" step="1" matInput formControlName="weeks" required>
            <mat-error *ngIf="scheduleConfigFormGroup.get('weeks').hasError('required')">
              {{ 'scheduler.repeat-weeks-required' | translate }}
            </mat-error>
            <mat-error *ngIf="scheduleConfigFormGroup.get('weeks').hasError('min')">
              {{ 'scheduler.invalid-repeat-weeks-value' | translate }}
            </mat-error>
          </mat-form-field>
          <div [class.!hidden]="scheduleConfigFormGroup.get('repeatType').value !== schedulerRepeatType.TIMER"
               formGroupName="timerRepeat"
               class="flex flex-col">
            <label translate class="tb-small">scheduler.repeat-every</label>
            <div class="flex flex-col gap-2 gt-sm:flex-row">
              <mat-form-field class="mat-block gt-sm:max-w-50% gt-sm:flex-full">
                <input type="number" min="0" stype="any" matInput formControlName="repeatInterval" required>
                <mat-error *ngIf="scheduleConfigFormGroup.get('timerRepeat.repeatInterval').hasError('required')">
                  {{ 'scheduler.time-interval-required' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="mat-block gt-sm:max-w-50% gt-sm:flex-full">
                <mat-select matInput formControlName="timeUnit" required>
                  <mat-option *ngFor="let timeUnit of schedulerTimeUnits" [value]="timeUnit">
                    {{ schedulerTimeUnitTranslations.get(timeUnit) | translate }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="scheduleConfigFormGroup.get('timerRepeat.timeUnit').hasError('required')">
                  {{ 'scheduler.time-unit-required' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="tb-form-row space-between column-xs"
               [class.!hidden]="scheduleConfigFormGroup.get('repeatType').value !== schedulerRepeatType.WEEKLY">
            <div class="no-wrap">{{ 'scheduler.repeat-on' | translate }}</div>
            <div formArrayName="weeklyRepeat">
              <mat-chip-listbox multiple #repeatChipListBox>
                <mat-chip-option *ngFor="let day of weekDays; let i = index;"
                                 [selected]="weeklyRepeatControl(i).value"
                                 (click)="onChipClicked(i, repeatChipListBox)"
                                 [matTooltip]="day.tooltip | translate" matTooltipPosition="above">
                  {{ day.label | translate }}
                </mat-chip-option>
              </mat-chip-listbox>
            </div>
          </div>
          <section class="flex flex-row items-start justify-start">
            <mat-form-field class="mat-block tb-layout-fill">
              <mat-label translate>scheduler.ends-on</mat-label>
              <mat-datetimepicker-toggle [for]="endDatePicker" matPrefix></mat-datetimepicker-toggle>
              <mat-datetimepicker #endDatePicker type="date" openOnFocus="true"></mat-datetimepicker>
              <input required matInput formControlName="endsOnDate" [matDatetimepicker]="endDatePicker" [errorStateMatcher]="endsOnDateMatcher">
              <mat-error *ngIf="scheduleConfigFormGroup.hasError('endsOnDateValidator')">
                {{ 'scheduler.invalid-time' | translate }}
              </mat-error>
            </mat-form-field>
          </section>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </section>
</section>
