<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2020 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<div class="tb-dashboard-page mat-content" tb-toast style="padding-top: 150px;"
     fxFlex tb-fullscreen [fullscreen]="widgetEditMode || iframeMode || forceFullscreen || isFullscreen || reportView">
  <tb-hotkeys-cheatsheet #cheatSheetComponent></tb-hotkeys-cheatsheet>
  <section class="tb-dashboard-toolbar" [fxShow]="!reportView"
           [ngClass]="{ 'tb-dashboard-toolbar-opened': toolbarOpened,
                        'tb-dashboard-toolbar-closed': !toolbarOpened }">
    <tb-dashboard-toolbar [fxShow]="!widgetEditMode" [forceFullscreen]="forceFullscreen"
                          [toolbarOpened]="toolbarOpened" (triggerClick)="openToolbar()">
      <div class="tb-dashboard-action-panels" fxLayout="column-reverse" fxLayout.gt-sm="row-reverse"
           fxLayoutAlign="center stretch" fxLayoutAlign.gt-sm="space-between center">
        <div class="tb-dashboard-action-panel" fxFlex.md="30" fxLayout="row-reverse"
             fxLayoutAlign.gt-sm="start center" fxLayoutAlign="space-between center" fxLayoutGap="12px">
          <button [fxShow]="showCloseToolbar()" mat-button mat-icon-button class="close-action"
                  matTooltip="{{ 'dashboard.close-toolbar' | translate }}"
                  matTooltipPosition="below"
                  (click)="closeToolbar()">
            <mat-icon>arrow_forward</mat-icon>
          </button>
          <tb-user-menu *ngIf="!isPublicUser() && forceFullscreen" fxHide.xs fxHide.sm displayUserInfo="true">
          </tb-user-menu>
          <button [fxShow]="showRightLayoutSwitch()" mat-button mat-icon-button
                  matTooltip="{{ (isRightLayoutOpened ? 'dashboard.hide-details' : 'dashboard.show-details') | translate }}"
                  matTooltipPosition="below"
                  (click)="toggleLayouts()">
            <mat-icon>{{isRightLayoutOpened ? 'arrow_back' : 'menu'}}</mat-icon>
          </button>
          <button [fxShow]="!hideFullscreenButton()" mat-button mat-icon-button
                  matTooltip="{{(isFullscreen ? 'fullscreen.exit' : 'fullscreen.expand') | translate}}"
                  matTooltipPosition="below"
                  (click)="isFullscreen = !isFullscreen">
            <mat-icon>{{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
          </button>
          <button [fxShow]="isEdit || displayExport()" mat-button mat-icon-button
                  [matMenuTriggerFor]="exportMenu"
                  matTooltip="{{'dashboard.export' | translate}}"
                  matTooltipPosition="below">
            <mat-icon>file_download</mat-icon>
          </button>
          <mat-menu #exportMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="generateDashboardReport($event, 'pdf')">
              <mat-icon svgIcon="mdi:file-pdf"></mat-icon>
              <span translate>dashboard.export-pdf</span>
            </button>
            <button mat-menu-item (click)="generateDashboardReport($event, 'png')">
              <mat-icon svgIcon="mdi:file-image"></mat-icon>
              <span translate>dashboard.export-png</span>
            </button>
            <button mat-menu-item (click)="generateDashboardReport($event, 'jpeg')">
              <mat-icon svgIcon="mdi:file-image"></mat-icon>
              <span translate>dashboard.export-jpg</span>
            </button>
            <button mat-menu-item (click)="exportDashboard($event)">
              <mat-icon svgIcon="mdi:file-xml"></mat-icon>
              <span translate>dashboard.export-json-config</span>
            </button>
          </mat-menu>
          <tb-timewindow [fxShow]="isEdit || displayDashboardTimewindow()"
                         isToolbar="true"
                         [isEdit]="isEdit"
                         direction="left"
                         tooltipPosition="below"
                         aggregation="true"
                         [(ngModel)]="dashboardCtx.dashboardTimewindow">
          </tb-timewindow>
          <tb-aliases-entity-select [fxShow]="!isEdit && displayEntitiesSelect()"
                                    tooltipPosition="below"
                                    [aliasController]="dashboardCtx.aliasController">
          </tb-aliases-entity-select>
          <button [fxShow]="isEdit" mat-button mat-icon-button
                  matTooltip="{{ 'entity.aliases' | translate }}"
                  matTooltipPosition="below"
                  (click)="openEntityAliases($event)">
            <mat-icon>devices_other</mat-icon>
          </button>
          <button [fxShow]="isEdit" mat-button mat-icon-button
                  matTooltip="{{ 'dashboard.settings' | translate }}"
                  matTooltipPosition="below"
                  (click)="openDashboardSettings($event)">
            <mat-icon>settings</mat-icon>
          </button>
          <tb-dashboard-select [fxShow]="!isEdit && !widgetEditMode && !stateSelectView && displayDashboardsSelect()"
                               [(ngModel)]="currentDashboardId"
                               (ngModelChange)="currentDashboardIdChanged(currentDashboardId)"
                               [groupId]="entityGroupId"
                               [operation]="readonly ? operation.READ : operation.WRITE">
          </tb-dashboard-select>
        </div>
        <div class="tb-dashboard-action-panel" fxFlex.md="70" fxLayout="row-reverse"
             fxLayoutAlign.gt-sm="end center" fxLayoutAlign="space-between center" fxLayoutGap="12px">
          <tb-user-menu *ngIf="!isPublicUser() && forceFullscreen" fxHide.gt-sm displayUserInfo="true">
          </tb-user-menu>
          <div [fxShow]="isEdit"
               fxFlex.xs fxFlex.sm fxLayout="row"
               fxLayoutAlign.gt-sm="start center"
               fxLayoutAlign="space-between center" fxLayoutGap="12px">
            <button mat-button mat-icon-button
                    matTooltip="{{'dashboard.manage-states' | translate}}"
                    matTooltipPosition="below"
                    (click)="manageDashboardStates($event)">
              <mat-icon>layers</mat-icon>
            </button>
            <button mat-button mat-icon-button
                    matTooltip="{{'layout.manage' | translate}}"
                    matTooltipPosition="below"
                    (click)="manageDashboardLayouts($event)">
              <mat-icon>view_compact</mat-icon>
            </button>
          </div>
          <tb-states-component fxFlex.xs fxFlex.sm
                               [statesControllerId]="isEdit ? 'default' : dashboardConfiguration.settings.stateControllerId"
                               [dashboardCtrl]="this"
                               [dashboardId]="dashboard.id ? dashboard.id.id : ''"
                               [isMobile]="isMobile"
                               [state]="dashboardCtx.state"
                               [states]="dashboardConfiguration.states">
          </tb-states-component>
        </div>
      </div>
    </tb-dashboard-toolbar>
  </section>
  <section class="tb-dashboard-container tb-absolute-fill"
           [ngClass]="{ 'is-fullscreen': forceFullscreen,
           'tb-dashboard-toolbar-opened': toolbarOpened,
           'tb-dashboard-toolbar-animated': isToolbarOpenedAnimate,
           'tb-dashboard-toolbar-closed': !toolbarOpened }">
    <mat-drawer-container hasBackdrop="false" class="tb-absolute-fill tb-dashboard-drawer-container">
      <mat-drawer-content fxLayout="column" fxLayoutAlign="center start">
        <section *ngIf="!widgetEditMode" class="tb-dashboard-title"
                 [ngStyle]="{'color': dashboard.configuration.settings.titleColor}">
          <h3 [fxShow]="!isEdit && displayTitle()">{{ dashboard.title }}</h3>
          <mat-form-field [fxShow]="isEdit" class="mat-block">
            <mat-label translate [ngStyle]="{'color': dashboard.configuration.settings.titleColor}">dashboard.title</mat-label>
            <input matInput class="tb-dashboard-title"
                   [ngStyle]="{'color': dashboard.configuration.settings.titleColor}"
                   required name="title" [(ngModel)]="dashboard.title">
          </mat-form-field>
        </section>
        <mat-drawer-container class="tb-dashboard-layouts" fxFlex
                              [ngClass]="{ 'tb-shrinked' : isEditingWidget }">
          <mat-drawer *ngIf="layouts.right.show"
                      id="tb-right-layout"
                      [ngStyle]="{minWidth: rightLayoutWidth(),
                                  maxWidth: rightLayoutWidth(),
                                  height: rightLayoutHeight(),
                                  borderLeft: 'none'}"
              disableClose="true"
              [@.disabled]="!isMobile"
              position="end"
              [mode]="isMobile ? 'over' : 'side'"
              [(opened)]="rightLayoutOpened">
            <tb-dashboard-layout style="height: 100%;"
              [dashboardCheatSheet]="cheatSheetComponent"
              [layoutCtx]="layouts.right.layoutCtx"
              [dashboardCtx]="dashboardCtx"
              [isEdit]="isEdit"
              [isEditingWidget]="isEditingWidget"
              [isMobile]="forceDashboardMobileMode"
              [widgetEditMode]="widgetEditMode">
            </tb-dashboard-layout>
          </mat-drawer>
          <mat-drawer-content [fxShow]="layouts.main.show"
                              id="tb-main-layout"
                              [ngStyle]="{width: mainLayoutWidth(),
                              height: mainLayoutHeight()}">
            <tb-dashboard-layout
              [dashboardCheatSheet]="cheatSheetComponent"
              [layoutCtx]="layouts.main.layoutCtx"
              [dashboardCtx]="dashboardCtx"
              [isEdit]="isEdit"
              [isEditingWidget]="isEditingWidget"
              [isMobile]="forceDashboardMobileMode"
              [widgetEditMode]="widgetEditMode">
            </tb-dashboard-layout>
          </mat-drawer-content>
        </mat-drawer-container>
        <section fxLayout="row" class="layout-wrap tb-footer-buttons" fxLayoutAlign="start end"
                 *ngIf="!readonly && !reportView && !stateSelectView">
          <tb-footer-fab-buttons [fxShow]="!isAddingWidget && isEdit && !widgetEditMode"
                                 relative
                                 [footerFabButtons]="addWidgetFabButtons">
          </tb-footer-fab-buttons>
          <button *ngIf="canEdit() && !forceFullscreen"
                  mat-fab color="accent" class="tb-btn-footer"
                  [ngClass]="{'tb-hide': !isEdit || isAddingWidget}"
                  [disabled]="isLoading$ | async"
                  (click)="saveDashboard()"
                  matTooltip="{{ 'action.apply-changes' | translate }}"
                  matTooltipPosition="above">
            <mat-icon>done</mat-icon>
          </button>
          <button *ngIf="canEdit() && !forceFullscreen"
                  mat-fab color="accent" class="tb-btn-footer"
                  [ngClass]="{'tb-hide': isAddingWidget || (isLoading$ | async)}"
                  [disabled]="isLoading$ | async"
                  (click)="toggleDashboardEditMode()"
                  matTooltip="{{ (isEdit ? 'action.decline-changes': 'action.enter-edit-mode') | translate }}"
                  matTooltipPosition="above">
            <mat-icon>{{ isEdit ? 'close' : 'edit' }}</mat-icon>
          </button>
        </section>
      </mat-drawer-content>
      <mat-drawer class="tb-details-drawer"
                  [opened]="isEditingWidget || isAddingWidget"
                  (openedStart)="detailsDrawerOpenedStart()"
                  (opened)="detailsDrawerOpened()"
                  (closedStart)="detailsDrawerClosedStart()"
                  (closed)="detailsDrawerClosed()"
                  mode="over"
                  position="end">
        <tb-details-panel *ngIf="!isEditingWidgetClosed" fxFlex
                          headerTitle="{{editingWidget?.config.title}}"
                          headerSubtitle="{{ editingWidgetSubtitle }}"
                          [isReadOnly]="false"
                          [isAlwaysEdit]="true"
                          (closeDetails)="onEditWidgetClosed()"
                          (toggleDetailsEditMode)="onRevertWidgetEdit()"
                          (applyDetails)="saveWidget()"
                          [theForm]="tbEditWidget.widgetForm">
          <div class="details-buttons">
            <div [tb-help]="helpLinkIdForWidgetType()"></div>
          </div>
          <tb-edit-widget #tbEditWidget
                          [dashboard]="dashboard"
                          [aliasController]="dashboardCtx.aliasController"
                          [widgetEditMode]="widgetEditMode"
                          [widget]="editingWidget"
                          [widgetLayout]="editingWidgetLayout">
          </tb-edit-widget>
        </tb-details-panel>
        <tb-details-panel *ngIf="!isAddingWidgetClosed && !widgetEditMode" fxFlex
                          headerTitle="{{'dashboard.select-widget-title' | translate}}"
                          headerHeightPx="120"
                          [isReadOnly]="true"
                          [isEdit]="false"
                          (closeDetails)="onAddWidgetClosed()">
          <div class="header-pane" *ngIf="isAddingWidget">
            <div fxLayout="row">
              <span class="tb-details-subtitle">{{ 'widgets-bundle.current' | translate }}</span>
              <tb-widgets-bundle-select fxFlexOffset="5"
                                        fxFlex
                                        required
                                        [selectFirstBundle]="false"
                                        [ngModel]="widgetsBundle"
                                        (ngModelChange)="widgetsBundle = $event">
              </tb-widgets-bundle-select>
            </div>
          </div>
          <tb-dashboard-widget-select *ngIf="isAddingWidget"
                                      [aliasController]="dashboardCtx.aliasController"
                                      [widgetsBundle]="widgetsBundle"
                                      (widgetSelected)="addWidgetFromType($event)">
          </tb-dashboard-widget-select>
        </tb-details-panel>
      </mat-drawer>
    </mat-drawer-container>
  </section>
</div>
