<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2025 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<div class="tb-container xs:flex-col" [formGroup]="secretFileFormGroup">
  <label class="tb-title" *ngIf="label" [class]="{'tb-error': !disabled && (required && !secretFileFormGroup.get('secretFile').value), 'tb-required': !disabled && required}">{{label}}</label>
  <div class="tb-secret-select-container">
    @if (secretStorageFile) {
      <div class="flex flex-col flex-1 p-2">
      <label class="tb-title">Secret storage</label>
        <div class="flex flex-row items-center">
          <mat-form-field class="flex flex-1" appearance="outline" subscriptSizing="dynamic">
            <mat-chip-set class="secret-chip-container" [disabled]="disabled">
              <mat-chip class="secret-chip">
                <mat-icon class="icon-key" matChipAvatar svgIcon="mdi:key-variant"></mat-icon>
                {{secretStorageFile}}
              </mat-chip>
            </mat-chip-set>
            <input matInput required type="password" formControlName="secretFile" class="input-hidden">
          </mat-form-field>
          <ng-container *ngTemplateOutlet=btnContainer></ng-container>
        </div>
      </div>
    } @else {
      <div *ngIf="!existingFileName" class="tb-secret-select-buttons-container">
        <button mat-stroked-button
                type="button"
                color="primary"
                class="tb-secret-select-button"
                (click)="flowInput.flowInput.nativeElement.click()">
          <tb-icon matButtonIcon>cloud_upload</tb-icon>
          <label>{{'file-input.browse-file' | translate}}</label>
        </button>
        <tb-file-input #flowInput class="hidden" [inputId]="inputId" formControlName="secretFile" (fileNameChanged)="fileNameChange($event)"></tb-file-input>
        <button mat-stroked-button
                [disabled]="readonly"
                type="button"
                color="primary"
                class="tb-secret-select-button"
                (click)="openSecretKeyDialog($event)">
          <tb-icon matButtonIcon>mdi:key-variant</tb-icon>
          <span translate>secret-storage.use-secret-storage</span>
        </button>
      </div>
      <div class="tb-secret-info-container" *ngIf="existingFileName">
        <div class="tb-resource-secret-container">
          <div class="tb-resource-secret-name">
            {{ existingFileName }}
          </div>
        </div>
        <ng-container *ngTemplateOutlet=btnContainer></ng-container>
      </div>
    }
  </div>
</div>

<ng-template #btnContainer>
  <button mat-icon-button matSuffix class="tb-small tb-secret-btn"
          [class.secret-warning-btn]="!secretStorageFile && ! readonly"
          [disabled]="disabled || readonly"
          (click)="openSecretKeyDialog($event)"
          matTooltip="{{'secret-storage.use-secret' | translate}}"
          matTooltipPosition="above">
    <mat-icon svgIcon="mdi:key-variant"></mat-icon>
  </button>
  <button *ngIf="!disabled"
          class="tb-secret-btn"
          type="button"
          mat-icon-button
          matTooltip="{{ 'action.remove' | translate }}"
          matTooltipPosition="above"
          (click)="remove($event)">
    <mat-icon>close</mat-icon>
  </button>
</ng-template>
