<!--

    Thingsboard OÜ ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2017 Thingsboard OÜ. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of Thingsboard OÜ and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Thingsboard OÜ
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<md-dialog aria-label="{{ 'alarm.alarm-details' | translate }}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate>alarm.alarm-details</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.close()">
                <ng-md-icon icon="close" aria-label="{{ 'dialog.close' | translate }}"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout="column">
            <div layout="row">
                <md-input-container class="md-block">
                    <label translate>alarm.created-time</label>
                    <input ng-model="vm.createdTime" readonly>
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label translate>alarm.originator</label>
                    <input ng-model="vm.alarm.originatorName" readonly>
                </md-input-container>
            </div>
            <div layout="row" ng-if="vm.startTime || vm.endTime">
                <md-input-container ng-if="vm.startTime" flex class="md-block">
                    <label translate>alarm.start-time</label>
                    <input ng-model="vm.startTime" readonly>
                </md-input-container>
                <md-input-container ng-if="vm.endTime" flex class="md-block">
                    <label translate>alarm.end-time</label>
                    <input ng-model="vm.endTime" readonly>
                </md-input-container>
                <span flex ng-if="!vm.startTime || !vm.endTime"></span>
            </div>
            <div layout="row" ng-if="vm.ackTime || vm.clearTime">
                <md-input-container ng-if="vm.ackTime" flex class="md-block">
                    <label translate>alarm.ack-time</label>
                    <input ng-model="vm.ackTime" readonly>
                </md-input-container>
                <md-input-container ng-if="vm.clearTime" flex class="md-block">
                    <label translate>alarm.clear-time</label>
                    <input ng-model="vm.clearTime" readonly>
                </md-input-container>
                <span flex ng-if="!vm.ackTime || !vm.clearTime"></span>
            </div>
            <div layout="row">
                <md-input-container flex class="md-block">
                    <label translate>alarm.type</label>
                    <input ng-model="vm.alarm.type" readonly>
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label translate>alarm.severity</label>
                    <input class="tb-severity" ng-class="vm.types.alarmSeverity[vm.alarm.severity].class"
                           ng-model="vm.alarmSeverity" readonly>
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label translate>alarm.status</label>
                    <input ng-model="vm.alarmStatus" readonly>
                </md-input-container>
            </div>
            <div ng-if="vm.displayDetails" class="md-caption" style="padding-left: 3px; padding-bottom: 10px; color: rgba(0,0,0,0.57);" translate>alarm.details</div>
            <div ng-if="vm.displayDetails" flex class="tb-alarm-details-panel" layout="column">
                <div flex id="tb-alarm-details" readonly
                     ui-ace="vm.alarmDetailsOptions"
                     ng-model="vm.alarmDetails">
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-if="vm.allowAcknowledgment && (vm.alarm.status==vm.types.alarmStatus.activeUnack ||
                          vm.alarm.status==vm.types.alarmStatus.clearedUnack)"
                   class="md-raised md-primary"
                   ng-disabled="loading"
                   ng-click="vm.acknowledge()"
                   style="margin-right:20px;">{{ 'alarm.acknowledge' |
            translate }}
        </md-button>
        <md-button ng-if="vm.allowClear && (vm.alarm.status==vm.types.alarmStatus.activeAck ||
                          vm.alarm.status==vm.types.alarmStatus.activeUnack)"
                   class="md-raised md-primary"
                   ng-disabled="loading"
                   ng-click="vm.clear()">{{ 'alarm.clear' |
            translate }}
        </md-button>
        <span flex></span>
        <md-button ng-disabled="loading" ng-click="vm.close()" style="margin-right:20px;">{{ 'action.close' |
            translate }}
        </md-button>
    </md-dialog-actions>
</md-dialog>
