<section ng-form name="httpIntegrationForm" layout="column">
    <fieldset ng-disabled="$root.loading || !isEdit">
        <md-input-container class="md-block">
            <label translate>integration.base-url</label>
            <input required name="baseUrl" ng-model="configuration.baseUrl" ng-change="integrationBaseUrlChanged()">
            <div ng-messages="httpIntegrationForm.baseUrl.$error">
                <div translate ng-message="required">integration.base-url-required</div>
            </div>
        </md-input-container>
        <section ng-if="integrationType == types.integrationType.HTTP.value ||
                                                integrationType == types.integrationType.SIGFOX.value">
            <md-input-container class="md-block">
                <md-checkbox ng-disabled="$root.loading || !isEdit" aria-label="{{ 'integration.enable-security' | translate }}"
                             ng-model="configuration.enableSecurity"
                             ng-change="httpEnableSecurityChanged()">{{ 'integration.enable-security' | translate }}
                </md-checkbox>
            </md-input-container>
            <md-expansion-panel-group ng-if="configuration.enableSecurity"
                                      class="tb-header-filters-panel-group" ng-class="{'disabled': $root.loading || !isEdit}" md-component-id="headersFilterPanelGroup">
                <md-expansion-panel md-component-id="{{headersFilterPanelId}}">
                    <md-expansion-panel-collapsed>
                        <div class="tb-panel-title">{{ 'integration.headers-filter' | translate }}</div>
                        <span flex></span>
                        <md-expansion-panel-icon></md-expansion-panel-icon>
                    </md-expansion-panel-collapsed>
                    <md-expansion-panel-expanded>
                        <md-expansion-panel-header ng-click="$mdExpansionPanel(headersFilterPanelId).collapse()">
                            <div class="tb-panel-title">{{ 'integration.headers-filter' | translate }}</div>
                            <span flex></span>
                            <md-expansion-panel-icon></md-expansion-panel-icon>
                        </md-expansion-panel-header>
                        <md-expansion-panel-content>
                            <tb-key-val-map no-data-text="integration.no-headers-filter" key-placeholder-text="integration.header"
                                            ng-disabled="$root.loading || !isEdit"
                                            key-val-map="configuration.headersFilter"></tb-key-val-map>
                        </md-expansion-panel-content>
                    </md-expansion-panel-expanded>
                </md-expansion-panel>
            </md-expansion-panel-group>
        </section>
        <section ng-if="integrationType == types.integrationType.THINGPARK.value">
            <md-input-container class="md-block">
                <label translate>integration.downlink-url</label>
                <input name="downlinkUrl" ng-model="configuration.downlinkUrl">
            </md-input-container>
            <md-input-container class="md-block">
                <md-checkbox ng-disabled="$root.loading || !isEdit" aria-label="{{ 'integration.enable-security' | translate }}"
                             ng-model="configuration.enableSecurity"
                             ng-change="thingparkEnableSecurityChanged()">{{ 'integration.enable-security' | translate }}
                </md-checkbox>
            </md-input-container>
            <md-input-container class="md-block" ng-if="configuration.enableSecurity">
                <label translate>integration.as-id</label>
                <input required name="asId" ng-model="configuration.asId">
                <div ng-messages="httpIntegrationForm.asId.$error">
                    <div translate ng-message="required">integration.as-id-required</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" ng-if="configuration.enableSecurity">
                <label translate>integration.as-key</label>
                <input required name="asKey" ng-model="configuration.asKey">
                <div ng-messages="httpIntegrationForm.asKey.$error">
                    <div translate ng-message="required">integration.as-key-required</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" ng-if="configuration.enableSecurity">
                <label translate>integration.max-time-diff-in-seconds</label>
                <input type="number" min="0" step="1" required name="maxTimeDiffInSeconds"
                       ng-model="configuration.maxTimeDiffInSeconds">
                <div ng-messages="httpIntegrationForm.maxTimeDiffInSeconds.$error">
                    <div translate ng-message="required">integration.max-time-diff-in-seconds-required</div>
                </div>
            </md-input-container>
        </section>
    </fieldset>
    <div layout="row">
        <md-input-container class="md-block" flex>
            <label translate>integration.http-endpoint</label>
            <input ng-model="httpEndpoint" disabled>
        </md-input-container>
        <md-button class="md-icon-button" style="margin-top: 14px;"
                   ngclipboard
                   data-clipboard-text="{{ httpEndpoint }}"
                   ngclipboard-success="onHttpEndpointCopied(e)">
            <md-icon md-svg-icon="mdi:clipboard-arrow-left"></md-icon>
            <md-tooltip md-direction="top">
                {{ 'integration.copy-http-endpoint-url' | translate }}
            </md-tooltip>
        </md-button>
    </div>
</section>