<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2020 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<section ng-form name="tcpIntegrationForm" layout="column">
    <fieldset ng-disabled="$root.loading || !isEdit">
        <div layout="column" layout-gt-sm="row">
            <md-input-container flex="40" class="md-block">
                <label translate>integration.port</label>
                <input type="number" step="1" min="1" max="65535" required
                       name="port" ng-model="configuration.clientConfiguration.port">
                <div ng-messages="tcpIntegrationForm.port.$error">
                    <div translate ng-message="required">integration.port-required</div>
                    <div translate ng-message="min">integration.port-range</div>
                    <div translate ng-message="max">integration.port-range</div>
                </div>
            </md-input-container>
        </div>
        <div layout="column">
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex="40" class="md-block">
                    <label translate>integration.so-backlog-option</label>
                    <input type="number" step="1" min="1" max="65535" required
                           name="soBacklogOption" ng-model="configuration.clientConfiguration.soBacklogOption">
                    <div ng-messages="tcpIntegrationForm.soBacklogOption.$error">
                        <div translate ng-message="required">integration.so-backlog-option-required</div>
                        <div translate ng-message="min">integration.so-backlog-option-range</div>
                        <div translate ng-message="max">integration.so-backlog-option-range</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex="40" class="md-block">
                    <label translate>integration.so-rcv-buf</label>
                    <input type="number" step="1" min="1" max="65535" required
                           name="soRcvBuf" ng-model="configuration.clientConfiguration.soRcvBuf">
                    <div ng-messages="tcpIntegrationForm.soRcvBuf.$error">
                        <div translate ng-message="required">integration.so-rcv-buf-required</div>
                        <div translate ng-message="min">integration.so-rcv-buf-range</div>
                        <div translate ng-message="max">integration.so-rcv-buf-range</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex="40" class="md-block">
                    <label translate>integration.so-snd-buf</label>
                    <input type="number" step="1" min="1" max="65535" required
                           name="soSndBuf" ng-model="configuration.clientConfiguration.soSndBuf">
                    <div ng-messages="tcpIntegrationForm.soSndBuf.$error">
                        <div translate ng-message="required">integration.so-snd-buf-required</div>
                        <div translate ng-message="min">integration.so-snd-buf-range</div>
                        <div translate ng-message="max">integration.so-snd-buf-range</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" layout-gt-sm="row">
                <md-input-container flex="40" class="md-block">
                    <label translate>integration.charset-name</label>
                    <input type="text" required
                           name="charsetName" ng-model="configuration.clientConfiguration.charsetName">
                    <div ng-messages="tcpIntegrationForm.charsetName.$error">
                        <div translate ng-message="required">integration.charset-name-required</div>
                    </div>
                </md-input-container>
            </div>
            <md-checkbox ng-disabled="$root.loading || !isEdit"
                         aria-label="{{ 'integration.so-keepalive-option' | translate }}"
                         ng-model="configuration.clientConfiguration.soKeepaliveOption">
                {{ 'integration.so-keepalive-option' | translate }}
            </md-checkbox>
            <md-checkbox ng-disabled="$root.loading || !isEdit"
                         aria-label="{{ 'integration.so-reuse-addr' | translate }}"
                         ng-model="configuration.clientConfiguration.soReuseAddr">
                {{ 'integration.so-reuse-addr' | translate }}
            </md-checkbox>
            <md-checkbox ng-disabled="$root.loading || !isEdit"
                         aria-label="{{ 'integration.tcp-no-delay' | translate }}"
                         ng-model="configuration.clientConfiguration.tcpNoDelay">
                {{ 'integration.tcp-no-delay' | translate }}
            </md-checkbox>
        </div>
        <md-expansion-panel-group class="tb-integration-panel-group" ng-class="{'disabled': $root.loading || !isEdit}" md-component-id="handlerConfigurationPanelGroup">
            <md-expansion-panel md-component-id="handlerConfigurationPanel">
                <md-expansion-panel-collapsed>
                    <div class="tb-panel-title">{{ 'integration.handler-configuration' | translate }}</div>
                    <div class="tb-panel-prompt">{{ types.handlerConfigurationTypes[configuration.clientConfiguration.handlerConfiguration.handlerType].name | translate }}</div>
                    <span flex></span>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-collapsed>
                <md-expansion-panel-expanded>
                    <md-expansion-panel-header ng-click="$mdExpansionPanel('handlerConfigurationPanel').collapse()">
                        <div class="tb-panel-title" translate>integration.handler-configuration</div>
                        <div class="tb-panel-prompt">{{ types.handlerConfigurationTypes[configuration.clientConfiguration.handlerConfiguration.handlerType].name | translate }}</div>
                        <span flex></span>
                        <md-expansion-panel-icon></md-expansion-panel-icon>
                    </md-expansion-panel-header>
                    <md-expansion-panel-content>
                        <div>
                            <md-input-container class="md-block">
                                <label translate>integration.handler-configuration-type</label>
                                <md-select required name="handlerConfigurationType" ng-model="configuration.clientConfiguration.handlerConfiguration.handlerType"
                                           ng-disabled="$root.loading || !isEdit" ng-change="handlerConfigurationTypeChangedChanged()">
                                    <md-option ng-repeat="(handlerConfigurationType, handlerConfigurationValue) in types.handlerConfigurationTypes" ng-value="handlerConfigurationValue.value">
                                        {{handlerConfigurationValue.name | translate}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="tcpIntegrationForm.handlerConfigurationType.$error">
                                    <div translate ng-message="required">integration.handler-configuration-type-required</div>
                                </div>
                            </md-input-container>
                            <section ng-if="configuration.clientConfiguration.handlerConfiguration.handlerType == types.handlerConfigurationTypes.text.value">
                                <div layout="column" layout-gt-sm="row">
                                    <md-input-container flex="40" class="md-block">
                                        <label translate>integration.max-frame-length</label>
                                        <input type="number" step="1" min="1" max="65535" required
                                               name="maxFrameLength" ng-model="configuration.clientConfiguration.handlerConfiguration.maxFrameLength">
                                        <div ng-messages="tcpIntegrationForm.maxFrameLength.$error">
                                            <div translate ng-message="required">integration.max-frame-length-required</div>
                                            <div translate ng-message="min">integration.max-frame-length-range</div>
                                            <div translate ng-message="max">integration.max-frame-length-range</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <md-checkbox ng-disabled="$root.loading || !isEdit"
                                             aria-label="{{ 'integration.strip-delimiter' | translate }}"
                                             ng-model="configuration.clientConfiguration.handlerConfiguration.stripDelimiter">
                                    {{ 'integration.strip-delimiter' | translate }}
                                </md-checkbox>
                                <p class="md-subhead" translate>integration.message-separator</p>
                                <md-radio-group ng-model="configuration.clientConfiguration.handlerConfiguration.messageSeparator">
                                    <md-radio-button value="systemLineSeparator">Systeme Line Separator</md-radio-button>
                                    <md-radio-button value="nulDelimiter">Nul Delimiter</md-radio-button>
                                </md-radio-group>
                            </section>
                            <section ng-if="configuration.clientConfiguration.handlerConfiguration.handlerType == types.handlerConfigurationTypes.hex.value">
                                <div layout="column" layout-gt-sm="row">
                                    <md-input-container flex="40" class="md-block">
                                        <label translate>integration.max-frame-length</label>
                                        <input type="number" step="1" min="1" max="65535" required
                                               name="maxFrameLength" ng-model="configuration.clientConfiguration.handlerConfiguration.maxFrameLength">
                                        <div ng-messages="tcpIntegrationForm.maxFrameLength.$error">
                                            <div translate ng-message="required">integration.max-frame-length-required</div>
                                            <div translate ng-message="min">integration.max-frame-length-range</div>
                                            <div translate ng-message="max">integration.max-frame-length-range</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </section>
                            <section ng-if="configuration.clientConfiguration.handlerConfiguration.handlerType == types.handlerConfigurationTypes.binary.value">
                                <p class="md-subhead" translate>integration.byte-order</p>
                                <md-radio-group ng-model="configuration.clientConfiguration.handlerConfiguration.byteOrder">
                                    <md-radio-button value="littleEndian">Little Endian</md-radio-button>
                                    <md-radio-button value="bigEndian">Big Endian</md-radio-button>
                                </md-radio-group>
                                <div layout="column" layout-gt-sm="row">
                                    <md-input-container flex="40" class="md-block">
                                        <label translate>integration.max-frame-length</label>
                                        <input type="number" step="1" min="1" max="65535" required
                                               name="maxFrameLength" ng-model="configuration.clientConfiguration.handlerConfiguration.maxFrameLength">
                                        <div ng-messages="tcpIntegrationForm.maxFrameLength.$error">
                                            <div translate ng-message="required">integration.max-frame-length-required</div>
                                            <div translate ng-message="min">integration.max-frame-length-range</div>
                                            <div translate ng-message="max">integration.max-frame-length-range</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="column" layout-gt-sm="row">
                                    <md-input-container flex="40" class="md-block">
                                        <label translate>integration.length-field-offset</label>
                                        <input type="number" step="1" min="0" max="8" required
                                               name="lengthFieldOffset" ng-model="configuration.clientConfiguration.handlerConfiguration.lengthFieldOffset">
                                        <div ng-messages="tcpIntegrationForm.lengthFieldOffset.$error">
                                            <div translate ng-message="required">integration.length-field-offset-required</div>
                                            <div translate ng-message="min">integration.length-field-offset-range</div>
                                            <div translate ng-message="max">integration.length-field-offset-range</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="column" layout-gt-sm="row">
                                    <md-input-container flex="40" class="md-block">
                                        <label translate>integration.length-field-length</label>
                                        <input type="number" step="1" min="0" max="8" required
                                               name="lengthFieldLength" ng-model="configuration.clientConfiguration.handlerConfiguration.lengthFieldLength">
                                        <div ng-messages="tcpIntegrationForm.lengthFieldOffset.$error">
                                            <div translate ng-message="required">integration.length-field-length-required</div>
                                            <div translate ng-message="min">integration.length-field-length-range</div>
                                            <div translate ng-message="max">integration.length-field-length-range</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="column" layout-gt-sm="row">
                                    <md-input-container flex="40" class="md-block">
                                        <label translate>integration.length-adjustment</label>
                                        <input type="number" step="1" min="0" max="8" required
                                               name="lengthAdjustment" ng-model="configuration.clientConfiguration.handlerConfiguration.lengthAdjustment">
                                        <div ng-messages="tcpIntegrationForm.lengthAdjustment.$error">
                                            <div translate ng-message="required">integration.length-adjustment-required</div>
                                            <div translate ng-message="min">integration.length-adjustment-range</div>
                                            <div translate ng-message="max">integration.length-adjustment-range</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="column" layout-gt-sm="row">
                                    <md-input-container flex="40" class="md-block">
                                        <label translate>integration.initial-bytes-to-strip</label>
                                        <input type="number" step="1" min="0" max="8" required
                                               name="initialBytesToStrip" ng-model="configuration.clientConfiguration.handlerConfiguration.initialBytesToStrip">
                                        <div ng-messages="tcpIntegrationForm.initialBytesToStrip.$error">
                                            <div translate ng-message="required">integration.initial-bytes-to-strip-required</div>
                                            <div translate ng-message="min">integration.initial-bytes-to-strip-range</div>
                                            <div translate ng-message="max">integration.initial-bytes-to-strip-range</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <md-checkbox ng-disabled="$root.loading || !isEdit"
                                             aria-label="{{ 'integration.fail-fast' | translate }}"
                                             ng-model="configuration.clientConfiguration.handlerConfiguration.failFast">
                                    {{ 'integration.fail-fast' | translate }}
                                </md-checkbox>
                            </section>
                        </div>
                    </md-expansion-panel-content>
                </md-expansion-panel-expanded>
            </md-expansion-panel>
        </md-expansion-panel-group>
    </fieldset>
    <div style="height: 30px;"></div>
</section>
