/**
 * ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2023 ThingsBoard, Inc. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of ThingsBoard, Inc. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to ThingsBoard, Inc.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
:host {

  .notification {
    padding: 10px 0 10px 10px;
    display: block;
    border: 1px solid;
    border-radius: 4px;
    margin: 4px;
  }

  .icon {
    margin-right: 14px;
    color: rgba(0, 0, 0, 0.54);
  }

  .content {
    letter-spacing: .25px;
    word-break: break-word;
    .title {
      margin-bottom: 4px;
      font-weight: 500;
    }
    .message {
      font-size: 14px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.76);
    }

    .button {
      margin-top: 12px;
      border-color: initial;
    }
  }

  .description {
    margin-left: 8px;
    min-width: 70px;
    color: rgba(0, 0, 0, 0.54);

    .time {
      font-size: 12px;
      letter-spacing: 0.25px;
      margin-right: 12px;
      margin-top: 4px;
    }

    .alarm-severity {
      padding: 5px;
      border-radius: 8px;
      margin-right: 7px;

      .severity {
        font-weight: 500;
        letter-spacing: 0.25px;
      }
    }
  }
}
