<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2024 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<section [formGroup]="credentialsConfigFormGroup" class="flex flex-col">
  <mat-expansion-panel class="tb-credentials-config-panel-group">
    <mat-expansion-panel-header>
      <mat-panel-title translate>rule-node-config.credentials</mat-panel-title>
      <mat-panel-description>
        {{ credentialsTypeTranslationsMap.get(credentialsConfigFormGroup.get('type').value) | translate }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-form-field class="mat-block">
        <mat-label translate>rule-node-config.credentials-type</mat-label>
        <mat-select formControlName="type" required>
          <mat-option *ngFor="let credentialsType of allCredentialsTypes" [value]="credentialsType"
                      [disabled]="credentialsType === 'cert.PEM' && disableCertPemCredentials">
            {{ credentialsTypeTranslationsMap.get(credentialsType) | translate }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="credentialsConfigFormGroup.get('type').hasError('required')">
          {{ 'rule-node-config.credentials-type-required' | translate }}
        </mat-error>
      </mat-form-field>
      <section class="flex flex-col" [ngSwitch]="credentialsConfigFormGroup.get('type').value">
        <ng-template ngSwitchCase="anonymous">
        </ng-template>
        <ng-template ngSwitchCase="basic">
          <mat-form-field class="mat-block">
            <mat-label translate>rule-node-config.username</mat-label>
            <input required matInput formControlName="username">
            <mat-error *ngIf="credentialsConfigFormGroup.get('username').hasError('required')">
              {{ 'rule-node-config.username-required' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mat-block">
            <mat-label translate>rule-node-config.password</mat-label>
            <input type="password" [required]="passwordFieldRequired" matInput formControlName="password">
            <tb-toggle-password matSuffix></tb-toggle-password>
            <mat-error *ngIf="credentialsConfigFormGroup.get('password').hasError('required')">
              {{ 'rule-node-config.password-required' | translate }}
            </mat-error>
          </mat-form-field>
        </ng-template>
        <ng-template ngSwitchCase="cert.PEM">
          <div class="tb-hint">{{ 'rule-node-config.credentials-pem-hint' | translate }}</div>
          <tb-file-input formControlName="caCert"
                         inputId="caCertSelect"
                         [existingFileName]="credentialsConfigFormGroup.get('caCertFileName').value"
                         (fileNameChanged)="credentialsConfigFormGroup.get('caCertFileName').setValue($event)"
                         label="{{'rule-node-config.ca-cert' | translate}}"
                         noFileText="rule-node-config.no-file"
                         dropLabel="{{'rule-node-config.drop-file' | translate}}">
          </tb-file-input>
          <tb-file-input formControlName="cert"
                         inputId="CertSelect"
                         [existingFileName]="credentialsConfigFormGroup.get('certFileName').value"
                         (fileNameChanged)="credentialsConfigFormGroup.get('certFileName').setValue($event)"
                         label="{{'rule-node-config.cert' | translate}}"
                         noFileText="rule-node-config.no-file"
                         dropLabel="{{'rule-node-config.drop-file' | translate}}">
          </tb-file-input>
          <tb-file-input style="padding-bottom: 8px;"
                         formControlName="privateKey"
                         inputId="privateKeySelect"
                         [existingFileName]="credentialsConfigFormGroup.get('privateKeyFileName').value"
                         (fileNameChanged)="credentialsConfigFormGroup.get('privateKeyFileName').setValue($event)"
                         label="{{'rule-node-config.private-key' | translate}}"
                         noFileText="rule-node-config.no-file"
                         dropLabel="{{'rule-node-config.drop-file' | translate}}">
          </tb-file-input>
          <mat-form-field class="mat-block">
            <mat-label translate>rule-node-config.private-key-password</mat-label>
            <input type="password" matInput formControlName="password">
            <tb-toggle-password matSuffix></tb-toggle-password>
          </mat-form-field>
        </ng-template>
      </section>
    </ng-template>
  </mat-expansion-panel>
</section>
