/**
 * ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2025 ThingsBoard, Inc. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of ThingsBoard, Inc. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to ThingsBoard, Inc.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
:host {
  .mat-mdc-dialog-content {
    display: flex;
    width: 780px;
    flex-direction: column;
    gap: 16px;
    .tb-embed-image-text {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: rgba(0,0,0,0.54);
      letter-spacing: 0.2px;
    }
    .tb-form-panel-title {
      color: rgba(0, 0, 0, 0.87);
    }
  }
}

:host ::ng-deep {
  .tb-markdown-view {
    max-width: 700px;
    .tb-embed-image-code {
      .code-wrapper {
        padding: 0;
        pre[class*=language-] {
          margin: 0;
          padding: 9px 38px 9px 16px;
        }
        code[class*="language-"], pre[class*="language-"] {
          font-size: 12px;
          overflow: hidden;
          white-space: normal;
          word-break: break-word;
        }
        button.clipboard-btn {
          right: 0;
          height: 36px;
          p, div {
            background: transparent;
          }
          p {
            margin: 0;
            padding: 6px;
            font-size: 14px;
          }
          div {
            top: 0;
            padding: 8px;
            height: 38px;
            width: 38px;
          }
        }
      }
    }
  }
}
