/**
 * ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2023 ThingsBoard, Inc. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of ThingsBoard, Inc. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to ThingsBoard, Inc.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
@import '../../../../scss/constants';

:host {
  .tb-image-dialog {
    @media #{$mat-gt-xs} {
      width: 50vh;
    }
    .mat-mdc-dialog-content {
      max-height: 100%;
    }
    fieldset {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  .tb-image-container {
    height: 100%;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    .tb-image-content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      .tb-image-preview-container {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        .tb-image-preview-spacer {
          @media #{$mat-gt-xs} {
            margin-top: 100%;
          }
        }
        .tb-image-preview {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .tb-image-preview-details {
        display: flex;
        align-items: center;
        gap: 8px;
        color: rgba(0, 0, 0, 0.38);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        .mat-divider.mat-divider-vertical {
          height: 20px;
        }
      }
      .tb-image-actions {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        gap: 8px;
        color: rgba(0,0,0,0.54);
      }
    }
  }
}
