<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2018 ThingsBoard, Inc.. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<md-content flex layout="column" class="tb-progress-cover" layout-align="center center"
			ng-style="vm.dashboardStyle"
   ng-show="((vm.loading() || vm.dashboardLoading) && !vm.isEdit) || vm.isResizing">
	<md-progress-circular md-mode="indeterminate" ng-disabled="(!vm.loading() && !vm.dashboardLoading || vm.isEdit) && !vm.isResizing" class="md-warn" md-diameter="100">
	</md-progress-circular>
</md-content>
<md-menu md-position-mode="target target" tb-mousepoint-menu md-nest-level="-2">
	<md-content id="gridster-parent" class="tb-dashboard-content" flex layout-wrap ng-click="" ng-style="{'overflowY': vm.isAutofillHeight() ? 'hidden' : 'auto'}"
				tb-contextmenu="vm.openDashboardContextMenu($event, $mdOpenMousepointMenu)">
		<div ng-class="vm.dashboardClass" id="gridster-background" style="height: auto; min-height: 100%; display: inline;">
			<div id="gridster-child" gridster="vm.gridsterOpts">
				<ul>
					<li gridster-item="vm.widgetItemMap" class="tb-noselect" ng-repeat="widget in vm.widgets">
						<md-menu md-position-mode="target target" tb-mousepoint-menu>
							<div tb-expand-fullscreen
								 		fullscreen-background-style="vm.dashboardStyle"
								        expand-button-id="expand-button"
								 		expand-button-size="20"
								 		on-fullscreen-changed="vm.onWidgetFullscreenChanged(expanded, widget)"
								 		layout="column"
								 		class="tb-widget"
										ng-class="{'tb-highlighted': vm.isHighlighted(widget),
										           'tb-not-highlighted': vm.isNotHighlighted(widget),
										           'md-whiteframe-4dp': vm.dropWidgetShadow(widget),
										           'tb-has-timewindow': vm.hasTimewindow(widget)}"
										tb-mousedown="vm.widgetMouseDown($event, widget)"
										ng-click="vm.widgetClicked($event, widget)"
										tb-contextmenu="vm.openWidgetContextMenu($event, widget, $mdOpenMousepointMenu)"
									    ng-style="vm.widgetStyle(widget)">
								<div class="tb-widget-title" layout="column" layout-align="center start" ng-show="vm.showWidgetTitlePanel(widget)">
									<div ng-if="vm.hasWidgetTitleTemplate(widget)" ng-include="vm.widgetTitleTemplate(widget)"></div>
									<span ng-show="vm.showWidgetTitle(widget)" ng-style="vm.widgetTitleStyle(widget)" class="md-subhead">{{vm.widgetTitle(widget)}}</span>
									<tb-timewindow aggregation="{{vm.hasAggregation(widget)}}" ng-if="vm.hasTimewindow(widget)" ng-model="widget.config.timewindow"></tb-timewindow>
								</div>
								<div class="tb-widget-actions" layout="row" layout-align="start center" ng-show="vm.showWidgetActions(widget)" tb-mousedown="$event.stopPropagation()">
									<md-button ng-repeat="action in vm.customWidgetHeaderActions(widget)"
											   aria-label="{{action.displayName}}"
											   ng-show="!vm.isEdit"
											   ng-click="action.onAction($event)"
											   class="md-icon-button">
										<md-tooltip md-direction="{{vm.isWidgetExpanded ? 'bottom' : 'top'}}">
											{{action.displayName}}
										</md-tooltip>
										<ng-md-icon size="20" icon="{{action.icon}}"></ng-md-icon>
									</md-button>
									<md-button ng-repeat="action in vm.widgetActions(widget)"
											   aria-label="{{ action.name | translate }}"
											   ng-show="!vm.isEdit && action.show"
											   ng-click="action.onAction($event)"
											   class="md-icon-button">
											   <md-tooltip md-direction="{{vm.isWidgetExpanded ? 'bottom' : 'top'}}">
												   {{ action.name | translate }}
											   </md-tooltip>
											   <ng-md-icon size="20" icon="{{action.icon}}"></ng-md-icon>
									</md-button>
									<md-menu ng-if="!vm.isEdit && vm.enableWidgetDataExport(widget)" md-position-mode="target target">
										<md-button class="md-icon-button"  aria-label="{{ 'widget.export-data' | translate }}" ng-click="$mdOpenMenu($event)">
											<md-icon md-menu-origin aria-label="{{ 'widget.export-data' | translate }}"
													 ng-style="{color: vm.widgetColor(widget)}"
													 md-svg-icon="mdi:file-export"></md-icon>
											<md-tooltip md-direction="{{vm.isWidgetExpanded ? 'bottom' : 'top'}}">
												{{ 'widget.export-data' | translate }}
											</md-tooltip>
										</md-button>
										<md-menu-content id="exportWidgetDataMenu" width="4">
											<md-menu-item>
												<md-button ng-click="vm.exportWidgetData($event, widget, vm.types.widgetExportType.csv.value)">
													<md-icon md-menu-align-target aria-label="{{ vm.types.widgetExportType.csv.name | translate }}"
															 md-svg-icon="mdi:file-delimited"></md-icon>
													<span translate>{{vm.types.widgetExportType.csv.name}}</span>
												</md-button>
											</md-menu-item>
											<md-menu-item>
												<md-button ng-click="vm.exportWidgetData($event, widget, vm.types.widgetExportType.xls.value)">
													<md-icon md-menu-align-target aria-label="{{ vm.types.widgetExportType.xls.name | translate }}"
															 md-svg-icon="mdi:file-excel"></md-icon>
													<span translate>{{vm.types.widgetExportType.xls.name}}</span>
												</md-button>
											</md-menu-item>
										</md-menu-content>
									</md-menu>
									<md-button id="expand-button"
											   ng-show="!vm.isEdit && vm.enableWidgetFullscreen(widget)"
											   aria-label="{{ 'fullscreen.fullscreen' | translate }}"
											   class="md-icon-button"></md-button>
									<md-button ng-show="vm.isEditActionEnabled && !vm.isWidgetExpanded"
											   ng-disabled="vm.loading()"
											   class="md-icon-button"
											   ng-click="vm.editWidget($event, widget)"
											   aria-label="{{ 'widget.edit' | translate }}">
										<md-tooltip md-direction="top">
											{{ 'widget.edit' | translate }}
										</md-tooltip>
										<ng-md-icon size="20" icon="edit"></ng-md-icon>
									</md-button>
									<md-button ng-show="vm.isExportActionEnabled && !vm.isWidgetExpanded"
											   ng-disabled="vm.loading()"
											   class="md-icon-button"
											   ng-click="vm.exportWidget($event, widget)"
											   aria-label="{{ 'widget.export' | translate }}">
										<md-tooltip md-direction="top">
											{{ 'widget.export' | translate }}
										</md-tooltip>
										<ng-md-icon size="20" icon="file_download"></ng-md-icon>
									</md-button>
									<md-button ng-show="vm.isRemoveActionEnabled && !vm.isWidgetExpanded"
										ng-disabled="vm.loading()"
										class="md-icon-button"
										ng-click="vm.removeWidget($event, widget)"
										aria-label="{{ 'widget.remove' | translate }}">
										<md-tooltip md-direction="top">
											{{ 'widget.remove' | translate }}
										</md-tooltip>
										<ng-md-icon size="20" icon="close"></ng-md-icon>
									</md-button>
								</div>
								<div flex layout="column" class="tb-widget-content">
									<div flex tb-widget
										 locals="{ visibleRect: vm.visibleRect,
										 widget: widget,
										 aliasController: vm.aliasController,
										 stateController: vm.stateController,
										 isEdit: vm.isEdit,
										 isMobile: vm.isMobileSize,
										 dashboardTimewindow: vm.dashboardTimewindow,
										 dashboardTimewindowApi: vm.dashboardTimewindowApi,
										 dashboard: vm }">
									</div>
								</div>
							</div>
							<md-menu-content id="widgetMenu" width="4" ng-mouseleave="$mdCloseMousepointMenu()">
								<md-menu-item ng-repeat ="item in vm.widgetContextMenuItems">
									<md-button ng-disabled="!item.enabled" ng-click="item.action(vm.widgetContextMenuEvent, widget)">
										<span ng-if="item.shortcut" class="tb-alt-text"> {{ item.shortcut | keyboardShortcut }}</span>
										<md-icon ng-if="item.icon" md-menu-align-target aria-label="{{ item.value | translate }}" class="material-icons">{{item.icon}}</md-icon>
										<span translate>{{item.value}}</span>
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</li>
				</ul>
			</div>
		</div>
	</md-content>
	<md-menu-content id="dashboardMenu" width="4" ng-mouseleave="$mdCloseMousepointMenu()">
		<md-menu-item ng-repeat ="item in vm.contextMenuItems">
			<md-button ng-disabled="!item.enabled" ng-click="item.action(vm.contextMenuEvent)">
				<span ng-if="item.shortcut" class="tb-alt-text"> {{ item.shortcut | keyboardShortcut }}</span>
				<md-icon ng-if="item.icon" md-menu-align-target aria-label="{{ item.value | translate }}" class="material-icons">{{item.icon}}</md-icon>
				<span translate>{{item.value}}</span>
			</md-button>
		</md-menu-item>
	</md-menu-content>
</md-menu>