/**
 * Thingsboard OÜ ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2017 Thingsboard OÜ. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of Thingsboard OÜ and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Thingsboard OÜ
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
@import "~compass-sass-mixins/lib/compass";

.tb-side-menu .md-button.tb-active {
  background-color: rgba(255, 255, 255, 0.15);
  font-weight: 500;
}

.tb-side-menu, .tb-side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.tb-side-menu .tb-menu-toggle-list a.md-button {
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.tb-side-menu .tb-menu-toggle-list .md-button {
  padding: 0 16px 0 32px;
  text-transform: none;
}

.tb-side-menu .tb-menu-toggle-list .tb-menu-toggle-list a.md-button {
  padding: 0 16px 0 48px;
}

.tb-side-menu > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.tb-side-menu .md-button-toggle .md-toggle-icon {
  background-size: 100% auto;
  display: inline-block;
  margin: auto 0 auto auto;
  width: 15px;
  @include transition(transform .3s, ease-in-out);
}

.tb-side-menu .md-button {
  display: flex;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.tb-side-menu tb-menu-link span.md-toggle-icon {
  padding-top: 12px;
  padding-bottom: 12px;
}

.tb-side-menu ng-md-icon {
  margin-right: 8px;
  margin-left: 0px;
}

.tb-side-menu md-icon {
  margin-right: 8px;
  margin-left: 0px;
}
