/**
 * ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2018 ThingsBoard, Inc. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of ThingsBoard, Inc. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to ThingsBoard, Inc.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
@import "../../scss/mixins";

tb-widgets-bundle-select {
  md-select {
    margin: 0;
    padding: 5px 20px;
  }
  .tb-bundle-item {
    height: 24px;
    line-height: 24px;
  }
}

.tb-widgets-bundle-select {
  .tb-bundle-item {
    height: 48px;
    line-height: 48px;
  }
}

tb-widgets-bundle-select, .tb-widgets-bundle-select {
  .md-text {
    display: block;
    width: 100%;
  }
  .tb-bundle-item {
    display: inline-block;
    width: 100%;
    span {
      display: inline-block;
      vertical-align: middle;
    }
    .tb-bundle-system {
      font-size: 0.8rem;
      opacity: 0.8;
      float: right;
    }
  }
  md-option {
    height: auto !important;
    white-space: normal !important;
  }
}

md-toolbar {
  tb-widgets-bundle-select {
    md-select {
      background: rgba(255,255,255,0.2);
      .md-select-value {
        color: #fff;
        font-size: 1.2rem;
        span:first-child:after {
            color: #fff;
        }
      }
      .md-select-value.md-select-placeholder {
        color: #fff;
        opacity: 0.8;
      }
    }
    md-select.ng-invalid.ng-touched {
      .md-select-value {
        color: #fff !important;
      }
    }
  }
}
