<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2023 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<div class="tb-dashboard-widget-select">
  <ng-container *ngIf="selectWidgetMode === 'bundles'; else allWidgets">
    <ng-container *ngIf="widgetsBundle; else bundles">
      <ng-container *ngTemplateOutlet="widgets; context:{ fetchFunction: widgetsFetchFunction, filter: widgetsFilter }"></ng-container>
    </ng-container>
  </ng-container>
  <ng-template #allWidgets>
    <ng-container *ngTemplateOutlet="widgets; context:{ fetchFunction: allWidgetsFetchFunction, filter: allWidgetsFilter }"></ng-container>
  </ng-template>
  <ng-template #widgets let-fetchFunction="fetchFunction" let-filter="filter">
    <tb-scroll-grid
      [columns]="columns"
      [itemSize]="160"
      [fetchFunction]="fetchFunction"
      [filter]="filter"
      [itemCard]="widgetCard"
      [loadingCell]="widgetLoadingCard"
      [dataLoading]="loadingWidgets"
      [noData]="noWidgets">
    </tb-scroll-grid>
    <ng-template #widgetCard let-item="item">
      <mat-card class="tb-widget-preview-card" appearance="raised" fxLayout="column" fxLayoutGap="8px" (click)="onWidgetClicked($event, item)">
        <div class="title-container">
          <div title="{{item.name}}" class="widget-title">
            {{item.name}}
          </div>
          <div class="title-items-container">
            <div class="title-items">
              <div class="widget-type">{{ 'widget.' + item.widgetType + '-short' | translate }}</div>
              <div tb-popover [tbPopoverContent]="item.description" [tbPopoverOverlayStyle]="{maxWidth: '300px'}" tbPopoverShowCloseButton="false" class="info-banner tb-primary-fill"><span>i</span></div>
            </div>
            <div *ngIf="item.deprecated" class="widget-deprecated" translate>widget.deprecated</div>
          </div>
        </div>
        <div class="preview-container">
          <div class="preview-spacer"></div>
          <img class="preview" [src]="getPreviewImage(item.image)" alt="{{ item.title }}">
        </div>
      </mat-card>
    </ng-template>
    <ng-template #loadingWidgets>
      <div fxLayout="column"
           fxLayoutAlign="center center" class="tb-absolute-fill">
        <span class="mat-headline-5" style="padding-bottom: 20px;">
          {{ 'widget.loading-widgets' | translate }}
        </span>
        <mat-spinner color="accent" strokeWidth="5"></mat-spinner>
      </div>
    </ng-template>
    <ng-template #noWidgets>
        <span style="display: flex;"
              fxLayoutAlign="center center"
              class="mat-headline-5 tb-absolute-fill">{{(selectWidgetMode === 'bundles' ? 'widgets-bundle.empty' : 'widget.no-widgets-text') | translate}}</span>
    </ng-template>
  </ng-template>

  <ng-template #bundles>
    <tb-scroll-grid
      [columns]="columns"
      [itemSize]="160"
      [fetchFunction]="widgetBundlesFetchFunction"
      [filter]="widgetsBundleFilter"
      [itemCard]="widgetsBundleCard"
      [loadingCell]="widgetLoadingCard"
      [dataLoading]="loadingWidgetBundles"
      [noData]="noWidgetBundles">
    </tb-scroll-grid>
    <ng-template #widgetsBundleCard let-item="item">
      <mat-card class="tb-widget-preview-card" appearance="raised" fxLayout="column" fxLayoutGap="8px" (click)="selectBundle($event, item)">
        <div class="title-container">
          <div title="{{item.name}}" class="widget-title">
            {{item.title}}
          </div>
          <div class="title-items">
            <div *ngIf="isSystem(item)" class="widget-type">sys</div>
            <div tb-popover [tbPopoverContent]="item.description" [tbPopoverOverlayStyle]="{maxWidth: '300px'}" tbPopoverShowCloseButton="false" class="info-banner tb-primary-fill"><span>i</span></div>
          </div>
        </div>
        <div class="preview-container">
          <div class="preview-spacer"></div>
          <img class="preview" [src]=getPreviewImage(item.image) alt="{{ item.title }}">
        </div>
      </mat-card>
    </ng-template>
    <ng-template #loadingWidgetBundles>
      <div fxLayout="column"
           fxLayoutAlign="center center" class="tb-absolute-fill">
        <span class="mat-headline-5" style="padding-bottom: 20px;">
          {{ 'widgets-bundle.loading-widgets-bundles' | translate }}
        </span>
        <mat-spinner strokeWidth="5"></mat-spinner>
      </div>
    </ng-template>
    <ng-template #noWidgetBundles>
        <span translate
              style="display: flex;"
              fxLayoutAlign="center center"
              class="mat-headline-5 tb-absolute-fill">widgets-bundle.no-widgets-bundles-text</span>
    </ng-template>
  </ng-template>
  <ng-template #widgetLoadingCard>
    <mat-card class="tb-widget-preview-card loading-cell" appearance="raised" fxLayout="column" fxLayoutGap="8px">
      <div class="title-container">
      </div>
      <div class="preview-container">
        <div class="preview-spacer"></div>
      </div>
    </mat-card>
  </ng-template>
</div>
