<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2023 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<div class="widget-select">
  <div *ngIf="widgetsBundle; else bundles">
    <div *ngIf="(widgets$ | async)?.length; else loadingWidgets" fxFlexFill fxLayoutGap="12px grid" fxLayout="row wrap">
      <div *ngFor="let widget of widgets$ | async" class="mat-card-container">
        <mat-card appearance="raised" fxFlexFill fxLayout="row" fxLayoutGap="16px" (click)="onWidgetClicked($event, widget)">
          <div class="preview-container" fxFlex="45">
            <img class="preview" [src]="getPreviewImage(widget.image)" alt="{{ widget.title }}">
          </div>
          <div fxFlex fxLayout="column">
            <mat-card-title>{{widget.title}}</mat-card-title>
            <mat-card-subtitle>{{ 'widget.' + widget.type | translate }}</mat-card-subtitle>
            <mat-card-content *ngIf="widget.description">
              {{ widget.description }}
            </mat-card-content>
          </div>
        </mat-card>
      </div>
    </div>
    <ng-template #loadingWidgets>
      <div *ngIf="loadingWidgets$ | async; else emptyBundle" fxLayout="column"
           fxLayoutAlign="center center" class="tb-absolute-fill">
        <span class="mat-headline-5" style="padding-bottom: 20px;">
          {{ 'widget.loading-widgets' | translate }}
        </span>
        <mat-spinner color="accent" strokeWidth="5"></mat-spinner>
      </div>
      <ng-template #emptyBundle>
        <span translate
              style="display: flex;"
              fxLayoutAlign="center center"
              class="mat-headline-5 tb-absolute-fill">widgets-bundle.empty</span>
      </ng-template>
    </ng-template>
  </div>
  <ng-template #bundles>
    <div *ngIf="(widgetsBundles$ | async)?.length; else loadingWidgetBundles" fxFlexFill fxLayoutGap="12px grid" fxLayout="row wrap">
      <div *ngFor="let widgetsBundle of widgetsBundles$ | async" class="mat-card-container">
        <mat-card appearance="raised" fxFlexFill fxLayout="row" fxLayoutGap="16px" (click)="selectBundle($event, widgetsBundle)">
          <div class="preview-container" fxFlex="45">
            <img class="preview" [src]=getPreviewImage(widgetsBundle.image) alt="{{ widgetsBundle.title }}">
          </div>
          <div fxFlex fxLayout="column">
            <mat-card-title>{{ widgetsBundle.title }}</mat-card-title>
            <mat-card-subtitle *ngIf="isSystem(widgetsBundle)" translate>widgets-bundle.system</mat-card-subtitle>
            <mat-card-content *ngIf="widgetsBundle.description">
              {{ widgetsBundle.description }}
            </mat-card-content>
          </div>
        </mat-card>
      </div>
    </div>
    <ng-template #loadingWidgetBundles>
      <div *ngIf="loadingWidgetBundles$ | async; else noWidgetBundles" fxLayout="column"
           fxLayoutAlign="center center" class="tb-absolute-fill">
        <span class="mat-headline-5" style="padding-bottom: 20px;">
          {{ 'widgets-bundle.loading-widgets-bundles' | translate }}
        </span>
        <mat-spinner strokeWidth="5"></mat-spinner>
      </div>
      <ng-template #noWidgetBundles>
        <span translate
              style="display: flex;"
              fxLayoutAlign="center center"
              class="mat-headline-5 tb-absolute-fill">widgets-bundle.no-widgets-bundles-text</span>
      </ng-template>
    </ng-template>
  </ng-template>
</div>
