<!--

    ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL

    Copyright © 2016-2020 ThingsBoard, Inc. All Rights Reserved.

    NOTICE: All information contained herein is, and remains
    the property of ThingsBoard, Inc. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to ThingsBoard, Inc.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.

    Dissemination of this information or reproduction of this material is strictly forbidden
    unless prior written permission is obtained from COMPANY.

    Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
    managers or contractors who have executed Confidentiality and Non-disclosure agreements
    explicitly covering such access.

    The copyright notice above does not evidence any actual or intended publication
    or disclosure  of  this source code, which includes
    information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
    ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
    OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
    THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
    AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
    THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
    DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
    OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.

-->
<section formGroup="form" fxLayout="column">
    <fieldset [disabled]="(isLoading$ | async) || isEdit">
        <div fxLayout="column" fxLayout.gt-sm="row">
            <mat-form-field fxFlex="40" class="mat-block">
                <mat-label translate>integration.port</mat-label>
                <input matInput type="number" step="1" min="1" max="65535" required
                        formControlName="port">
                <div *ngIf="form.get('port')?.dirty">  
         <mat-error translate *ngIf="form.get('port')?.errors.required">integration.port-required</mat-error>
                    <mat-error translate *ngIf="form.get('')?.min">integration.port-range</mat-error>
                    <mat-error translate *ngIf="form.get('')?.max">integration.port-range</mat-error>
                </div>
            </mat-form-field>
        </div>
        <div fxLayout="column">
            <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-checkbox [disabled]="(isLoading$ | async) || isEdit"
                             aria-mat-label="{{ 'integration.so-broadcast' | translate }}"
                             formControlName="soBroadcast">
                    {{ 'integration.so-broadcast' | translate }}
                </mat-checkbox>
            </div>
            <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field fxFlex="40" class="mat-block">
                    <mat-label translate>integration.so-rcv-buf</mat-label>
                    <input matInput type="number" step="1" min="1" max="65535" required
                            formControlName="soRcvBuf">
                    <div *ngIf="form.get('soRcvBuf')?.dirty">  
         <mat-error translate *ngIf="form.get('soRcvBuf')?.errors.required">integration.so-rcv-buf-required</mat-error>
                        <mat-error translate *ngIf="form.get('')?.min">integration.so-rcv-buf-range</mat-error>
                        <mat-error translate *ngIf="form.get('')?.max">integration.so-rcv-buf-range</mat-error>
                    </div>
                </mat-form-field>
            </div>
        </div>
        <mat-accordeon class="tb-integration-panel-group" [ngClass]="{'disabled': (isLoading$ | async) || isEdit}" mat-component-id="handlerConfigurationPanelGroup">
            <mat-expansion-panel mat-component-id="handlerConfigurationPanel">            
                
                    <mat-expansion-panel-header ng-click="$matExpansionPanel('handlerConfigurationPanel').collapse()">
                        <div class="tb-panel-title" translate>integration.handler-configuration</div>
                        <div class="tb-panel-prompt">{{handlerConfigurationTypes[handlerConfiguration.handlerType].name | translate }}</div>
                        <span fxFlex></span>
                        <mat-expansion-panel-icon></mat-expansion-panel-icon>
                    </mat-expansion-panel-header>
                    <mat-expansion-panel-content>
                        <div>
                            <mat-form-field class="mat-block">
                                <mat-label translate>integration.handler-configuration-type</mat-label>
                                <mat-select required  formControlName="handlerConfiguration.handlerType"
                                           [disabled]="(isLoading$ | async) || isEdit" (change)="handlerConfigurationTypeChanged()">
                                    <mat-option *ngIf="lethandlerConfigurationType  in handlerConfigurationTypes"  [value]="handlerConfigurationType.value">
                                        {{handlerConfigurationType.name | translate}}
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="form.get('handlerConfigurationType')?.dirty">  
         <mat-error translate *ngIf="form.get('handlerConfigurationType')?.errors.required">integration.handler-configuration-type-required</mat-error>
                                </div>
                            </mat-form-field>
                            <section ng-if="handlerConfiguration.handlerType ==handlerConfigurationTypes.text.value">
                                <div fxLayout="column" fxLayout.gt-sm="row">
                                    <mat-form-field fxFlex="40" class="mat-block">
                                        <mat-label translate>integration.charset-name</mat-label>
                                        <input matInput type="text" required
                                                formControlName="handlerConfiguration.charsetName">
                                        <div *ngIf="form.get('charsetName')?.dirty">  
         <mat-error translate *ngIf="form.get('charsetName')?.errors.required">integration.charset-name-required</mat-error>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </section>
                            <section ng-if="handlerConfiguration.handlerType ==handlerConfigurationTypes.hex.value">
                                <div fxLayout="column" fxLayout.gt-sm="row">
                                    <mat-form-field fxFlex="40" class="mat-block">
                                        <mat-label translate>integration.max-frame-length</mat-label>
                                        <input matInput type="number" step="1" min="1" max="65535" required
                                                formControlName="handlerConfiguration.maxFrameLength">
                                        <div *ngIf="form.get('maxFrameLength')?.dirty">  
         <mat-error translate *ngIf="form.get('maxFrameLength')?.errors.required">integration.max-frame-length-required</mat-error>
                                            <mat-error translate *ngIf="form.get('')?.min">integration.max-frame-length-range</mat-error>
                                            <mat-error translate *ngIf="form.get('')?.max">integration.max-frame-length-range</mat-error>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </section>
                        </div>
                    </mat-expansion-panel-content>
                
            </mat-expansion-panel>
        </mat-accordeon>
    </fieldset>
    <div style="height: 30px;"></div>
</section>
