/**
 * Thingsboard OÜ ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2017 Thingsboard OÜ. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of Thingsboard OÜ and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Thingsboard OÜ
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
@import "~compass-sass-mixins/lib/animate";

.tb-invisible {
  display: none !important;
}

.tb-primary-toolbar {
  h1 {
    font-size: 24px !important;
    font-weight: 400 !important;
  }
}

.tb-breadcrumb {
  font-size: 18px !important;
  font-weight: 400 !important;
  h1, a, span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  a {
    border: none;
    opacity: 0.75;
    @include transition(opacity 0.35s);
  }
  a:hover, a:focus {
    opacity: 1;
    text-decoration: none !important;
    border: none;
  }
  .divider {
    padding: 0px 30px;
  }
}

md-sidenav.tb-site-sidenav {
  width: 250px;
}

.tb-logo-title {
  width: auto;
  margin: auto;
}

.tb-nav-header {
  flex-shrink: 0;
  z-index: 2;
  white-space: nowrap;
}

.tb-nav-header-toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  flex-shrink: 0;
  z-index: 2;
  white-space: nowrap;
}

.tb-entity-subtype-search {
  margin-top: 15px;
}

.tb-entity-search {
  margin-top: 34px;
}
