/**
 * ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2023 ThingsBoard, Inc. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of ThingsBoard, Inc. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to ThingsBoard, Inc.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
@import "../../../scss/constants";

$previewSize: 100px !default;

:host {

  .tb-container {
    margin-top: 0;
    label.tb-title {
      display: block;
      padding-bottom: 8px;
    }
  }

  .tb-file-select-container {
    position: relative;
    width: 100%;
    height: $previewSize;
  }

  .tb-file-preview {
    width: auto;
    max-width: $previewSize;
    height: auto;
    max-height: $previewSize;
  }

  .tb-file-clear-container {
    position: relative;
    float: right;
    width: 48px;
    height: $previewSize;
  }

  .tb-file-clear-btn {
    position: absolute !important;
    top: 50%;
    transform: translate(0%, -50%) !important;
  }

  .file-input {
    display: none;
  }

  .tb-flow-drop {
    position: relative;
    height: $previewSize;
    overflow: hidden;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-sizing: border-box;

    .upload-label {
      width: 100%;
      height: 100%;
      padding: 0 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.54);
      text-align: center;
      .mat-icon {
        margin-right: 17px;
      }
    }
  }
}

:host ::ng-deep {
  button.browse-file {
    padding: 0;
    font-size: 16px;
    span.mdc-button__label {
      display: block;
      cursor: pointer;
      padding: 0 16px;
    }
  }
}
