/**
 * ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2023 ThingsBoard, Inc. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of ThingsBoard, Inc. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to ThingsBoard, Inc.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
@import "../../../scss/constants";

$containerHeight: 120px !default;
$previewContainerWidth: 168px !default;
$previewSize: 96px !default;

:host {

  .tb-container {
    margin-top: 0;
    label.tb-title {
      display: block;
      padding-bottom: 8px;
    }
  }

  .tb-image-select-container {
    position: relative;
    width: 100%;
    height: $containerHeight;
  }

  .image-container {
    position: relative;
    float: left;
    height: $containerHeight;
    padding: 12px;
    margin-right: 8px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
  }

  .image-content-container {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-left: 8px;
    height: $previewSize;
    &.no-padding {
      padding-left: 0px;
    }
  }

  .tb-image-preview {
    width: auto;
    max-width: $previewSize - 2px;
    height: auto;
    max-height: $previewSize  - 2px;
  }

  .tb-image-preview-container {
    position: relative;
    float: left;
    width: $previewSize;
    height: $previewSize;
    margin-top: -1px;
    margin-bottom: -1px;
    border: 1px solid rgba(0, 0, 0, 0.54);

    div {
      width: 100%;
      font-size: 18px;
      text-align: center;
    }

    div,
    .tb-image-preview {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .tb-image-clear-container {
    position: relative;
    float: right;
    height: $previewSize;
    display: flex;
    align-items: center;
    &.full-height {
      height: $containerHeight;
    }
  }

  .file-input {
    display: none;
  }

  .tb-flow-drop {
    position: relative;
    height: $containerHeight;
    overflow: hidden;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-sizing: border-box;

    &.float-left {
      float: left;
    }

    .upload-label {
      width: 100%;
      height: 100%;
      padding: 0 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.54);
      text-align: center;
      .mat-icon {
        margin-right: 17px;
      }
    }
  }

  .tb-hint{
    margin-top: 8px;
  }
}

:host ::ng-deep {
  button.browse-file {
    padding: 0;
    font-size: 16px;
    span.mdc-button__label {
      display: block;
      cursor: pointer;
      padding: 0 16px;
    }
  }
}
