/**
 * ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2023 ThingsBoard, Inc. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of ThingsBoard, Inc. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to ThingsBoard, Inc.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
@import '../../../scss/constants';

.tb-widgets-bundle-select {
  .mdc-list-item__primary-text {
    width: 100%;
  }
}

tb-widgets-bundle-select {
  .mat-mdc-select-arrow {
    width: 18px;
  }
}

tb-widgets-bundle-select, .tb-widgets-bundle-select {
  .tb-bundle-item {
    .tb-bundle-system {
      float: right;
      font-size: .8rem;
      opacity: .8;
    }
  }
}

mat-toolbar {
  tb-widgets-bundle-select {
    .mat-mdc-text-field-wrapper {
      border-radius: 0;
      .mat-mdc-form-field-infix {
        background: rgba(255, 255, 255, .2);
        padding: 5px 20px !important;
        min-height: 44.5px;
        .mat-mdc-select {
          .mat-mdc-select-trigger {
            height: 34.5px;
            .mat-mdc-select-value {
              vertical-align: middle;
              min-height: 30px;
              height: 30px;
              padding: 2px 2px 1px;
              .mat-mdc-select-value-text {
                font-size: 1.2rem;
                color: #fff;
              }
            }
          }
          .mat-mdc-select-arrow {
            width: 18px;
          }
        }
        @media #{$mat-xs} {
          width: auto;
        }
      }
      .mdc-line-ripple {
        display: none;
      }
    }
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
    .mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow-wrapper .mat-mdc-select-arrow {
      color: #fff;
    }
  }
}
