/**
 * Thingsboard OÜ ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2018 Thingsboard OÜ. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of Thingsboard OÜ and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Thingsboard OÜ
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
.tb-relation-filters {
  .header {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    .cell {
      padding-left: 5px;
      padding-right: 5px;
      color: rgba(0,0,0,.54);
      font-size: 12px;
      font-weight: 700;
      white-space: nowrap;
    }
  }
  .body {
    padding-left: 5px;
    padding-right: 5px;
    max-height: 300px;
    overflow: auto;
    padding-bottom: 20px;
    .row {
      padding-top: 5px;
    }
    .cell {
      padding-left: 5px;
      padding-right: 5px;

      md-select {
        margin: 0 0 24px;
      }

      md-input-container {
        margin: 0;
      }

      md-chips-wrap {
        padding: 0px;
        margin: 0 0 24px;
        md-autocomplete {
          height: 30px;
          md-autocomplete-wrap {
            height: 30px;
          }
        }
      }
      .md-chips .md-chip-input-container input {
        padding: 2px 2px 2px;
        height: 26px;
        line-height: 26px;
      }

    }

    .md-button {
      margin: 0;
    }
  }
}