/**
 * ThingsBoard, Inc. ("COMPANY") CONFIDENTIAL
 *
 * Copyright © 2016-2023 ThingsBoard, Inc. All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of ThingsBoard, Inc. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to ThingsBoard, Inc.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 *
 * Dissemination of this information or reproduction of this material is strictly forbidden
 * unless prior written permission is obtained from COMPANY.
 *
 * Access to the source code contained herein is hereby forbidden to anyone except current COMPANY employees,
 * managers or contractors who have executed Confidentiality and Non-disclosure agreements
 * explicitly covering such access.
 *
 * The copyright notice above does not evidence any actual or intended publication
 * or disclosure  of  this source code, which includes
 * information that is confidential and/or proprietary, and is a trade secret, of  COMPANY.
 * ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,
 * OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT
 * THE EXPRESS WRITTEN CONSENT OF COMPANY IS STRICTLY PROHIBITED,
 * AND IN VIOLATION OF APPLICABLE LAWS AND INTERNATIONAL TREATIES.
 * THE RECEIPT OR POSSESSION OF THIS SOURCE CODE AND/OR RELATED INFORMATION
 * DOES NOT CONVEY OR IMPLY ANY RIGHTS TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS,
 * OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART.
 */
@import '../../../../../scss/constants';

.entity-version-diff-view {
  position: relative;
  &:not(.tb-fullscreen) {
    max-height: 95vh;
    &.content-ready {
      width: 600px;
      @media #{$mat-gt-sm} {
        width: 800px;
      }
      @media #{$mat-gt-md} {
        width: 1000px
      }
      @media #{$mat-gt-xmd} {
        width: 1200px
      }
    }
  }
  &.tb-fullscreen {
    height: 100%;
    background: #fff;
    .bottom-panel {
      margin-bottom: 16px;
    }
  }
  .mat-toolbar {
    background: #fff;
    .mat-divider-vertical {
      height: 40px;
      margin-right: 16px;
      margin-left: 16px;
      @media #{$mat-xs} {
        margin-right: 8px;
        margin-left: 8px;
      }
    }
    .diff-count {
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .version-title {
    margin-left: 4px;
  }
  .diff-viewer {
    position: relative;
    border: 1px solid #c0c0c0;
    margin-top: 4px;
    margin-bottom: 16px;
    .acediff__diffLine {
      z-index: 1;
    }
  }
}
