haproxy/certs.d/**
haproxy/letsencrypt/**
tb-edge/log/**
tb-edge/db/**
tb-edge/postgres/**
tb-edge/cassandra/**
tb-transports/*/log
tb-vc-executor/log/**
tb-edge/redis-cluster-data-0/**
tb-edge/redis-cluster-data-1/**
tb-edge/redis-cluster-data-2/**
tb-edge/redis-cluster-data-3/**
tb-edge/redis-cluster-data-4/**
tb-edge/redis-cluster-data-5/**
tb-edge/redis-sentinel-data-master/**
tb-edge/redis-sentinel-data-slave/**
tb-edge/redis-sentinel-data-sentinel/**
tb-edge/redis-data/**

!.env
